Repository gocd/gocd, pull requests merged in 2018-08, with the labels that each got.

#4995 Invalidate cache aftercommit within the transaction started by the service
  server/src/main/java/com/thoughtworks/go/server/dao/DataSharingSettingsSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/service/datasharing/DataSharingSettingsService.java
  server/src/test-fast/java/com/thoughtworks/go/server/dao/DataSharingSettingsSqlMapDaoTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/datasharing/DataSharingSettingsServiceIntegrationTest.java
Labels: data-sharing

#4999 Remove datasharing-public.pem which was used to encrypt usage_data
  server/src/main/resources/datasharing-public.pem
Labels: data-sharing

#4998 Encrypt usage data information using AES and RSA
  .gitignore
  api/api-data-sharing-usage-data-v2/build.gradle
  api/api-data-sharing-usage-data-v2/src/main/java/com/thoughtworks/go/apiv2/datasharing/usagedata/UsageStatisticsControllerV2Delegate.java
  api/api-data-sharing-usage-data-v2/src/main/java/com/thoughtworks/go/apiv2/datasharing/usagedata/representers/EncryptedDataRepresenter.java
  api/api-data-sharing-usage-data-v2/src/main/java/com/thoughtworks/go/apiv2/datasharing/usagedata/representers/UsageStatisticsRepresenter.java
  api/api-data-sharing-usage-data-v2/src/main/java/com/thoughtworks/go/apiv2/datasharing/usagedata/spring/UsageStatisticsControllerV2.java
  api/api-data-sharing-usage-data-v2/src/test/groovy/com/thoughtworks/go/apiv2/datasharing/usagedata/UsageStatisticsControllerV2DelegateTest.groovy
  api/api-data-sharing-usage-data-v2/src/test/groovy/com/thoughtworks/go/apiv2/datasharing/usagedata/representers/EncryptedDataRepresenterTest.groovy
  api/api-data-sharing-usage-data-v2/src/test/groovy/com/thoughtworks/go/apiv2/datasharing/usagedata/representers/UsageStatisticsRepresenterTest.groovy
  api/api-data-sharing-usage-data-v2/src/test/resources/master-private.pem
  api/api-data-sharing-usage-data-v2/src/test/resources/master-public.pem
  api/api-data-sharing-usage-data-v2/src/test/resources/subordinate-private.pem
  api/api-data-sharing-usage-data-v2/src/test/resources/subordinate-public.pem
  api/api-data-sharing-usage-data-v2/src/test/resources/subordinate-public.pem.sha512
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  server/src/main/java/com/thoughtworks/go/server/util/EncryptionHelper.java
  server/src/main/java/com/thoughtworks/go/server/util/RSAEncryptionHelper.java
  server/src/test-fast/java/com/thoughtworks/go/server/util/EncryptionHelperTest.java
  server/webapp/WEB-INF/applicationContext-global.xml
  server/webapp/WEB-INF/rails.new/spec/webpack/models/shared/data_sharing/usage_data_spec.js
  server/webapp/WEB-INF/rails.new/webpack/models/shared/data_sharing/usage_data.js
  settings.gradle
Labels: data-sharing

#5019 Send GoCD Full version instead of GoCD version as part of GoCD data sharing information
  server/src/main/java/com/thoughtworks/go/server/service/datasharing/DataSharingUsageDataService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/datasharing/DataSharingUsageDataServiceTest.java
Labels: data-sharing

#5000 Dashboard view tabs list dropdown
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/pipeline_configs/_dashboard_view_tabs.scss
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/model/personalization_vm_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/dashboard_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/edit_tab_dropdown.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/models/personalization_vm.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/personalized_views_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/sortable_view_tabs.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/tabs_list_dropdown.js.msx
Labels: dashboard

#5042 Collect extra metrics as part of data sharing (#5015)
  .gitignore
  api/api-data-sharing-usage-data-v2/src/test/groovy/com/thoughtworks/go/apiv2/datasharing/usagedata/representers/UsageStatisticsRepresenterTest.groovy
  api/api-data-sharing-usage-data-v3/build.gradle
  api/api-data-sharing-usage-data-v3/src/main/java/com/thoughtworks/go/apiv3/datasharing/usagedata/UsageStatisticsControllerV3Delegate.java
  api/api-data-sharing-usage-data-v3/src/main/java/com/thoughtworks/go/apiv3/datasharing/usagedata/representers/EncryptedDataRepresenter.java
  api/api-data-sharing-usage-data-v3/src/main/java/com/thoughtworks/go/apiv3/datasharing/usagedata/representers/UsageStatisticsRepresenter.java
  api/api-data-sharing-usage-data-v3/src/main/java/com/thoughtworks/go/apiv3/datasharing/usagedata/spring/UsageStatisticsControllerV3.java
  api/api-data-sharing-usage-data-v3/src/test/groovy/com/thoughtworks/go/apiv3/datasharing/usagedata/UsageStatisticsControllerV3DelegateTest.groovy
  api/api-data-sharing-usage-data-v3/src/test/groovy/com/thoughtworks/go/apiv3/datasharing/usagedata/representers/EncryptedDataRepresenterTest.groovy
  api/api-data-sharing-usage-data-v3/src/test/groovy/com/thoughtworks/go/apiv3/datasharing/usagedata/representers/UsageStatisticsRepresenterTest.groovy
  api/api-data-sharing-usage-data-v3/src/test/resources/master-private.pem
  api/api-data-sharing-usage-data-v3/src/test/resources/master-public.pem
  api/api-data-sharing-usage-data-v3/src/test/resources/subordinate-private.pem
  api/api-data-sharing-usage-data-v3/src/test/resources/subordinate-public.pem
  api/api-data-sharing-usage-data-v3/src/test/resources/subordinate-public.pem.sha512
  server/src/main/java/com/thoughtworks/go/server/domain/UsageStatistics.java
  server/src/main/java/com/thoughtworks/go/server/service/datasharing/DataSharingUsageDataService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/datasharing/DataSharingUsageDataServiceTest.java
  server/webapp/WEB-INF/applicationContext-global.xml
  settings.gradle
Labels: data-sharing

#5060 Add drilldown handler for vsm analytics charts
  server/webapp/WEB-INF/rails.new/app/assets/javascripts/vsm_analytics.js
  server/webapp/WEB-INF/rails.new/app/helpers/application_helper.rb
  server/webapp/WEB-INF/rails.new/app/views/value_stream_map/show.html.erb
  server/webapp/WEB-INF/rails.new/app/views/value_stream_map/show_material.html.erb
  server/webapp/WEB-INF/rails.new/spec/helpers/application_helper_spec.rb
  server/webapp/WEB-INF/rails.new/webpack/rails-shared/plugin-endpoint-request-handler.js
Labels: analytics, vsm

#5068 Add description of newly added data sharing fields
  server/webapp/WEB-INF/rails.new/spec/webpack/views/data_sharing_settings/data_sharing_settings_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/data_sharing_settings/toggle_consent_widget.js.msx
Labels: data-sharing

#5098 Remove pipeline on hover styles after coming out of analytics mode
  server/webapp/WEB-INF/rails.new/app/assets/javascripts/vsm_renderer.js
Labels: analytics, vsm

#5101 Highlight material when the VSM is rendered for a specific material (#5095)
  server/webapp/WEB-INF/rails.new/app/assets/javascripts/vsm_renderer.js
  server/webapp/WEB-INF/rails.new/spec/javascripts/value_stream_map_renderer_spec.js
Labels: analytics, vsm

#5106 [Analytics Plugin] Hide multiple pipeline instances from the VSM pipeline tile in analytics mode
  server/webapp/WEB-INF/rails.new/app/assets/javascripts/vsm_renderer.js
Labels: analytics, vsm
