Repository gocd/gocd, pull requests merged in 2018-11, with the labels that each got.

#5362 Remove pipeline from dashboard cache if its deleted (#4481)
  server/src/main/java/com/thoughtworks/go/server/service/GoDashboardService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/GoDashboardServiceTest.java
Labels: dashboard

#5389 Fix plugin settings icon click issue
  server/webapp/WEB-INF/rails/webpack/views/components/icons/index.tsx
Labels: UI Refactoring

#5299 Api to check elastic profile usage.
  api/api-elastic-profile-v1/src/main/java/com/thoughtworks/go/apiv1/elasticprofile/ElasticProfileControllerV1.java
  api/api-elastic-profile-v1/src/main/java/com/thoughtworks/go/apiv1/elasticprofile/representers/JobConfigIdentifierRepresenter.java
  api/api-elastic-profile-v1/src/test/groovy/com/thoughtworks/go/apiv1/elasticprofile/ElasticProfileControllerV1Test.groovy
  api/api-elastic-profile-v1/src/test/groovy/com/thoughtworks/go/apiv1/elasticprofile/representers/JobConfigIdentifierRepresenterTest.groovy
  config/config-api/src/test/java/com/thoughtworks/go/helper/PipelineConfigMother.java
  server/src/main/java/com/thoughtworks/go/server/service/ElasticProfileService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticProfileServiceTest.java
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: elastic-agents

#5419 Move agents API v4 to spark
  .gitignore
  api/api-agents-v4/build.gradle
  api/api-agents-v4/src/main/java/com/thoughtworks/go/apiv4/agents/AgentsControllerV4.java
  api/api-agents-v4/src/main/java/com/thoughtworks/go/apiv4/agents/model/AgentBulkUpdateRequest.java
  api/api-agents-v4/src/main/java/com/thoughtworks/go/apiv4/agents/model/AgentUpdateRequest.java
  api/api-agents-v4/src/main/java/com/thoughtworks/go/apiv4/agents/representers/AgentBulkUpdateRequestRepresenter.java
  api/api-agents-v4/src/main/java/com/thoughtworks/go/apiv4/agents/representers/AgentRepresenter.java
  api/api-agents-v4/src/main/java/com/thoughtworks/go/apiv4/agents/representers/AgentUpdateRequestRepresenter.java
  api/api-agents-v4/src/main/java/com/thoughtworks/go/apiv4/agents/representers/AgentsRepresenter.java
  api/api-agents-v4/src/main/java/com/thoughtworks/go/apiv4/agents/representers/BuildDetailsRepresenter.java
  api/api-agents-v4/src/main/java/com/thoughtworks/go/apiv4/agents/representers/UpdateRequestRepresenter.java
  api/api-agents-v4/src/test/groovy/com/thoughtworks/go/apiv4/agents/AgentsControllerV4Test.groovy
  api/api-agents-v4/src/test/groovy/com/thoughtworks/go/apiv4/agents/representers/AgentBulkUpdateRequestRepresenterTest.groovy
  api/api-agents-v4/src/test/groovy/com/thoughtworks/go/apiv4/agents/representers/AgentRepresenterTest.groovy
  api/api-agents-v4/src/test/groovy/com/thoughtworks/go/apiv4/agents/representers/AgentUpdateRequestRepresenterTest.groovy
  api/api-agents-v4/src/test/groovy/com/thoughtworks/go/apiv4/agents/representers/AgentsRepresenterTest.groovy
  api/api-base/src/main/java/com/thoughtworks/go/api/representers/ErrorGetter.java
  api/api-base/src/main/java/com/thoughtworks/go/api/representers/JsonReader.java
  common/src/main/java/com/thoughtworks/go/domain/AgentInstance.java
  common/src/test/java/com/thoughtworks/go/helper/AgentInstanceMother.java
  server/src/main/java/com/thoughtworks/go/server/SparkOrRailsToggle.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/src/test-fast/java/com/thoughtworks/go/server/SparkOrRailsToggleTest.java
  server/webapp/WEB-INF/applicationContext-global.xml
  server/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/webapp/WEB-INF/rails/webpack/models/agents/agents.js
  server/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
  spark/spark-base/src/test/groovy/com/thoughtworks/go/spark/ControllerTrait.groovy
Labels: agents, apis

#5449 Drain mode api (#5446)
  .gitignore
  api/api-server-drain-mode-v1/build.gradle
  api/api-server-drain-mode-v1/src/main/java/com/thoughtworks/go/apiv1/serverdrainmode/ServerDrainModeControllerV1.java
  api/api-server-drain-mode-v1/src/main/java/com/thoughtworks/go/apiv1/serverdrainmode/representers/DrainModeRepresenter.java
  api/api-server-drain-mode-v1/src/test/groovy/com/thoughtworks/go/apiv1/serverdrainmode/ServerDrainModeControllerV1Test.groovy
  api/api-server-drain-mode-v1/src/test/groovy/com/thoughtworks/go/apiv1/serverdrainmode/representer/DrainModeRepresenterTest.groovy
  domain/src/main/java/com/thoughtworks/go/server/domain/ServerDrainMode.java
  server/src/main/java/com/thoughtworks/go/server/service/DrainModeService.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/webapp/WEB-INF/applicationContext-global.xml
  server/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: drain-mode

#5454 Do not allow creation, modification and deletion of GoCD entities during server drain mode (#5450)
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filters/ModeAwareFilter.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filters/helpers/ServerUnavailabilityResponse.java
  server/src/main/java/com/thoughtworks/go/server/service/DrainModeService.java
  server/src/main/java/com/thoughtworks/go/server/web/BackupFilter.java
  server/src/main/resources/server_in_drain_mode.html
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/filters/ModeAwareFilterTest.java
Labels: drain-mode

#5456 Do not schedule timer trigger pipelines during server drain mode (#5190)
  server/src/main/java/com/thoughtworks/go/server/service/TimerScheduler.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/TimerSchedulerQuartzIntegrationTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/TimerSchedulerTest.java
Labels: drain-mode

#5458 Do not assign scheduled jobs to agents during server drain mode (#5190)
  server/src/main/java/com/thoughtworks/go/server/service/BuildAssignmentService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/BuildAssignmentServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/BuildAssignmentServiceIntegrationTest.java
Labels: drain-mode

#5468 Config repo api fixes
  api/api-config-repos-v1/src/main/java/com/thoughtworks/go/apiv1/configrepos/representers/MaterialRepresenter.java
  api/api-config-repos-v1/src/test/groovy/com/thoughtworks/go/apiv1/configrepos/representers/MaterialRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/config/update/ConfigRepoCommand.java
  server/src/main/java/com/thoughtworks/go/config/update/CreateConfigRepoCommand.java
  server/src/main/java/com/thoughtworks/go/config/update/UpdateConfigRepoCommand.java
  server/src/main/java/com/thoughtworks/go/server/service/ConfigRepoService.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/CreateConfigRepoCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/UpdateConfigRepoCommandTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ConfigRepoServiceIntegrationTest.java
Labels: config repo
