Repository gocd/gocd, pull requests merged in 2018-02, with the labels that each got.

#4328 Add environment variables to trigger with options popup (#4234)
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/webapp/WEB-INF/rails.new/spec/webpack/models/dashboard/environment_variables_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/models/pipeline_configs/encrypted_value_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/environment_variables_for_trigger_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/pipeline_trigger_with_options_modal_body_spec.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/environment_variables.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/trigger_with_options_info.js
  server/webapp/WEB-INF/rails.new/webpack/models/mixins/model_mixins.js
  server/webapp/WEB-INF/rails.new/webpack/models/pipeline_configs/encrypted_value.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/environment_variables_for_trigger_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_trigger_with_options_modal_body.js.msx
Labels: dashboard

#4332 Only render the environment variables tabs if require (#4234)
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/pipeline_trigger_with_options_modal_body_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/environment_variables_for_trigger_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_trigger_with_options_modal_body.js.msx
Labels: dashboard

#4333 Move Trigger with options widgets to trigger_with_options directory
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/environment_variables_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/material_info_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/material_revision_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/materials_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/modal_body_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_instance_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_operations_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/environment_variables_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/material_info_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/material_revision_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/materials_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/modal_body.js.msx
Labels: dashboard

#4343 Reduce spacing between pipeline name and pipeline operation buttons and underline pipeline instance links (#4081) (#4254)
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
Labels: dashboard

#4344 Clear pause message after the pause message popup is closed (#4309)
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/dashboard_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_operations_widget.js.msx
Labels: dashboard

#4345 Fix dashboard pipeline search performance issues
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/dashboard_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/dashboard_widget.js.msx
Labels: dashboard

#4365 * Personalize View fixes
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/personalize_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/pipeline_selection.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/dashboard_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/personalize_widget.js.msx
Labels: dashboard

#4368 Minor refactoring
  server/webapp/WEB-INF/rails.new/spec/webpack/models/dashboard/dashboard_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/model/material_search_vm_spec.js
  server/webapp/WEB-INF/rails.new/webpack/helpers/ajax_helper.js
  server/webapp/WEB-INF/rails.new/webpack/helpers/mrequest.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/dashboard.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/material_search.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/pipeline.js
Labels: dashboard

#4371 Styles improvement on Trigger with options modal popup (#4236)
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/shared/_common.scss
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_operations_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/environment_variables_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/material_info_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/material_search_results_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/materials_widget.js.msx
Labels: dashboard

#4383 Dashboard api response fixes
  api/api-dashboard-v2/src/main/java/com/thoughtworks/go/apiv2/dashboard/representers/PipelineInstanceRepresenter.java
  api/api-dashboard-v2/src/main/java/com/thoughtworks/go/apiv2/dashboard/representers/PipelineRepresenter.java
  api/api-dashboard-v2/src/test/groovy/com/thoughtworks/go/apiv2/dashboard/representers/PipelineRepresenterTest.groovy
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: dashboard

#4385 Support turning off automatic page refresh using query param
  server/webapp/WEB-INF/rails.new/webpack/helpers/ajax_poller.js
Labels: dashboard

#4396 Persist Search Text on the new dashboard page (#3739) (#4111)
  server/webapp/WEB-INF/rails.new/spec/webpack/models/dashboard/dashboard_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/dashboard_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/dashboard.js
  server/webapp/WEB-INF/rails.new/webpack/single_page_apps/new_dashboard.js
Labels: dashboard

#4395 Validate plugin exists before fetching plugin capabilities from pluginInfos (#3305)
  server/webapp/WEB-INF/rails.new/spec/webpack/views/agents/agent_row_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/agents/agent_row_widget.js.msx
Labels: agents, bug

#4394 Personalize dropdown view changes
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/personalize_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/personalize_widget.js.msx
Labels: dashboard

#4372 Fixes changes dropdown in case of multiple pipeline instances:
  server/webapp/WEB-INF/rails.new/spec/webpack/models/dashboard/pipeline_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/dashboard_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/model/dashboard_view_model_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/pipeline_instance_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/pipeline_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/pipeline.js
  server/webapp/WEB-INF/rails.new/webpack/single_page_apps/new_dashboard.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/models/dashboard_view_model.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_instance_widget.js.msx
Labels: dashboard

#4399 Reinitialize dashboard model vm for pipeline instances on each dashboard update (#4081)
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/model/dashboard_view_model_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/models/dashboard_view_model.js
Labels: dashboard

#4406 Show server scheduled at time (#4310)
  server/webapp/WEB-INF/rails.new/app/helpers/application_helper.rb
  server/webapp/WEB-INF/rails.new/app/views/layouts/single_page_app.html.erb
  server/webapp/WEB-INF/rails.new/spec/webpack/helpers/specHelper.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/pipeline_instance_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/material_info_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/material_search_results_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/server_health_messages/server_health_messages_count_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/helpers/time_formatter.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_instance_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/material_info_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/material_search_results_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/server_health_messages/server_health_messages_count_widget.js.msx
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/InitialContextProvider.java
  spark/spark-spa/src/main/resources/velocity/layouts/single_page_app.vm
Labels: dashboard

#4407 Trigger a pipeline on Dashboard (#4081)
  server/webapp/WEB-INF/rails.new/spec/webpack/models/dashboard/pipeline_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/pipeline_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/helpers/spark_routes.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/pipeline.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_operations_widget.js.msx
Labels: dashboard

#4409 Trigger a pipeline with options on Dashboard (#4081) (#4234)
  server/webapp/WEB-INF/rails.new/spec/webpack/models/dashboard/trigger_with_options_info_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/pipeline_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/trigger_with_options_info.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_operations_widget.js.msx
Labels: dashboard

#4410 Fix Trigger with option modal rendering issue when reopened (#4387)
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/pipeline_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_operations_widget.js.msx
Labels: dashboard

#4413 Disable Trigger and Trigger with options button when pipeline is paused (#4348)
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/pipeline_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_operations_widget.js.msx
Labels: dashboard

#4414 Disable cursor when pipeline settings and pipeline unlocking is not allowed (#4348)
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
Labels: dashboard

#4415 Pipeline Group links changes (#4347)
  server/webapp/WEB-INF/rails.new/config/initializers/jsroutes.rb
  server/webapp/WEB-INF/rails.new/spec/webpack/models/dashboard/pipeline_groups_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/dashboard_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/pipeline_groups.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/dashboard_widget.js.msx
Labels: dashboard

#4426 Styles improvement on Trigger with options modal popup (#4236)
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/environment_variables_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/environment_variables_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/material_info_widget.js.msx
Labels: dashboard

#4408 Optimize the SQL executed for the new dashboard
  config/config-api/src/main/java/com/thoughtworks/go/config/CaseInsensitiveString.java
  server/src/main/java/com/thoughtworks/go/server/dao/PipelineDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/PipelineSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dashboard/GoDashboardCurrentStateLoader.java
  server/src/main/resources/com/thoughtworks/go/server/dao/maps/Pipeline.xml
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardCurrentStateLoaderTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/dashboard/GoDashboardCurrentStateLoaderIntegrationTest.java
Labels: dashboard, performance

#4436 Minor styles improvement on dashboard pipeline tile (#4081)
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
Labels: dashboard

#4427 Set material search result position relative to the material search input field position (#4236)
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/material_info_widget.js.msx
Labels: dashboard

#4439 Set secure flag of selected_piplines cookie as per session cookie config
  api/api-pipeline-selection-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineselection/PipelineSelectionControllerDelegate.java
  api/api-pipeline-selection-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineselection/spring/PipelineSelectionController.java
  api/api-pipeline-selection-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelineselection/PipelineSelectionControllerDelegateTest.groovy
Labels: dashboard

#4442 Show message on dashboard while cache is being prepped
  api/api-base/src/main/java/com/thoughtworks/go/api/ApiController.java
  api/api-dashboard-v2/src/main/java/com/thoughtworks/go/apiv2/dashboard/DashboardControllerDelegate.java
  api/api-dashboard-v2/src/test/groovy/com/thoughtworks/go/apiv2/dashboard/DashboardControllerDelegateTest.groovy
  server/src/main/java/com/thoughtworks/go/server/dashboard/GoDashboardCurrentStateLoader.java
  server/src/main/java/com/thoughtworks/go/server/service/GoDashboardService.java
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardCurrentStateLoaderTest.java
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/dashboard_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/helpers/ajax_helper.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/dashboard.js
  server/webapp/WEB-INF/rails.new/webpack/single_page_apps/new_dashboard.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/dashboard_widget.js.msx
  spark/spark-base/src/test/groovy/com/thoughtworks/go/api/mocks/MockHttpServletResponseAssert.groovy
Labels: dashboard

#4446 Do not show material search popup when revision is selected
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/model/material_search_vm_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/material_info_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/material_search_results_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/materials_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/modal_body_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/models/material_search_vm.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/material_info_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/material_search_results_widget.js.msx
Labels: dashboard

#4417 Disable Pipeline settings icon for pipelines defined in config repo
  api/api-dashboard-v2/src/main/java/com/thoughtworks/go/apiv2/dashboard/representers/PipelineRepresenter.java
  api/api-dashboard-v2/src/test/groovy/com/thoughtworks/go/apiv2/dashboard/GoDashboardPipelineMother.groovy
  api/api-dashboard-v2/src/test/groovy/com/thoughtworks/go/apiv2/dashboard/representers/PipelineGroupRepresenterTest.groovy
  api/api-dashboard-v2/src/test/groovy/com/thoughtworks/go/apiv2/dashboard/representers/PipelineRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/server/dashboard/GoDashboardCurrentStateLoader.java
  server/src/main/java/com/thoughtworks/go/server/dashboard/GoDashboardPipeline.java
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardPipelineMother.java
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardPipelineTest.java
  server/webapp/WEB-INF/rails.new/spec/webpack/models/dashboard/pipeline_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/pipeline_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/pipeline.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_header_widget.js.msx
Labels: dashboard
