Repository gocd/gocd, pull requests merged in 2018-10, with the labels that each got.

#5223 Fix infinite server_health_messages ajax calls in jasmine specs
  server/webapp/WEB-INF/rails/spec/webpack/specRoot.js
Labels: technical

#5228 Do not run tests on java 9
  .ci/with-java
  .ci/with-java.ps1
Labels: technical

#5258 Move elastic profile api to spark
  api/api-elastic-profile-v1/build.gradle
  api/api-elastic-profile-v1/src/main/java/com/thoughtworks/go/apiv1/elasticprofile/ElasticProfileControllerV1.java
  api/api-elastic-profile-v1/src/main/java/com/thoughtworks/go/apiv1/elasticprofile/representers/ElasticProfileRepresenter.java
  api/api-elastic-profile-v1/src/main/java/com/thoughtworks/go/apiv1/elasticprofile/representers/ElasticProfilesRepresenter.java
  api/api-elastic-profile-v1/src/test/groovy/com/thoughtworks/go/apiv1/elasticprofile/ElasticProfileControllerV1Test.groovy
  api/api-elastic-profile-v1/src/test/groovy/com/thoughtworks/go/apiv1/elasticprofile/representers/ElasticProfileRepresenterTest.groovy
  api/api-elastic-profile-v1/src/test/groovy/com/thoughtworks/go/apiv1/elasticprofile/representers/ElasticProfilesRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/server/service/ElasticProfileService.java
  server/webapp/WEB-INF/applicationContext-global.xml
  server/webapp/WEB-INF/rails/app/controllers/api_v1/elastic/profiles_controller.rb
  server/webapp/WEB-INF/rails/app/presenters/api_v1/elastic/profile_representer.rb
  server/webapp/WEB-INF/rails/app/presenters/api_v1/elastic/profiles_representer.rb
  server/webapp/WEB-INF/rails/config/routes.rb
  server/webapp/WEB-INF/rails/spec/controllers/api_v1/elastic/profiles_controller_spec.rb
  server/webapp/WEB-INF/rails/spec/presenters/api_v1/elastic/profile_representer_spec.rb
  server/webapp/WEB-INF/rails/spec/presenters/api_v1/elastic/profiles_representer_spec.rb
  server/webapp/WEB-INF/rails/webpack/helpers/spark_routes.js
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/elastic_profiles.js
  server/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: elastic-agents

#5278 Reenable Pipeline operation buttons if pipeline trigger fails (#5153)
  server/webapp/WEB-INF/rails/spec/webpack/views/dashboard/pipeline_widget_spec.js
  server/webapp/WEB-INF/rails/webpack/views/dashboard/dashboard_groups_widget.js.msx
  server/webapp/WEB-INF/rails/webpack/views/dashboard/dashboard_widget.js.msx
  server/webapp/WEB-INF/rails/webpack/views/dashboard/models/dashboard_view_model.js
  server/webapp/WEB-INF/rails/webpack/views/dashboard/pipeline_header_widget.js.msx
  server/webapp/WEB-INF/rails/webpack/views/dashboard/pipeline_operations_widget.js.msx
  server/webapp/WEB-INF/rails/webpack/views/dashboard/pipeline_widget.js.msx
Labels: bug, dashboard
