Repository gocd/gocd, pull requests merged in 2018-09, with the labels that each got.

#5115 Vsm analytics fixes
  server/webapp/WEB-INF/rails.new/app/assets/javascripts/vsm_renderer.js
Labels: analytics, vsm

#5128 [VSM Analytics] Render VSM analytics charts in full screen mode
  server/webapp/WEB-INF/rails.new/app/assets/stylesheets/_vsm.scss
Labels: analytics, vsm

#5125 [VSM Analytics] Show onhover 'select pipeline' panel always infront
  server/webapp/WEB-INF/rails.new/app/assets/stylesheets/_vsm.scss
Labels: analytics, vsm

#5124 Fix infinite redraws on preferences page (#5117) (#5121)
  server/webapp/WEB-INF/rails.new/app/views/layouts/single_page_app.html.erb
Labels: SPA, bug

#5132 Show loading spinner on vsm analytics before chart render
  server/webapp/WEB-INF/rails.new/app/assets/javascripts/vsm_analytics.js
  server/webapp/WEB-INF/rails.new/app/assets/stylesheets/_vsm.scss
Labels: analytics, vsm

#5133 Fix multiple analytics chart rendering due to iframe onload handler being added twice
  server/webapp/WEB-INF/rails.new/app/assets/javascripts/vsm_analytics.js
Labels: analytics, vsm

#5138 Add oldEslint gradlew (and yarn) task to run lint on old javascript
  server/lint.gradle
  server/webapp/WEB-INF/rails.new/.eslintrc-old.json
  server/webapp/WEB-INF/rails.new/package.json
  server/webapp/WEB-INF/rails.new/yarn.lock
Labels: technical

#5139 Pin vsm analytics overlay at the top while scrolling vertically (#5136)
  server/webapp/WEB-INF/rails.new/app/assets/stylesheets/_vsm.scss
  server/webapp/WEB-INF/rails.new/app/assets/stylesheets/module.scss
Labels: analytics, vsm

#5141 Run eslintold on old javascript test too
  server/lint.gradle
  server/webapp/WEB-INF/rails.new/package.json
  server/webapp/WEB-INF/rails.new/spec/javascripts/vsm_graph_spec.js
Labels: technical

#5147 Improve VSM analytics overlay styles as per the new design
  server/webapp/WEB-INF/rails.new/app/assets/stylesheets/_vsm.scss
  server/webapp/WEB-INF/rails.new/app/views/value_stream_map/_analytics_panel.html.erb
Labels: analytics, vsm

#5148 [VSM Analytics] Fix vsm analytics mode for pipeline having multiple instances
  server/webapp/WEB-INF/rails.new/app/assets/javascripts/vsm_renderer.js
Labels: analytics, vsm

#5149 [VSM Analytics] Add white background to select material box for prominance
  server/webapp/WEB-INF/rails.new/app/assets/stylesheets/_vsm.scss
Labels: analytics, vsm

#5151 [VSM Analytics] Fix multiple scroll on vsm page (#5136)
  server/webapp/WEB-INF/rails.new/app/assets/javascripts/vsm_renderer.js
  server/webapp/WEB-INF/rails.new/app/assets/stylesheets/_vsm.scss
Labels: analytics, vsm

#5184 Fix ETag computation for DataSharing Settings API (#5162)
  common/src/main/java/com/thoughtworks/go/listener/DataSharingSettingsChangeListener.java
  server/src/main/java/com/thoughtworks/go/server/service/EntityHashingService.java
  server/src/main/java/com/thoughtworks/go/server/service/datasharing/DataSharingSettingsService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/datasharing/DataSharingSettingsServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/datasharing/DataSharingSettingsServiceIntegrationTest.java
Labels: data-sharing

#5140 Add a Stage Operations API
  .gitignore
  api/api-stage-operations-v1/build.gradle
  api/api-stage-operations-v1/src/main/java/com/thoughtworks/go/apiv1/stageoperations/StageOperationsControllerV1.java
  api/api-stage-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/stageoperations/StageOperationsControllerV1Test.groovy
  server/src/main/java/com/thoughtworks/go/config/update/PipelineConfigsCommand.java
  server/src/main/java/com/thoughtworks/go/server/service/PipelineLabelCorrector.java
  server/src/main/java/com/thoughtworks/go/server/service/ScheduleService.java
  server/webapp/WEB-INF/applicationContext-global.xml
  server/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis
