Repository gocd/gocd, pull requests merged in 2018-03, with the labels that each got.

#4462 Handle error occurred while parsing incomplete dashboard API response
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/dashboard_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/models/dashboard/dashboard.js
  server/webapp/WEB-INF/rails.new/webpack/single_page_apps/new_dashboard.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/dashboard_widget.js.msx
Labels: dashboard

#4463 Set material selection when searched using exact material revision for Pipeline trigger with options (#4449)
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/model/material_search_vm_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/models/material_search_vm.js
Labels: dashboard

#4455 Fix Material Search result positioning (#4451)
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/material_info_widget.js.msx
Labels: dashboard

#4475 Enable the quick dashboard when the toggle is turned on
  api/api-dashboard-v2/src/main/java/com/thoughtworks/go/apiv2/dashboard/DashboardControllerDelegate.java
  api/api-dashboard-v2/src/test/groovy/com/thoughtworks/go/apiv2/dashboard/DashboardControllerDelegateTest.groovy
  server/src/main/java/com/thoughtworks/go/server/dashboard/GoDashboardActivityListener.java
  server/src/main/java/com/thoughtworks/go/server/service/GoDashboardService.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/FeatureToggleListener.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/FeatureToggleService.java
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardActivityListenerTest.java
  server/webapp/WEB-INF/rails.new/webpack/single_page_apps/new_dashboard.js
  spark/spark-base/src/test/groovy/com/thoughtworks/go/api/mocks/MockHttpServletResponseAssert.groovy
Labels: dashboard

#4485 Truncate the label template on the dashboard (Fixes #4483)
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
Labels: bug, dashboard

#4494 Fix is_quick_edit_page_enabled to check for both pipeline_config_single_page_app_key and quick_edit_page_toggle_key toggles
  server/webapp/WEB-INF/rails.new/app/controllers/admin/new_dashboard_controller.rb
Labels: dashboard

#4447 Change http status when not enough disk space is available
  api/api-pipeline-operations-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineoperations/PipelineOperationsControllerV1Delegate.java
  api/api-pipeline-operations-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineoperations/spring/PipelineOperationsControllerV1.java
  api/api-pipeline-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelineoperations/PipelineOperationsControllerV1DelegateTest.groovy
  common/src/main/java/com/thoughtworks/go/server/service/result/HttpOperationResult.java
  common/src/main/java/com/thoughtworks/go/server/service/result/OperationResult.java
  common/src/main/java/com/thoughtworks/go/server/service/result/ServerHealthStateOperationResult.java
  server/src/main/java/com/thoughtworks/go/server/service/ArtifactsDiskSpaceFullChecker.java
  server/src/main/java/com/thoughtworks/go/server/service/DatabaseDiskSpaceFullChecker.java
  server/src/main/java/com/thoughtworks/go/server/service/OutOfDiskSpaceChecker.java
  server/src/main/java/com/thoughtworks/go/server/service/result/DiskSpaceOperationResult.java
  server/src/main/java/com/thoughtworks/go/server/service/result/ServerHealthServiceUpdatingOperationResult.java
  spark/spark-base/src/test/groovy/com/thoughtworks/go/api/mocks/MockHttpServletResponseAssert.groovy
Labels: dashboard

#4514 Make Dashboard Header sticky (#4511)
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
Labels: dashboard

#4522 Fixes positioning related issue with pipeline search
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
Labels: dashboard

#4544 [Analytics Plugin Endpoint] Rename transport request
  server/webapp/WEB-INF/rails.new/webpack/views/analytics/global_metrics.js.msx
Labels: analytics

#4518 Dashboard spinner issue (fixed)
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/dashboard_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/single_page_apps/new_dashboard.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/dashboard_widget.js.msx
Labels: dashboard

#4535 Add Analytics nav link to menu of new SPA pages
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/InitialContextProvider.java
  spark/spark-spa/src/main/java/velocity_implicit.vm
  spark/spark-spa/src/main/resources/velocity/new_navigation_elements/_navigation.vm
  spark/spark-spa/src/test/groovy/com/thoughtworks/go/spark/spa/spring/VelocityTemplateEngineFactoryTest.groovy
  spark/spark-spa/src/test/java/com/thoughtworks/go/spark/spa/spring/InitialContextProviderTest.java
Labels: dashboard

#4545 Add redirect from pipeline instance to pipeline's first stage details page
  server/webapp/WEB-INF/rails.new/app/controllers/stages_controller.rb
  server/webapp/WEB-INF/rails.new/config/routes.rb
  server/webapp/WEB-INF/rails.new/spec/controllers/stages_controller_spec.rb
  server/webapp/WEB-INF/urlrewrite.xml
Labels: analytics

#4570 [Analytics Plugin] Add linkTo request handler for Pipeline Instance link
  server/webapp/WEB-INF/rails.new/app/assets/javascripts/analytics.js
  server/webapp/WEB-INF/rails.new/app/assets/javascripts/application.js
  server/webapp/WEB-INF/rails.new/spec/javascripts/gocd-link-support-spec.js
  server/webapp/WEB-INF/rails.new/webpack/rails-shared/gocd-link-support.js
  server/webapp/WEB-INF/rails.new/webpack/rails-shared/plugin-endpoint-request-handler.js
  server/webapp/WEB-INF/rails.new/webpack/views/analytics/global_metrics.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/analytics/helpers/gocd_link_support.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_analytics_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/shared/analytics_iframe_widget.js.msx
Labels: analytics

#4566 [New dashboard] Filter related fixes
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/dashboard_widget.js.msx
Labels: dashboard

#4582 fixed the height for trigger options modal when spinner is being shown
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
Labels: dashboard

#4581 Shows keyword latest in material widget revision section if no previous revisions are found.
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/trigger_with_options/materials_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/trigger_with_options/materials_widget.js.msx
Labels: dashboard
