Repository gocd/gocd, pull requests merged in 2018-05, with the labels that each got.

#4537 Show no analytics plugin installed message when no analytics plugin is installed and user lands on /go/analytics page
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/analytics.scss
  server/webapp/WEB-INF/rails.new/spec/webpack/views/analytics/analytics_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/analytics/analytics_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/analytics/global_metrics.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/analytics/pipeline_metrics.js.msx
Labels: analytics

#4683 Support Agent Level Analytics
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/shared/_analytics-common.scss
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/agents.scss
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/webapp/WEB-INF/rails.new/spec/webpack/models/shared/plugin_infos_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/agents/agent_row_widget_spec.js
  server/webapp/WEB-INF/rails.new/spec/webpack/views/agents/agents_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/models/shared/plugin_infos/analytics_plugin_capabilities.js
  server/webapp/WEB-INF/rails.new/webpack/single_page_apps/agents.js
  server/webapp/WEB-INF/rails.new/webpack/views/agents/agent_analytics_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/agents/agent_row_widget.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/agents/agent_table_header.js.msx
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_analytics_widget.js.msx
Labels: analytics

#4709 [New Dashboard] Do not truncate longer pipeline name (#4698)
  server/webapp/WEB-INF/rails.new/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/webapp/WEB-INF/rails.new/spec/webpack/views/dashboard/pipeline_widget_spec.js
  server/webapp/WEB-INF/rails.new/webpack/views/dashboard/pipeline_header_widget.js.msx
Labels: dashboard

#4741 Do not remember *.json urls
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filterchains/RememberLastRequestUrlFilterChain.java
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/filterchains/RememberLastRequestUrlFilterChainTest.java
  test/http-mocks/src/main/java/com/thoughtworks/go/http/mocks/HttpRequestBuilder.java
  test/http-mocks/src/main/java/com/thoughtworks/go/http/mocks/MockHttpServletRequest.java
Labels: bug

#4743 Status code 401: Security enabled and request is not authenticated.
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filters/VerifyAuthorityFilter.java
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/filters/VerifyAuthorityFilterTest.java
Labels: bug

#4739 Use the safe output stream consumer to replace secrets in pluggable tasks. (#4737)
  commandline/src/main/java/com/thoughtworks/go/util/ProcessWrapper.java
  commandline/src/main/java/com/thoughtworks/go/util/command/CommandLine.java
  common/src/main/java/com/thoughtworks/go/domain/builder/pluggableTask/PluggableTaskBuilder.java
  common/src/main/java/com/thoughtworks/go/domain/builder/pluggableTask/PluggableTaskConsole.java
  common/src/main/java/com/thoughtworks/go/domain/builder/pluggableTask/PluggableTaskContext.java
  common/src/main/java/com/thoughtworks/go/remote/work/BuildWork.java
  common/src/test/java/com/thoughtworks/go/domain/builder/pluggableTask/PluggableTaskConsoleTest.java
  config/config-api/src/main/java/com/thoughtworks/go/util/command/EnvironmentVariableContext.java
  util/src/main/java/com/thoughtworks/go/util/command/ErrorConsumer.java
  util/src/main/java/com/thoughtworks/go/util/command/OutputConsumer.java
  util/src/test/java/com/thoughtworks/go/util/command/SafeOutputStreamConsumerTest.java
Labels: console-log

#4777 Pass along the model uuid to the analytics-iframe so that the model can be referenced while performing fetch-analytics using transport
  server/webapp/WEB-INF/rails.new/webpack/views/agents/agent_analytics_widget.js.msx
Labels: analytics

#4764 Make sure cache key generation logic should always generate unique key for given set of inputs #4751
  server/src/main/java/com/thoughtworks/go/server/cache/CacheKeyGenerator.java
  server/src/main/java/com/thoughtworks/go/server/dao/JobInstanceSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/PipelineSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/PipelineStateDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/PluginSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/StageSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/persistence/MaterialRepository.java
  server/src/main/java/com/thoughtworks/go/server/service/MaterialExpansionService.java
  server/src/main/java/com/thoughtworks/go/server/service/StageService.java
  server/src/main/java/com/thoughtworks/go/server/ui/ViewCacheKey.java
  server/src/test-fast/java/com/thoughtworks/go/server/cache/CacheKeyGeneratorTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dao/JobInstanceSqlMapDaoTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dao/PipelineSqlMapDaoCachingTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dao/PipelineSqlMapDaoTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dao/PipelineStateDaoTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dao/PluginSqlMapDaoTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dao/StageSqlMapDaoTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/MaterialExpansionServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/ui/ViewCacheKeyTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/dao/PluginSqlMapDaoIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/MaterialExpansionServiceCachingTest.java
Labels: bug

#4780 Use form.serializeArray to jsonify form data (#4746)
  server/webapp/WEB-INF/rails.new/webpack/models/preferences/email_settings.js
  server/webapp/WEB-INF/rails.new/webpack/models/preferences/notification_filters.js
Labels: bug

#4786 Passing shine testSuiteName and testName as query string instead of path params to fetch failed test stacktrace
  server/webapp/WEB-INF/rails.new/app/controllers/failures_controller.rb
  server/webapp/WEB-INF/rails.new/app/helpers/failures_helper.rb
  server/webapp/WEB-INF/rails.new/config/routes.rb
  server/webapp/WEB-INF/rails.new/spec/controllers/failures_controller_spec.rb
  server/webapp/WEB-INF/rails.new/spec/helpers/failures_helper_spec.rb
Labels: bug

#4794 Removed unimplemented or unused routes
  server/webapp/WEB-INF/rails.new/config/routes.rb
Labels: Deadcode

#4793 Remove 'QUICKER_DASHBOARD_KEY' toggle
  api/api-dashboard-v2/src/main/java/com/thoughtworks/go/apiv2/dashboard/DashboardControllerDelegate.java
  api/api-dashboard-v2/src/test/groovy/com/thoughtworks/go/apiv2/dashboard/DashboardControllerDelegateTest.groovy
  server/src/main/java/com/thoughtworks/go/server/SparkOrRailsToggle.java
  server/src/main/java/com/thoughtworks/go/server/dashboard/GoDashboardActivityListener.java
  server/src/main/java/com/thoughtworks/go/server/service/GoDashboardService.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/src/test-fast/java/com/thoughtworks/go/server/SparkOrRailsToggleTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardActivityListenerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/GoDashboardServiceTest.java
  server/webapp/WEB-INF/rails.new/app/helpers/application_helper.rb
  server/webapp/WEB-INF/rails.new/app/views/pipelines/index.html.erb
Labels: dashboard
