Repository gocd/gocd, pull requests merged in 2019-10, with the labels that each got.

#7025 Introduce edit agent association modal to allow modifying environment-agent association
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/environments.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environments_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_agents_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environment_body_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/models/agents_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_agents_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/models/agents_view_model_spec.ts
Labels: SPA, environments

#7026 Allow searching agents while modifying environment-agent association on environments SPA
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_agents_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/models/agents_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_agents_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/models/agents_view_model_spec.ts
Labels: SPA, environments

#6987 Bundle JRE 13.33 for all installers
  build.gradle
Labels: technical-debt

#7055 Fixed renaming `artifactConfig` to `artifactTypeConfig`
  api/api-shared-v10/src/main/java/com/thoughtworks/go/apiv10/admin/shared/representers/stages/JobRepresenter.java
  api/api-shared-v10/src/main/java/com/thoughtworks/go/apiv10/admin/shared/representers/stages/artifacts/ArtifactRepresenter.java
  api/api-shared-v10/src/test/groovy/com/thoughtworks/go/apiv10/shared/representers/stages/JobRepresenterTest.groovy
Labels: artifacts, bug-fix

#7024 Added SCM material url to the env vars
  common/src/test/java/com/thoughtworks/go/config/materials/ScmMaterialTest.java
  common/src/test/java/com/thoughtworks/go/config/materials/mercurial/HgMaterialTest.java
  common/src/test/java/com/thoughtworks/go/config/materials/tfs/TfsMaterialTest.java
  domain/src/main/java/com/thoughtworks/go/config/materials/ScmMaterial.java
  domain/src/main/java/com/thoughtworks/go/config/materials/git/GitMaterial.java
  domain/src/main/java/com/thoughtworks/go/config/materials/mercurial/HgMaterial.java
  domain/src/main/java/com/thoughtworks/go/config/materials/tfs/TfsMaterial.java
  domain/src/test/java/com/thoughtworks/go/config/materials/git/GitMaterialTest.java
Labels: materials

#7070 Auth config id should not be mandatory while updating it
  api/api-security-auth-config-v1/src/main/java/com/thoughtworks/go/apiv1/securityauthconfig/SecurityAuthConfigControllerV1.java
  api/api-security-auth-config-v1/src/main/java/com/thoughtworks/go/apiv1/securityauthconfig/representers/SecurityAuthConfigRepresenter.java
  api/api-security-auth-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/securityauthconfig/SecurityAuthConfigControllerV1Test.groovy
  api/api-security-auth-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/securityauthconfig/representers/SecurityAuthConfigRepresenterTest.groovy
Labels: bug-fix

#7077 Do not update email in DB when plugin does not return one on authentication
  server/src/main/java/com/thoughtworks/go/server/service/UserService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/UserServiceTest.java
Labels: bug-fix

#7076 Fix for [#7071]
  config/config-api/src/main/java/com/thoughtworks/go/config/JobConfig.java
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/publish_artifact.js
  server/src/main/webapp/WEB-INF/rails/spec/controllers/admin/jobs_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/javascripts/publish_artifact_spec.js
Labels: artifacts, bug-fix

#6924 API for server config default job timeout
  .gitignore
  api/api-default-job-timeout-v1/build.gradle
  api/api-default-job-timeout-v1/src/main/java/com/thoughtworks/go/apiv1/defaultjobtimeout/DefaultJobTimeoutControllerV1.java
  api/api-default-job-timeout-v1/src/main/java/com/thoughtworks/go/apiv1/defaultjobtimeout/representers/DefaultJobTimeOutRepresenter.java
  api/api-default-job-timeout-v1/src/test/groovy/com/thoughtworks/go/apiv1/defaultjobtimeout/DefaultJobTimeoutControllerV1Test.groovy
  api/api-default-job-timeout-v1/src/test/groovy/com/thoughtworks/go/apiv1/defaultjobtimeout/representers/DefaultJobTimeOutRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/config/update/CreateOrUpdateDefaultJobTimeoutCommand.java
  server/src/main/java/com/thoughtworks/go/server/service/ServerConfigService.java
  server/src/main/resources/applicationContext-global.xml
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  server/src/test-fast/java/com/thoughtworks/go/config/update/CreateOrUpdateDefaultJobTimeoutCommandTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ServerConfigServiceIntegrationTest.java
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis, server configuration, server-configuration-rewrite

#7092 Making the new agents spa default page
  server/src/main/resources/available.toggles
Labels: feature-toggle

#7091 Removed tracking tool check while comparing pipeline instances
  server/src/main/java/com/thoughtworks/go/server/service/ChangesetService.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ChangesetServiceIntegrationTest.java
Labels: pipeline configuration

#7097 Fix sort on agents spa
  server/src/main/webapp/WEB-INF/rails/webpack/models/new_agent/agent_comparator.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new_agent/agents_vm.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new_agent/spec/agent_comaparator_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new_agent/spec/agent_vm_spec.ts
Labels: SPA, agents

#7107 Fix for job details page error if agent is not yet assigned #000
  server/src/main/java/com/thoughtworks/go/server/service/AgentService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/AgentServiceTest.java
Labels: bug-fix

#7062 Introduce Comparison API v1
  .gitignore
  api/api-compare-v1/build.gradle
  api/api-compare-v1/src/main/java/com/thoughtworks/go/apiv1/compare/CompareControllerV1.java
  api/api-compare-v1/src/main/java/com/thoughtworks/go/apiv1/compare/representers/ComparisonRepresenter.java
  api/api-compare-v1/src/main/java/com/thoughtworks/go/apiv1/compare/representers/DependencyMaterialModificationRepresenter.java
  api/api-compare-v1/src/main/java/com/thoughtworks/go/apiv1/compare/representers/MaterialModificationRepresenter.java
  api/api-compare-v1/src/main/java/com/thoughtworks/go/apiv1/compare/representers/MaterialRevisionsRepresenter.java
  api/api-compare-v1/src/test/groovy/com/thoughtworks/go/apiv1/compare/CompareControllerV1Test.groovy
  api/api-compare-v1/src/test/groovy/com/thoughtworks/go/apiv1/compare/representers/ComparisonRepresenterTest.groovy
  api/api-compare-v1/src/test/groovy/com/thoughtworks/go/apiv1/compare/representers/DependencyMaterialModificationRepresenterTest.groovy
  api/api-compare-v1/src/test/groovy/com/thoughtworks/go/apiv1/compare/representers/MaterialModificationRepresenterTest.groovy
  api/api-compare-v1/src/test/groovy/com/thoughtworks/go/apiv1/compare/representers/MaterialRevisionsRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/server/service/PipelineService.java
  server/src/main/resources/applicationContext-global.xml
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineServiceTest.java
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis

#7103 Migrate Package Definition API(V1) to spark
  .gitignore
  api/api-packages-v1/build.gradle
  api/api-packages-v1/src/main/java/com/thoughtworks/go/apiv1/packages/PackagesControllerV1.java
  api/api-packages-v1/src/main/java/com/thoughtworks/go/apiv1/packages/representers/PackageDefinitionRepresenter.java
  api/api-packages-v1/src/main/java/com/thoughtworks/go/apiv1/packages/representers/PackageDefinitionsRepresenter.java
  api/api-packages-v1/src/main/java/com/thoughtworks/go/apiv1/packages/representers/PackageRepositoryRepresenter.java
  api/api-packages-v1/src/test/groovy/com/thoughtworks/go/apiv1/packages/PackagesControllerV1Test.groovy
  api/api-packages-v1/src/test/groovy/com/thoughtworks/go/apiv1/packages/representers/PackageDefinitionRepresenterTest.groovy
  api/api-packages-v1/src/test/groovy/com/thoughtworks/go/apiv1/packages/representers/PackageDefinitionsRepresenterTest.groovy
  api/api-packages-v1/src/test/groovy/com/thoughtworks/go/apiv1/packages/representers/PackageRepositoryRepresenterTest.groovy
  server/src/main/resources/applicationContext-global.xml
  server/src/main/webapp/WEB-INF/rails/app/controllers/api_v1/admin/packages_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/config/package_representer.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/config/packages_representer.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/config/repository_summary_representer.rb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api_v1/admin/packages_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/presenters/api_v1/config/package_representer_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/presenters/api_v1/config/packages_representer_spec.rb
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis, package materials

#7113 Added 'group' property to show call for Pipeline Config API
  api/api-pipeline-config-v10/src/main/java/com/thoughtworks/go/apiv10/admin/pipelineconfig/PipelineConfigControllerV10.java
  api/api-pipeline-config-v10/src/test/groovy/com/thoughtworks/go/apiv10/pipelineconfig/PipelineConfigControllerV10Test.groovy
  api/api-pipelines-as-code-internal-v1/src/main/java/com/thoughtworks/go/apiv1/pipelinesascodeinternal/PipelinesAsCodeInternalControllerV1.java
  api/api-pipelines-as-code-internal-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelinesascodeinternal/PipelinesAsCodeInternalControllerV1Test.groovy
  api/api-shared-v10/src/main/java/com/thoughtworks/go/apiv10/admin/shared/representers/PipelineConfigRepresenter.java
  api/api-shared-v10/src/test/groovy/com/thoughtworks/go/apiv10/shared/representers/PipelineConfigRepresenterTest.groovy
Labels: apis, pipeline configuration

#7126 Fixed no response on deleting an auth config
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/modal/entity_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs/modals.tsx
Labels: SPA, auth and role configuration, bug-fix

#7155 Added support for group attribute in update pipeline config api
  api/api-pipeline-config-v10/src/main/java/com/thoughtworks/go/apiv10/admin/pipelineconfig/PipelineConfigControllerV10.java
  api/api-pipeline-config-v10/src/test/groovy/com/thoughtworks/go/apiv10/pipelineconfig/PipelineConfigControllerV10Test.groovy
  server/src/main/java/com/thoughtworks/go/config/update/UpdatePipelineConfigCommand.java
  server/src/main/java/com/thoughtworks/go/server/service/EntityHashingService.java
  server/src/main/java/com/thoughtworks/go/server/service/PipelineConfigService.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/UpdatePipelineConfigCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/EntityHashingServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/PipelineConfigServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/BuildAssignmentServiceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineConfigServiceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineConfigServicePerformanceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineTriggerServiceIntegrationTest.java
Labels: apis, pipeline configuration
