Repository gocd/gocd, pull requests merged in 2019-02, with the labels that each got.

#5797 Access Token APIs
  .gitignore
  api/api-access-token-v1/build.gradle
  api/api-access-token-v1/src/main/java/com/thoughtworks/go/apiv1/accessToken/AccessTokenControllerV1.java
  api/api-access-token-v1/src/main/java/com/thoughtworks/go/apiv1/accessToken/representers/AccessTokenRepresenter.java
  api/api-access-token-v1/src/main/java/com/thoughtworks/go/apiv1/accessToken/representers/AccessTokensRepresenter.java
  api/api-access-token-v1/src/test/groovy/com/thoughtworks/go/apiv1/accessToken/AccessTokenControllerV1Test.groovy
  api/api-access-token-v1/src/test/groovy/com/thoughtworks/go/apiv1/accessToken/representers/AccessTokenRepresenterTest.groovy
  api/api-access-token-v1/src/test/groovy/com/thoughtworks/go/apiv1/accessToken/representers/AccessTokensRepresenterTest.groovy
  common/src/main/java/com/thoughtworks/go/domain/AccessToken.java
  common/src/test/java/com/thoughtworks/go/helper/AccessTokenMother.java
  server/config/cruise-config.xml
  server/db/migrate/h2deltas/1902002_add_access_token.sql
  server/src/main/java/com/thoughtworks/go/server/dao/AccessTokenDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/AccessTokenSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/exceptions/InvalidAccessTokenException.java
  server/src/main/java/com/thoughtworks/go/server/exceptions/RevokedAccessTokenException.java
  server/src/main/java/com/thoughtworks/go/server/service/AccessTokenService.java
  server/src/main/resources/hibernate-mappings/AccessToken.hbm.xml
  server/src/test-fast/java/com/thoughtworks/go/server/service/AccessTokenServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/dao/AccessTokenSqlMapDaoIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/AccessTokenServiceIntegrationTest.java
  server/src/test-shared/java/com/thoughtworks/go/server/dao/DatabaseAccessHelper.java
  server/webapp/WEB-INF/applicationContext-global.xml
  server/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/SparkController.java
  spark/spark-base/src/test/groovy/com/thoughtworks/go/spark/ControllerTrait.groovy
Labels: access-token, apis

#5799 #5604 - Disable job settings link for pipelines defined in config_repo
  api/api-elastic-profile-operation-v1/src/test/groovy/com/thoughtworks/go/apiv1/elasticprofileoperation/ElasticProfileOperationControllerV1Test.groovy
  api/api-elastic-profile-operation-v1/src/test/groovy/com/thoughtworks/go/apiv1/elasticprofileoperation/representers/ElasticProfileUsageRepresenterTest.groovy
  config/config-api/src/test/java/com/thoughtworks/go/helper/PipelineConfigMother.java
  domain/src/main/java/com/thoughtworks/go/domain/ElasticProfileUsage.java
  server/src/main/java/com/thoughtworks/go/server/service/ElasticProfileService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticProfileServiceTest.java
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/types.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/index.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/modals.tsx
Labels: bug

#5805 Elastic Profile SPA: Should disable status report button when user is not a super admin
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/elastic_profiles_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/elastic_profiles_widget_spec.tsx
Labels: SPA, bug

#5812 [Environment API Spark]: Compute MergedEnvironmentConfig etag using `Objects.hash`
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/EnvironmentsControllerV2.java
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/representers/EnvironmentRepresenter.java
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/representers/EnvironmentsRepresenter.java
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/representers/PatchEnvironmentRequestRepresenter.java
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/representers/PipelineRepresenter.java
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/EnvironmentsControllerV2Test.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/AgentRepresenterTest.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/EnvironmentRepresenterTest.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/EnvironmentVariableRepresenterTest.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/EnvironmentsRepresenterTest.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/PatchEnvironmentRequestRepresenterTest.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/PipelineRepresenterTest.groovy
Labels: apis, bug, environments

#5809 Validate User belonging to the access token exists before proceeding with AccessTokenFilter (#5321)
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/authorization/AuthorizationExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/authorization/AuthorizationMessageConverter.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/authorization/AuthorizationPluginConstants.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/authorization/v1/AuthorizationMessageConverterV1.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/authorization/v2/AuthorizationMessageConverterV2.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/authorization/AuthorizationExtensionTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/authorization/v2/AuthorizationMessageConverterV2Test.java
  plugin-infra/go-plugin-domain/src/main/java/com/thoughtworks/go/plugin/domain/authorization/AuthenticationResponse.java
  server/src/main/java/com/thoughtworks/go/server/exceptions/InvalidAccessTokenException.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/providers/AbstractPluginAuthenticationProvider.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/providers/AccessTokenBasedPluginAuthenticationProvider.java
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/providers/AccessTokenBasedPluginAuthenticationProviderTest.java
Labels: access-token

#5801 [#5614] If plugin is incompatible with current gocd version, added error message stating the same.
  agent/src/main/resources/applicationContext.xml
  agent/src/test/java/com/thoughtworks/go/agent/ApplicationContextTest.java
  common/src/test/java/com/thoughtworks/go/domain/builder/pluggableTask/PluggableTaskBuilderTest.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/ExtensionsRegistry.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/PluginExtensionsAndVersionValidatorImpl.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/UnsupportedExtensionException.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/analytics/AnalyticsExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/artifact/ArtifactExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/authorization/AuthorizationExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/common/AbstractExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/common/settings/GoPluginExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/configrepo/ConfigRepoExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/notification/NotificationExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/packagematerial/PackageRepositoryExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/pluggabletask/TaskExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/scm/SCMExtension.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/ExtensionsRegistryTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/PluginExtensionsAndVersionValidatorImplTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/analytics/AnalyticsExtensionTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/artifact/ArtifactExtensionTestBase.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/authorization/AuthorizationExtensionTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/common/AbstractExtensionTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/configrepo/ConfigRepoExtensionTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtensionTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/notification/NotificationExtensionTestBase.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/notification/NotificationExtensionTestForV3.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/notification/NotificationExtensionTestForV4.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/packagematerial/PackageRepositoryExtensionTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/pluggabletask/TaskExtensionTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/scm/SCMExtensionTest.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/DefaultPluginManager.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/FelixGoPluginOSGiFramework.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/GoPluginOSGiFramework.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/PluginExtensionsAndVersionValidator.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/PluginManager.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/listeners/DefaultPluginJarChangeListener.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/plugininfo/DefaultPluginRegistry.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/plugininfo/GoPluginDescriptor.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/plugininfo/PluginRegistry.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/activation/DefaultGoPluginActivatorIntegrationTest.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/activation/test/TestPluginOuterClass.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/DefaultPluginManagerIntegrationTest.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/DefaultPluginManagerTest.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/FelixGoPluginOSGiFrameworkIntegrationTest.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/FelixGoPluginOSGiFrameworkTest.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/MultipleExtensionPluginWithPluginManagerIntegrationTest.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/listeners/DefaultPluginJarChangeListenerTest.java
  server/src/main/java/com/thoughtworks/go/server/initializers/ApplicationInitializer.java
  server/src/main/java/com/thoughtworks/go/server/initializers/PluginsInitializer.java
  server/src/test-fast/java/com/thoughtworks/go/server/initializers/PluginsInitializerTest.java
Labels: plugins

#5828 configrepo - allow empty string secure variables
  plugin-infra/go-plugin-config-repo/src/main/java/com/thoughtworks/go/plugin/configrepo/contract/CREnvironmentVariable.java
  server/src/main/java/com/thoughtworks/go/config/ConfigConverter.java
  server/src/test-fast/java/com/thoughtworks/go/config/ConfigConverterTest.java
Labels: config repo

#5827 Disallow users to use Access Token APIs in case plugin does not have capabilities (#5822)
  api/api-access-token-v1/src/main/java/com/thoughtworks/go/apiv1/accessToken/AccessTokenControllerV1.java
  api/api-access-token-v1/src/test/groovy/com/thoughtworks/go/apiv1/accessToken/AccessTokenControllerV1Test.groovy
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/authorization/AuthorizationExtension.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/authorization/AuthorizationExtensionTest.java
Labels: access-token

#5841 Config repo spa improvements
  server/webapp/WEB-INF/rails/webpack/models/config_repos/serialization.ts
  server/webapp/WEB-INF/rails/webpack/models/config_repos/spec/types_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/config_repos/types.ts
  server/webapp/WEB-INF/rails/webpack/views/components/collapsible_panel/index.scss
  server/webapp/WEB-INF/rails/webpack/views/components/collapsible_panel/spec/index_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/forms/input_fields.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/key_value_pair/index.scss
  server/webapp/WEB-INF/rails/webpack/views/components/key_value_pair/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/components/key_value_pair/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/key_value_pair/spec/index_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos/config_repos_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos/index.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos/spec/config_repos_widget_spec.tsx
Labels: config repo

#5845 Authorisation extension: `get-user-roles` request should be made with only one auth_config.
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/authorization/AuthorizationExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/authorization/AuthorizationMessageConverter.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/authorization/v1/AuthorizationMessageConverterV1.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/authorization/v2/AuthorizationMessageConverterV2.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/authorization/AuthorizationExtensionTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/authorization/v2/AuthorizationMessageConverterV2Test.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/providers/AccessTokenBasedPluginAuthenticationProvider.java
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/providers/AccessTokenBasedPluginAuthenticationProviderTest.java
Labels: access-token

#5839 Cache Access token related authorization plugin api calls for 30 minutes (#5823)
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/providers/AccessTokenBasedPluginAuthenticationProvider.java
  server/src/main/java/com/thoughtworks/go/server/service/AuthorizationExtensionCacheService.java
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/providers/AccessTokenBasedPluginAuthenticationProviderTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/AuthorizationExtensionCacheServiceTest.java
Labels: access-token

#5860 Access token spa part 1
  server/webapp/WEB-INF/rails/package.json
  server/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/webapp/WEB-INF/rails/webpack/helpers/time_formatter.js
  server/webapp/WEB-INF/rails/webpack/models/access_tokens/access_token_crud.ts
  server/webapp/WEB-INF/rails/webpack/models/access_tokens/spec/access_token_crud_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/access_tokens/spec/access_token_test_data.ts
  server/webapp/WEB-INF/rails/webpack/models/access_tokens/spec/access_token_types_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/access_tokens/types.ts
  server/webapp/WEB-INF/rails/webpack/single_page_apps/access_tokens.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/forms/forms.scss
  server/webapp/WEB-INF/rails/webpack/views/components/forms/forms.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/components/forms/input_fields.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/modal/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/modal/modal_manager.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/access_tokens.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/access_tokens/access_tokens_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/access_tokens/index.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/access_tokens/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/access_tokens/modals.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/kitchen_sink.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/partials/site_header.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/partials/spec/site_header_spec.tsx
  server/webapp/WEB-INF/rails/yarn.lock
  server/webapp/WEB-INF/urlrewrite.xml
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/AccessTokensController.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/SpaControllers.java
Labels: SPA, access-token

#5848 Revoke tokens for user when user is deleted.
  api/api-access-token-v1/src/main/java/com/thoughtworks/go/apiv1/accessToken/representers/AccessTokenRepresenter.java
  api/api-access-token-v1/src/test/groovy/com/thoughtworks/go/apiv1/accessToken/representers/AccessTokenRepresenterTest.groovy
  api/api-access-token-v1/src/test/groovy/com/thoughtworks/go/apiv1/accessToken/representers/AccessTokensRepresenterTest.groovy
  api/api-users-v3/src/main/java/com/thoughtworks/go/apiv3/users/UsersControllerV3.java
  api/api-users-v3/src/test/groovy/com/thoughtworks/go/apiv3/users/UsersControllerV3Test.groovy
  server/db/migrate/h2deltas/1902007_add_soft_delete_to_access_token.sql
  server/db/migrate/h2deltas/1902008_rename_is_revoked_to_revoke_in_access_token.sql
  server/src/main/java/com/thoughtworks/go/domain/AccessToken.java
  server/src/main/java/com/thoughtworks/go/server/dao/AccessTokenDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/AccessTokenSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/UserDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/UserSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/service/UserService.java
  server/src/main/resources/hibernate-mappings/AccessToken.hbm.xml
  server/src/test-fast/java/com/thoughtworks/go/domain/AccessTokenTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dao/UserSqlMapDaoTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/UserServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/dao/AccessTokenSqlMapDaoIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/dao/UserSqlMapDaoIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/AccessTokenServiceIntegrationTest.java
  server/webapp/WEB-INF/rails/app/controllers/api_v2/users_controller.rb
  server/webapp/WEB-INF/rails/spec/controllers/api_v2/users_controller_spec.rb
Labels: access-token

#5855 Reimplement disallowing access token creation when plugin does not support extension v2
  .gitignore
  api/api-access-token-v1/src/main/java/com/thoughtworks/go/apiv1/accessToken/AccessTokenControllerV1.java
  api/api-access-token-v1/src/test/groovy/com/thoughtworks/go/apiv1/accessToken/AccessTokenControllerV1Test.groovy
Labels: access-token

#5866 Use CacheKeyGenerator to generate AuthorizationExtensionCacheService cache keys
  server/src/main/java/com/thoughtworks/go/server/service/AuthorizationExtensionCacheService.java
Labels: access-token

#5872 Allow all authenticated users to access access-token spa (#5321)
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/AccessTokensController.java
  spark/spark-spa/src/test/groovy/com/thoughtworks/go/spark/spa/AccessTokensControllerTest.groovy
Labels: access-token

#5873 Show maintenance mode updated by timestamp along with date (#5786)
  server/webapp/WEB-INF/rails/webpack/models/maintenance_mode/types.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/maintenance_mode/spec/maintenance_mode_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/maintenance_mode/spec/test_data.ts
Labels: maintenance-mode

#5876 Allow access of cctray.xml through personal access token.
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filterchains/AuthenticationFilterChain.java
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/filterchains/AuthenticationFilterChainTest.java
Labels: access-token

#5870 Update token lastused time to DB on timer
  server/src/main/java/com/thoughtworks/go/server/dao/AccessTokenDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/AccessTokenSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filters/AccessTokenAuthenticationFilter.java
  server/src/main/java/com/thoughtworks/go/server/service/AccessTokenService.java
  server/src/main/resources/cruise.properties
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/filters/AccessTokenAuthenticationFilterTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/AccessTokenServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/dao/AccessTokenSqlMapDaoIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/AccessTokenServiceIntegrationTest.java
  server/src/test-shared/resources/test.properties
  server/webapp/WEB-INF/spring-cruise-remoting-servlet.xml
Labels: access-token

#5875 Added toggle for personal access token SPA.
  api/api-base/src/main/java/com/thoughtworks/go/api/spring/ApiAuthenticationHelper.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/java/com/thoughtworks/go/server/web/GoVelocityView.java
  server/src/main/resources/available.toggles
  server/webapp/WEB-INF/rails/app/helpers/application_helper.rb
  server/webapp/WEB-INF/rails/app/views/shared/_body_data_attrs.html.erb
  server/webapp/WEB-INF/rails/webpack/helpers/spa_base.tsx
  server/webapp/WEB-INF/rails/webpack/single_page_apps/header_footer_shim.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/partials/site_header.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/partials/spec/site_header_spec.tsx
  server/webapp/WEB-INF/vm/shared/_header.vm
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/spring/AbstractAuthenticationHelper.java
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/spring/SPAAuthenticationHelper.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/AccessTokensController.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/InitialContextProvider.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/SpaControllers.java
  spark/spark-spa/src/main/resources/velocity/layouts/component_layout.vm
  spark/spark-spa/src/main/resources/velocity/layouts/single_page_app.vm
  spark/spark-spa/src/test/groovy/com/thoughtworks/go/spark/spa/AccessTokensControllerTest.groovy
Labels: SPA, access-token

#5880 Fix incorrect job console log renderring via websocket (#4088)
  server/webapp/WEB-INF/rails/app/assets/javascripts/console_log_socket.js
  server/webapp/WEB-INF/vm/build_detail/build_detail_page.vm
Labels: console-log

#5883 Bundle newer versions of authorization plugins
  tw-go-plugins/build.gradle
Labels: access-token, plugins

#5890 Updated html and styles for the tab component
  server/webapp/WEB-INF/rails/webpack/views/components/tab/index.scss
  server/webapp/WEB-INF/rails/webpack/views/components/tab/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/components/tab/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/tab/spec/tab_conponent_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/kitchen_sink.tsx
Labels: component

#5882 Do not render config repo material passwords in plaintext (#5650)
  api/api-config-repos-v1/src/main/java/com/thoughtworks/go/apiv1/configrepos/representers/GitMaterialRepresenter.java
  api/api-config-repos-v1/src/main/java/com/thoughtworks/go/apiv1/configrepos/representers/HgMaterialRepresenter.java
  api/api-config-repos-v1/src/main/java/com/thoughtworks/go/apiv1/configrepos/representers/P4MaterialRepresenter.java
  api/api-config-repos-v1/src/main/java/com/thoughtworks/go/apiv1/configrepos/representers/SvnMaterialRepresenter.java
  api/api-config-repos-v1/src/test/groovy/com/thoughtworks/go/apiv1/configrepos/representers/GitMaterialRepresenterTest.groovy
  api/api-config-repos-v1/src/test/groovy/com/thoughtworks/go/apiv1/configrepos/representers/HgMaterialRepresenterTest.groovy
  api/api-config-repos-v1/src/test/groovy/com/thoughtworks/go/apiv1/configrepos/representers/SvnMaterialRepresenterTest.groovy
Labels: apis, bug-fix, config repo

#5895 Add an Id validator and use it in Config Repo SPA
  server/webapp/WEB-INF/rails/webpack/models/config_repos/types.ts
  server/webapp/WEB-INF/rails/webpack/models/mixins/new_validatable_mixin.ts
  server/webapp/WEB-INF/rails/webpack/models/mixins/new_validatable_mixin_spec.ts
Labels: agents, config repo

#5903 Revert "Made `description` property mandatory in create access token API
  api/api-access-token-v1/src/main/java/com/thoughtworks/go/apiv1/accessToken/CurrentUserAccessTokenControllerV1.java
  api/api-access-token-v1/src/test/groovy/com/thoughtworks/go/apiv1/accessToken/CurrentUserAccessTokenControllerV1Test.groovy
Labels: access-token

#5906 Dashboard - pipeline pause message fix
  server/webapp/WEB-INF/rails/spec/webpack/views/dashboard/pipeline_widget_spec.js
  server/webapp/WEB-INF/rails/webpack/views/dashboard/pipeline_operations_widget.js.msx
Labels: dashboard

#5877 Render job console log containing new line characters in executable task (#5037)
  server/webapp/WEB-INF/rails/app/assets/javascripts/log_output_transformer.js
  server/webapp/WEB-INF/rails/spec/javascripts/log_output_transformer_spec.js
Labels: console-log

#5910 Attempt to fix flaky Agents Spec
  server/webapp/WEB-INF/rails/spec/webpack/views/agents/agents_widget_spec.js
Labels: technical, technical-debt

#5907 Elastic profile Fix
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/modals.tsx
Labels: SPA
