Repository gocd/gocd, pull requests merged in 2019-04, with the labels that each got.

#6039 [#6007] Plugin infos api migration from Rails to Spark
  .gitignore
  api/api-plugin-infos-v5/build.gradle
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/PluginInfosControllerV5.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/ExtensionRepresenterResolver.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/MetadataRepresenterResolver.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/PluggableInstanceSettingsRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/PluginInfoRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/PluginInfosRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/AnalyticsPluginInfoRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/ArtifactPluginInfoRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/AuthorizationExtensionRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/ConfigRepoExtensionRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/ElasticAgentExtensionRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/ExtensionRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/NotificationPluginInfoRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/PackageMaterialExtensionRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/SCMExtensionRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/TaskExtensionRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/metadata/MetadataRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/metadata/MetadataWithPartOfIdentityRepresenter.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/metadata/PackageMaterialMetadataRepresenter.java
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/PluginInfosControllerV5Test.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/Helper/PluginInfoMother.java
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/MetadataRepresenterResolverTest.java
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/PluginInfoRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/PluginInfosRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/AnalyticsPluginInfoRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/ArtifactPluginInfoRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/AuthorizationExtensionRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/ConfigRepoExtensionRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/ElasticAgentExtensionRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/NotificationPluginInfoRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/PackageMaterialExtensionRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/SCMExtensionRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/TaskExtensionRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/metadata/MetadataRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/metadata/MetadataWithPartOfIdentityRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/metadata/PackageMaterialMetadataRepresenterTest.groovy
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/plugininfo/PluginStatus.java
  server/src/main/java/com/thoughtworks/go/server/service/EntityHashingService.java
  server/webapp/WEB-INF/applicationContext-global.xml
  server/webapp/WEB-INF/rails/app/controllers/api_v4/admin/plugin_infos_controller.rb
  server/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis, elastic-agent-multi-cluster-support, elastic-agents, plugins

#6044 Store cluster profile settings as part of elastic agent plugin infos (#5937)
  api/api-cluster-profiles-v1/src/test/groovy/com/thoughtworks/go/apiv1/clusterprofiles/representers/ClusterProfileRepresenterTest.groovy
  api/api-elastic-profile-v1/src/test/groovy/com/thoughtworks/go/apiv1/elasticprofile/representers/ElasticProfileRepresenterTest.groovy
  api/api-elastic-profile-v2/src/test/groovy/com/thoughtworks/go/apiv2/elasticprofile/representers/ElasticProfileRepresenterTest.groovy
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/Helper/PluginInfoMother.java
  config/config-api/src/main/java/com/thoughtworks/go/config/elastic/ClusterProfile.java
  config/config-api/src/main/java/com/thoughtworks/go/config/elastic/ElasticProfile.java
  config/config-api/src/test/java/com/thoughtworks/go/config/elastic/ElasticProfileTest.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginInfoBuilder.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentMetadataLoaderTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginInfoBuilderTest.java
  plugin-infra/go-plugin-domain/src/main/java/com/thoughtworks/go/plugin/domain/elastic/ElasticAgentPluginInfo.java
  plugin-infra/go-plugin-domain/src/test/java/com/thoughtworks/go/plugin/domain/common/CombinedPluginInfoTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticAgentPluginServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/controller/JobControllerIntegrationTest.java
  server/webapp/WEB-INF/rails/spec/controllers/admin/status_reports_controller_spec.rb
  server/webapp/WEB-INF/rails/spec/controllers/api_v4/admin/plugin_infos_controller_spec.rb
  server/webapp/WEB-INF/rails/spec/presenters/api_v4/plugin/plugin_info_representer_spec.rb
Labels: elastic-agent-multi-cluster-support, elastic-agents

#6050 Part - 2: Support for Secret Params in Materials
  common/src/test/java/com/thoughtworks/go/config/materials/tfs/TfsMaterialConfigUpdateTest.java
  config/config-api/build.gradle
  config/config-api/src/main/java/com/thoughtworks/go/config/SecretParam.java
  config/config-api/src/main/java/com/thoughtworks/go/config/SecretParams.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/ScmMaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/git/GitMaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/mercurial/HgMaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/perforce/P4MaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/svn/SvnMaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/tfs/TfsMaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/materials/TestingMaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/util/command/UrlArgument.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/DummyMaterialConfig.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/ScmMaterialConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/git/GitMaterialConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/mercurial/HgMaterialConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/perforce/P4MaterialConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/svn/SvnMaterialConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/util/command/UrlArgumentTest.java
  server/webapp/WEB-INF/rails/app/controllers/api_v1/admin/internal/material_test_controller.rb
  server/webapp/WEB-INF/rails/lib/java_imports.rb
  server/webapp/WEB-INF/rails/lib/services.rb
  server/webapp/WEB-INF/rails/spec/controllers/api_v1/admin/internal/material_test_controller_spec.rb
Labels: secrets-management

#6040 [DNM] Introduce elastic agent extension v5 migrate-config call (#5937) (#5538)
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginInfoBuilder.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/VersionedElasticAgentExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/models/ElasticAgentInformation.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v4/ElasticAgentExtensionV4.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ClusterProfileDTO.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ConfigurationPropertyDTO.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionConverterV5.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionV5.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentInformationConverterV5.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentInformationDTO.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentPluginConstantsV5.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticProfileDTO.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtensionV4Test.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtensionV5Test.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginInfoBuilderTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionConverterV5Test.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/DefaultPluginManager.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/ElasticAgentInformationMigrator.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/FelixGoPluginOSGiFramework.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/GoPluginOSGiFramework.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/PluginManager.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/DefaultPluginManagerTest.java
  server/src/main/java/com/thoughtworks/go/config/update/ReplaceElasticAgentInformationCommand.java
  server/src/main/java/com/thoughtworks/go/server/initializers/PluginsInitializer.java
  server/src/main/java/com/thoughtworks/go/server/service/ElasticAgentInformationMigratorImpl.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/ReplaceElasticAgentInformationCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/initializers/PluginsInitializerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticAgentInformationMigratorImplTest.java
Labels: elastic-agent-multi-cluster-support, elastic-agents, plugins

#6060 Add cluster information on elastic agent plugin infos API (#5538)
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/ElasticAgentExtensionRepresenter.java
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/Helper/PluginInfoMother.java
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/ElasticAgentExtensionRepresenterTest.groovy
Labels: apis, elastic-agent-multi-cluster-support, elastic-agents, enhancement

#6066 Consume Plugin Infos API v5 on SPAs (#5538)
  server/webapp/WEB-INF/rails/spec/webpack/models/shared/plugin_infos_spec.js
  server/webapp/WEB-INF/rails/spec/webpack/views/agents/agent_row_widget_spec.js
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos.js
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos/elastic_plugin_capabilities.js
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/elastic_plugin_capabilities.ts
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/extensions.ts
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/plugin_info.ts
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/plugin_info_crud.ts
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/spec/plugin_info_spec.js
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/elastic_profiles_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/test_data.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_plugins/spec/plugins_widget_spec.tsx
Labels: SPA, elastic-agent-multi-cluster-support, elastic-agents

#6069 Fix data sharing
  server/webapp/WEB-INF/rails/webpack/helpers/api_request_builder.ts
Labels: apis, bug-fix, data-sharing

#6070 Disable config repo modal specs
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos/spec/config_repos_test_connection_spec.tsx
Labels: technical, technical-debt

#6074 Support associating cluster profile to an elastic agent profile (#5538)
  server/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/cluster_profiles_crud.ts
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/elastic_profiles_crud.ts
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/spec/cluster_profiles_crud_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/spec/types_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/types.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/elastic_profiles_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/modals.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/elastic_profile_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/modals_spec.tsx
Labels: SPA, elastic-agent-multi-cluster-support, elastic-agents, enhancement

#6076 Remove plugin settings support for EA plugins implemented with v5 extension (#5538)
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginInfoBuilder.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginInfoBuilderTest.java
Labels: elastic-agent-multi-cluster-support, elastic-agents, plugins

#6078 Fix elastic profiles SPA (#5538)
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/modals.tsx
Labels: SPA, bug-fix, elastic-agent-multi-cluster-support, elastic-agents

#6081 Fix agent status report page link on job details page
  server/webapp/WEB-INF/vm/build_detail/_build_detail_summary_jstemplate.vm
Labels: elastic-agent-multi-cluster-support, elastic-agents

#6072 Fail job on SecretParam resolution failures #5834
  server/src/main/java/com/thoughtworks/go/server/messaging/JobStatusListener.java
  server/src/main/java/com/thoughtworks/go/server/messaging/JobStatusMessage.java
  server/src/main/java/com/thoughtworks/go/server/service/BuildAssignmentService.java
  server/src/test-fast/java/com/thoughtworks/go/server/messaging/JobStatusListenerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/BuildAssignmentServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/BuildAssignmentServiceIntegrationTest.java
Labels: secrets-management

#6086 Moved agents test over to junit5 and assertj
  agent/build.gradle
  agent/src/test-functional/java/com/thoughtworks/go/agent/service/RemoteRegistrationRequesterTest.java
  agent/src/test-functional/java/com/thoughtworks/go/agent/service/SslInfrastructureServiceTest.java
  agent/src/test/java/com/thoughtworks/go/agent/AgentAutoRegistrationPropertiesImplTest.java
  agent/src/test/java/com/thoughtworks/go/agent/AgentControllerTest.java
  agent/src/test/java/com/thoughtworks/go/agent/AgentHTTPClientControllerTest.java
  agent/src/test/java/com/thoughtworks/go/agent/AgentPluginsInitializerIntegrationTest.java
  agent/src/test/java/com/thoughtworks/go/agent/AgentPluginsInitializerTest.java
  agent/src/test/java/com/thoughtworks/go/agent/AgentWebSocketClientControllerTest.java
  agent/src/test/java/com/thoughtworks/go/agent/ApplicationContextTest.java
  agent/src/test/java/com/thoughtworks/go/agent/JobRunnerTest.java
  agent/src/test/java/com/thoughtworks/go/agent/UrlBasedArtifactsRepositoryTest.java
  agent/src/test/java/com/thoughtworks/go/agent/WebSocketClientHandlerTest.java
  agent/src/test/java/com/thoughtworks/go/agent/WebSocketSessionHandlerTest.java
  agent/src/test/java/com/thoughtworks/go/agent/service/AgentUpgradeServiceTest.java
  agent/src/test/java/com/thoughtworks/go/agent/service/TokenRequesterTest.java
  agent/src/test/java/com/thoughtworks/go/agent/statusapi/AgentStatusHttpdTest.java
  agent/src/test/java/com/thoughtworks/go/agent/statusapi/IsConnectedToServerV1Test.java
Labels: technical-debt, tests

#6085 Validate secrets in env variables
  common/src/test/java/com/thoughtworks/go/config/materials/tfs/TfsMaterialConfigTest.java
  config/config-api/src/main/java/com/thoughtworks/go/config/EnvironmentVariableConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/ScmMaterialConfig.java
  config/config-api/src/test/java/com/thoughtworks/go/config/EnvironmentVariableConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/git/GitMaterialConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/mercurial/HgMaterialConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/perforce/P4MaterialConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/svn/SvnMaterialConfigTest.java
  server/webapp/WEB-INF/rails/app/controllers/api_v1/admin/internal/material_test_controller.rb
  server/webapp/WEB-INF/rails/spec/controllers/api_v1/admin/internal/material_test_controller_spec.rb
Labels: secrets-management

#6103 Validate Cluster Profile Id reference on Elastic Profiles (#5538)
  api/api-elastic-profile-v2/src/main/java/com/thoughtworks/go/apiv2/elasticprofile/ElasticProfileControllerV2.java
  api/api-elastic-profile-v2/src/main/java/com/thoughtworks/go/apiv2/elasticprofile/representers/ElasticProfileRepresenter.java
  api/api-elastic-profile-v2/src/test/groovy/com/thoughtworks/go/apiv2/elasticprofile/ElasticProfileControllerV2Test.groovy
  api/api-elastic-profile-v2/src/test/groovy/com/thoughtworks/go/apiv2/elasticprofile/representers/ElasticProfileRepresenterTest.groovy
  api/api-elastic-profile-v2/src/test/groovy/com/thoughtworks/go/apiv2/elasticprofile/representers/ElasticProfilesRepresenterTest.groovy
  common/src/main/java/com/thoughtworks/go/validation/RolesConfigUpdateValidator.java
  config/config-api/src/main/java/com/thoughtworks/go/config/ConfigSaveValidationContext.java
  config/config-api/src/main/java/com/thoughtworks/go/config/DelegatingValidationContext.java
  config/config-api/src/main/java/com/thoughtworks/go/config/PipelineConfigSaveValidationContext.java
  config/config-api/src/main/java/com/thoughtworks/go/config/ValidationContext.java
  config/config-api/src/main/java/com/thoughtworks/go/config/elastic/ElasticProfile.java
  config/config-api/src/test/java/com/thoughtworks/go/config/ConfigSaveValidationContextTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/elastic/ElasticProfileTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/helper/ValidationContextMother.java
  server/src/main/java/com/thoughtworks/go/config/update/PluginProfileCommand.java
  server/src/test-integration/java/com/thoughtworks/go/config/GoConfigMigratorIntegrationTest.java
Labels: elastic-agent-multi-cluster-support, elastic-agents

#6106 Fix elastic agent profiles UI (#5538)
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/elastic_profiles_crud.ts
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/spec/types_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/types.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/modals.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/modals_spec.tsx
Labels: elastic-agent-multi-cluster-support, elastic-agents

#6099 Validate secret lookup response for unwanted secrets.
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/exceptions/SecretResolutionFailureException.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/secrets/SecretsExtension.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/secrets/SecretsExtensionTest.java
  server/src/main/java/com/thoughtworks/go/server/service/SecretParamResolver.java
Labels: secrets-management

#6109 Change Elastic Agent Extension v5 API call names (#5538)
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionV5.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentPluginConstantsV5.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtensionV4Test.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtensionV5Test.java
Labels: elastic-agent-multi-cluster-support, elastic-agents

#6112 Fixed typos in error message for secret resolution failure.
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/exceptions/SecretResolutionFailureException.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/secrets/SecretsExtension.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/secrets/SecretsExtensionTest.java
Labels: secrets-management

#6118 An unclosed html tag, was causing the title on job details page to be not shown. Issue #6064
  server/webapp/WEB-INF/vm/shared/_header.vm
Labels: bug-fix

#6120 Add cluster profile changed elastic agent extension call (#6115)
  domain/src/main/java/com/thoughtworks/go/domain/ClusterProfilesChangedStatus.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginRegistry.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/VersionedElasticAgentExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v4/ElasticAgentExtensionV4.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionConverterV5.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionV5.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentPluginConstantsV5.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtensionV4Test.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtensionV5Test.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginRegistryTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionConverterV5Test.java
  server/src/main/java/com/thoughtworks/go/config/update/DeleteClusterProfileCommand.java
  server/src/main/java/com/thoughtworks/go/server/service/ClusterProfilesChangedPluginNotifier.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/DeleteClusterProfileCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ClusterProfilesChangedPluginNotifierTest.java
Labels: elastic-agent-multi-cluster-support, elastic-agents

#6135 Add support to parse secrets plugin info on UI models.
  server/webapp/WEB-INF/rails/spec/webpack/models/shared/plugin_infos_spec.js
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos.js
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/extension_type.ts
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/extensions.ts
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/spec/plugin_info_spec.js
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/spec/test_data.ts
Labels: plugins, secrets-management

#6141 Fix NullPointerException during full config save (#5538)
  config/config-api/src/main/java/com/thoughtworks/go/config/elastic/ClusterProfile.java
Labels: bug, bug-fix, elastic-agent-multi-cluster-support, elastic-agents

#6119 Elastic and Cluster Profiles SPA
  server/webapp/WEB-INF/rails/config/initializers/jsroutes.rb
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/cluster_profiles_crud.ts
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/elastic_agent_profiles_crud.ts
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/spec/cluster_profiles_crud_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/spec/types_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/elastic_profiles/types.ts
  server/webapp/WEB-INF/rails/webpack/views/components/site_menu/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/site_menu/spec/index_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/cluster_profiles/spec/cluster_profiles_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/cluster_profiles_modals.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/cluster_profiles_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/elastic_agent_profiles_modals.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/elastic_profiles_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/index.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/cluster_profiles_modals_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/cluster_profiles_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/elastic_agent_profiles_modals_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/elastic_profile_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/elastic_profiles_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/test_cluster_profiles_modal.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/elastic_profiles/spec/test_data.tsx
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/ElasticProfilesController.java
Labels: elastic-agent-multi-cluster-support, elastic-agents

#6144 Removing build script which ignored all the test except *Git*Test*
  build.gradle
Labels: bug-fix, build-script

#6147 Pass along all cluster-profiles belonging to that plugin as part of server ping request (#5538)
  server/src/main/java/com/thoughtworks/go/server/messaging/elasticagents/ServerPingMessage.java
  server/src/main/java/com/thoughtworks/go/server/service/ElasticAgentPluginService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticAgentPluginServiceTest.java
Labels: elastic-agent-multi-cluster-support, elastic-agents

#6139 Remove elastic agent profiles API v1 (#5538)
  .gitignore
  api/api-elastic-profile-v1/build.gradle
  api/api-elastic-profile-v1/src/main/java/com/thoughtworks/go/apiv1/elasticprofile/ElasticProfileControllerV1.java
  api/api-elastic-profile-v1/src/main/java/com/thoughtworks/go/apiv1/elasticprofile/representers/ElasticProfileRepresenter.java
  api/api-elastic-profile-v1/src/main/java/com/thoughtworks/go/apiv1/elasticprofile/representers/ElasticProfilesRepresenter.java
  api/api-elastic-profile-v1/src/test/groovy/com/thoughtworks/go/apiv1/elasticprofile/ElasticProfileControllerV1Test.groovy
  api/api-elastic-profile-v1/src/test/groovy/com/thoughtworks/go/apiv1/elasticprofile/representers/ElasticProfileRepresenterTest.groovy
  api/api-elastic-profile-v1/src/test/groovy/com/thoughtworks/go/apiv1/elasticprofile/representers/ElasticProfilesRepresenterTest.groovy
  server/webapp/WEB-INF/applicationContext-global.xml
  settings.gradle
Labels: apis, elastic-agent-multi-cluster-support, elastic-agents

#6166 Fix version updater check to show notification only when newer version is avalialble (#6142)
  base/src/main/java/com/thoughtworks/go/CurrentGoCDVersion.java
  server/webapp/WEB-INF/rails/app/helpers/application_helper.rb
  server/webapp/WEB-INF/rails/app/views/layouts/single_page_app.html.erb
  server/webapp/WEB-INF/rails/app/views/shared/_body_data_attrs.html.erb
  server/webapp/WEB-INF/rails/webpack/models/notifications/system_notifications.ts
  server/webapp/WEB-INF/rails/webpack/models/shared/spec/version_updater_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/shared/version_updater.ts
  server/webapp/WEB-INF/vm/shared/_header.vm
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/InitialContextProvider.java
  spark/spark-spa/src/main/java/freemarker_implicit.ftl
  spark/spark-spa/src/main/resources/freemarker/layouts/component_layout.ftlh
  spark/spark-spa/src/main/resources/freemarker/layouts/single_page_app.ftlh
Labels: bug-fix, notifications

#6160 Validate elastic agent profiles as part of cluster profiles update command (#6159)
  config/config-api/src/main/java/com/thoughtworks/go/config/elastic/ElasticProfile.java
  config/config-api/src/main/java/com/thoughtworks/go/config/elastic/ElasticProfiles.java
  server/src/main/java/com/thoughtworks/go/config/update/UpdateClusterProfileCommand.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/UpdateClusterProfileCommandTest.java
Labels: bug-fix, elastic-agent-multi-cluster-support, elastic-agents

#6176 Remove plugin id from elastic agent profiles API (#5538)
  api/api-elastic-profile-v2/src/main/java/com/thoughtworks/go/apiv2/elasticprofile/ElasticProfileControllerV2.java
  api/api-elastic-profile-v2/src/main/java/com/thoughtworks/go/apiv2/elasticprofile/representers/ElasticProfileRepresenter.java
  api/api-elastic-profile-v2/src/test/groovy/com/thoughtworks/go/apiv2/elasticprofile/ElasticProfileControllerV2Test.groovy
  api/api-elastic-profile-v2/src/test/groovy/com/thoughtworks/go/apiv2/elasticprofile/representers/ElasticProfileRepresenterTest.groovy
  api/api-elastic-profile-v2/src/test/groovy/com/thoughtworks/go/apiv2/elasticprofile/representers/ElasticProfilesRepresenterTest.groovy
Labels: elastic-agent-multi-cluster-support, elastic-agents

#6146 Add deprecation warning message on plugins page for elastic agent plugins not supporting cluster profiles.
  server/webapp/WEB-INF/rails/webpack/views/components/collapsible_panel/index.scss
  server/webapp/WEB-INF/rails/webpack/views/components/collapsible_panel/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/components/collapsible_panel/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_plugins/index.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/new_plugins/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/new_plugins/plugin_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_plugins/spec/plugins_widget_spec.tsx
Labels: elastic-agent-multi-cluster-support

#6179 Updated the error message when a delete operation is performed on enabled user
  server/webapp/WEB-INF/rails/webpack/views/pages/users.tsx
Labels: users

#6185 Encrypt secure plugin properties on server startup (#6184)
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/ElasticAgentInformationMigrator.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/FelixGoPluginOSGiFramework.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/GoPluginOSGiFramework.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/listeners/DefaultPluginJarChangeListener.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/DefaultPluginManagerTest.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/FelixGoPluginOSGiFrameworkTest.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/listeners/DefaultPluginJarChangeListenerTest.java
  server/src/main/java/com/thoughtworks/go/server/service/ElasticAgentInformationMigratorImpl.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticAgentInformationMigratorImplTest.java
Labels: bug-fix, elastic-agent-multi-cluster-support, elastic-agents

#6209 Fixed config repo api v1 post url normalization of git and hg materials
  api/api-config-repos-v1/src/main/java/com/thoughtworks/go/apiv1/configrepos/representers/GitMaterialRepresenter.java
  api/api-config-repos-v1/src/main/java/com/thoughtworks/go/apiv1/configrepos/representers/HgMaterialRepresenter.java
  api/api-config-repos-v1/src/test/groovy/com/thoughtworks/go/apiv1/configrepos/representers/GitMaterialRepresenterTest.groovy
  api/api-config-repos-v1/src/test/groovy/com/thoughtworks/go/apiv1/configrepos/representers/HgMaterialRepresenterTest.groovy
Labels: apis, config repo

#6216 Fix encryption API to honour "go.encryption.api.max.requests" system property.
  api/api-encryption-v1/src/main/java/com/thoughtworks/go/apiv1/admin/encryption/spring/EncryptionController.java
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
Labels: bug-fix

#6211 Encrypt publish-artifact secure-plugin-properties when configured from UI
  config/config-api/src/main/java/com/thoughtworks/go/config/PipelineConfig.java
  config/config-api/src/test/java/com/thoughtworks/go/config/PipelineConfigTest.java
Labels: artifacts, bug-fix

#6219 Encrypt publish-artifact secure-plugin-properties when configured from admin/cruise-config.xml tab
  config/config-server/src/test/resources/data/pluggable_artifacts_with_params.xml
  server/src/main/java/com/thoughtworks/go/config/FullConfigSaveNormalFlow.java
  server/src/test-integration/java/com/thoughtworks/go/config/FullConfigSaveFlowTestBase.java
  server/src/test-shared/java/com/thoughtworks/go/util/GoConfigFileHelper.java
Labels: bug-fix

#6233 Removed secret extension from plugin info v5
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/ExtensionRepresenterResolver.java
  api/api-plugin-infos-v5/src/main/java/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/SecretsExtensionRepresenter.java
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/Helper/PluginInfoMother.java
  api/api-plugin-infos-v5/src/test/groovy/com/thoughtworks/go/apiv5/plugininfos/representers/extensions/SecretConfigExtensionRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/server/service/plugins/builder/DefaultPluginInfoFinder.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/plugins/builder/DefaultPluginInfoFinderTest.java
Labels: secrets-management
