Repository gocd/gocd, pull requests merged in 2019-11, with the labels that each got.

#7125 Showcase info related to auth config if the same is not configured yet
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs/auth_configs_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs/spec/auth_configs_widget_spec.tsx
Labels: SPA, auth and role configuration

#7109 Migrate Package Repository API(V1) to spark
  .gitignore
  api/api-package-repository-v1/build.gradle
  api/api-package-repository-v1/src/main/java/com/thoughtworks/go/apiv1/packagerepository/PackageRepositoryControllerV1.java
  api/api-package-repository-v1/src/main/java/com/thoughtworks/go/apiv1/packagerepository/representers/PackageRepositoriesRepresenter.java
  api/api-package-repository-v1/src/main/java/com/thoughtworks/go/apiv1/packagerepository/representers/PackageRepositoryRepresenter.java
  api/api-package-repository-v1/src/main/java/com/thoughtworks/go/apiv1/packagerepository/representers/PackagesRepresenter.java
  api/api-package-repository-v1/src/test/groovy/com/thoughtworks/go/apiv1/packagerepository/PackageRepositoryControllerV1Test.groovy
  api/api-package-repository-v1/src/test/groovy/com/thoughtworks/go/apiv1/packagerepository/representers/PackageRepositoriesRepresenterTest.groovy
  api/api-package-repository-v1/src/test/groovy/com/thoughtworks/go/apiv1/packagerepository/representers/PackageRepositoryRepresenterTest.groovy
  api/api-package-repository-v1/src/test/groovy/com/thoughtworks/go/apiv1/packagerepository/representers/PackagesRepresenterTest.groovy
  server/src/main/resources/applicationContext-global.xml
  server/src/main/webapp/WEB-INF/rails/app/controllers/api_v1/admin/repositories_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/config/package_repositories_representer.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/config/package_repository_representer.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/config/package_summary_representer.rb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api_v1/admin/repositories_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/presenters/api_v1/config/package_repositories_representer_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/presenters/api_v1/config/package_repository_representer_spec.rb
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis, package materials

#7181 [Bug] Set JVM Args for agent correctly
  buildSrc/src/main/resources/gocd-docker-agent/docker-entrypoint.sh
Labels: docker-images

#7191 Show appropriate error when user does not have permissions to operate on a pipeline or pipeline group (#7177)
  api/api-pipeline-config-v10/src/main/java/com/thoughtworks/go/apiv10/admin/pipelineconfig/PipelineConfigControllerV10.java
  server/src/main/java/com/thoughtworks/go/config/update/UpdatePipelineConfigCommand.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/UpdatePipelineConfigCommandTest.java
Labels: apis, bug-fix, pipeline configuration

#7184 Allow feature toggles API to modify toggle value with case insensitivity (#7183)
  api/api-feature-toggles-v1/src/main/java/com/thoughtworks/go/apiv1/featuretoggles/FeatureTogglesControllerV1.java
  api/api-feature-toggles-v1/src/test/groovy/com/thoughtworks/go/apiv1/featuretoggles/FeatureTogglesControllerV1Test.groovy
Labels: apis, bug-fix, feature-toggle

#7188 Remove rails based server configurations page
  server/src/main/java/com/thoughtworks/go/server/service/ServerConfigService.java
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/server_configuration.js
  server/src/main/webapp/WEB-INF/rails/app/controllers/admin/server_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/views/admin/server/index.html.erb
  server/src/main/webapp/WEB-INF/rails/app/views/admin/server/ldap/edit.html.erb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/lib/server_configuration_form.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/admin/server_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/lib/server_configuration_form_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/views/admin/server/index_html_spec.rb
  server/src/test-fast/java/com/thoughtworks/go/server/service/ServerConfigServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ServerConfigServiceIntegrationTest.java
Labels: server configuration, server-configuration-rewrite, technical-debt

#7197 Do not cancel another building job on agent in case of canceling run on all agent job (#2048)
  server/src/main/java/com/thoughtworks/go/server/messaging/JobResultListener.java
  server/src/test-fast/java/com/thoughtworks/go/server/messaging/JobResultListenerTest.java
Labels: bug-fix, pipeline runs

#7115 Updating New Environment SPA to support add new env
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/environment_agents.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/environments.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/environments_apis.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environment_agents_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environments_apis_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environments_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/create_env_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environments_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/create_env_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/environments_widget_spec.tsx
Labels: SPA, environments

#6605 Auth config api v2
  .gitignore
  api/api-security-auth-config-v2/build.gradle
  api/api-security-auth-config-v2/src/main/java/com/thoughtworks/go/apiv2/securityauthconfig/SecurityAuthConfigControllerV2.java
  api/api-security-auth-config-v2/src/main/java/com/thoughtworks/go/apiv2/securityauthconfig/SecurityAuthConfigInternalControllerV2.java
  api/api-security-auth-config-v2/src/main/java/com/thoughtworks/go/apiv2/securityauthconfig/representers/SecurityAuthConfigRepresenter.java
  api/api-security-auth-config-v2/src/main/java/com/thoughtworks/go/apiv2/securityauthconfig/representers/SecurityAuthConfigsRepresenter.java
  api/api-security-auth-config-v2/src/main/java/com/thoughtworks/go/apiv2/securityauthconfig/representers/VerifyConnectionResponseRepresenter.java
  api/api-security-auth-config-v2/src/test/groovy/com/thoughtworks/go/apiv2/securityauthconfig/SecurityAuthConfigControllerV2Test.groovy
  api/api-security-auth-config-v2/src/test/groovy/com/thoughtworks/go/apiv2/securityauthconfig/SecurityAuthConfigInternalControllerV2Test.groovy
  api/api-security-auth-config-v2/src/test/groovy/com/thoughtworks/go/apiv2/securityauthconfig/representers/SecurityAuthConfigRepresenterTest.groovy
  server/src/main/resources/applicationContext-global.xml
  settings.gradle
Labels: apis, enhancement, server-configuration-rewrite

#7204 Rename the Site-urls API docs URL.
  api/api-server-site-urls-config-v1/src/main/java/com/thoughtworks/go/apiv1/serversiteurlsconfig/representers/ServerSiteUrlsConfigRepresenter.java
  api/api-server-site-urls-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/serversiteurlsconfig/representers/ServerSiteUrlsConfigRepresenterTest.groovy
Labels: server configuration

#7205 Modify Auth Config UI to support allow only known users to login attribute (#6571)
  server/src/main/webapp/WEB-INF/rails/webpack/models/auth_configs/auth_configs.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/auth_configs/auth_configs_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/auth_configs/spec/auth_configs_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/auth_configs/spec/auth_configs_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/auth_configs/spec/test_data.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs/auth_config_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs/modals.tsx
Labels: SPA, auth and role configuration

#7175 Remove unversioned cancel stage api
  server/src/main/java/com/thoughtworks/go/server/service/ScheduleService.java
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/stages_controller.rb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/stages_controller_spec.rb
  server/src/test-fast/java/com/thoughtworks/go/server/service/ScheduleServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ScheduleServiceSecurityTest.java
Labels: apis

#7174 Create versioned API for fetching pipeline instance
  api/api-pipeline-operations-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineoperations/PipelineOperationsControllerV1.java
  api/api-pipeline-operations-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineoperations/representers/BuildCauseRepresenter.java
  api/api-pipeline-operations-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineoperations/representers/JobHistoryItemRepresenter.java
  api/api-pipeline-operations-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineoperations/representers/MaterialRepresenter.java
  api/api-pipeline-operations-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineoperations/representers/MaterialRevisionRepresenter.java
  api/api-pipeline-operations-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineoperations/representers/ModificationRepresenter.java
  api/api-pipeline-operations-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineoperations/representers/PipelineInstanceModelRepresenter.java
  api/api-pipeline-operations-v1/src/main/java/com/thoughtworks/go/apiv1/pipelineoperations/representers/StageInstanceModelRepresenter.java
  api/api-pipeline-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelineoperations/representers/BuildCauseRepresenterTest.groovy
  api/api-pipeline-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelineoperations/representers/JobHistoryItemRepresenterTest.groovy
  api/api-pipeline-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelineoperations/representers/MaterialRepresenterTest.groovy
  api/api-pipeline-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelineoperations/representers/MaterialRevisionRepresenterTest.groovy
  api/api-pipeline-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelineoperations/representers/ModificationRepresenterTest.groovy
  api/api-pipeline-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelineoperations/representers/PipelineInstanceModelRepresenterTest.groovy
  api/api-pipeline-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelineoperations/representers/StageInstanceModelRepresenterTest.groovy
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  spark/spark-base/src/main/java/com/thoughtworks/go/api/base/JsonOutputWriter.java
  spark/spark-base/src/main/java/com/thoughtworks/go/api/base/OutputWriter.java
Labels: apis

#7214 Display error messages on agents SPA
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new_agent.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new_agents/spec/static_agents_widget_spec.tsx
Labels: bug-fix

#7213 Added validations to policy inside role
  config/config-api/src/main/java/com/thoughtworks/go/config/ConfigSaveValidationContext.java
  config/config-api/src/main/java/com/thoughtworks/go/config/Role.java
  config/config-api/src/main/java/com/thoughtworks/go/config/ValidationContext.java
  config/config-api/src/main/java/com/thoughtworks/go/config/policy/AbstractDirective.java
  config/config-api/src/main/java/com/thoughtworks/go/config/policy/PolicyAware.java
  config/config-api/src/main/java/com/thoughtworks/go/config/policy/PolicyValidationContext.java
  config/config-api/src/test/java/com/thoughtworks/go/config/ConfigSaveValidationContextTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/policy/AbstractDirectiveTest.java
Labels: granular-auth

#7207 Fixes in the new environments SPA
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_agents_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_environment_variables_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_pipelines_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/models/agents_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_agents_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_environment_variables_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/models/agents_view_model_spec.ts
Labels: SPA, environments

#7161 Fixes for pipeline pause message on pipeline history page
  server/src/main/webapp/WEB-INF/rails/app/assets/stylesheets/css/_pipeline-history.scss
  server/src/main/webapp/WEB-INF/rails/app/assets/stylesheets/css_sass/gadgets/_breadcrumb.scss
  server/src/main/webapp/WEB-INF/rails/app/views/shared/_pause_info.html.erb
  server/src/main/webapp/WEB-INF/vm/pipeline/_pipeline_history_list_jstemplate.vm
Labels: bug-fix, pipeline runs

#7133 Return user friendly errors for server site urls
  api/api-server-site-urls-config-v1/src/main/java/com/thoughtworks/go/apiv1/serversiteurlsconfig/ServerSiteUrlsConfigControllerV1.java
  api/api-server-site-urls-config-v1/src/main/java/com/thoughtworks/go/apiv1/serversiteurlsconfig/representers/ServerSiteUrlsConfigRepresenter.java
  api/api-server-site-urls-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/serversiteurlsconfig/ServerSiteUrlsConfigControllerV1Test.groovy
  api/api-server-site-urls-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/serversiteurlsconfig/representers/ServerSiteUrlsConfigRepresenterTest.groovy
  config/config-api/src/main/java/com/thoughtworks/go/config/SiteUrls.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/SecureSiteUrl.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/SiteUrl.java
  config/config-api/src/test/java/com/thoughtworks/go/config/SiteUrlsTest.java
  server/src/main/java/com/thoughtworks/go/config/update/CreateOrUpdateConfigServerSiteUrlsCommand.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/CreateOrUpdateConfigServerSiteUrlsCommandTest.java
Labels: apis

#7228 Fix cruise-config.xsd to support defining policies for pluginRole (#7222)
  config/config-server/src/main/resources/cruise-config.xsd
Labels: granular-auth

#7231 Add support administer action on policies (#7222)
  api/api-base/src/test/groovy/com/thoughtworks/go/api/spring/ApiAuthenticationHelperTest.java
  api/api-environments-v3/src/main/java/com/thoughtworks/go/apiv3/environments/EnvironmentsControllerV3.java
  api/api-environments-v3/src/test/groovy/com/thoughtworks/go/apiv3/environments/EnvironmentsControllerV3Test.groovy
  config/config-api/src/main/java/com/thoughtworks/go/config/Role.java
  config/config-api/src/main/java/com/thoughtworks/go/config/policy/AbstractDirective.java
  config/config-api/src/main/java/com/thoughtworks/go/config/policy/SupportedAction.java
  config/config-api/src/test/java/com/thoughtworks/go/config/policy/AllowTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/policy/DenyTest.java
  server/src/main/java/com/thoughtworks/go/config/update/EnvironmentCommand.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/AddEnvironmentCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/DeleteEnvironmentCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/PatchEnvironmentCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/UpdateEnvironmentCommandTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/EnvironmentConfigServiceIntegrationTest.java
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/SparkController.java
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/spring/AbstractAuthenticationHelper.java
Labels: environments, granular-auth

#7234 Allow normal user to access Environments Index API (#7232)
  api/api-environments-v3/src/main/java/com/thoughtworks/go/apiv3/environments/EnvironmentsControllerV3.java
  api/api-environments-v3/src/test/groovy/com/thoughtworks/go/apiv3/environments/EnvironmentsControllerV3Test.groovy
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/spring/AbstractAuthenticationHelper.java
Labels: apis, bug-fix, environments, granular-auth

#7233 Add support for defining policy to roles spa
  server/src/main/webapp/WEB-INF/rails/webpack/models/roles/roles.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/roles/roles_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/roles/spec/roles_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/roles/spec/roles_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/policy_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/role_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/roles_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/spec/policy_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/spec/role_modal_body_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/spec/roles_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/spec/test_data.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/users.tsx
Labels: SPA, auth and role configuration, granular-auth

#7237 Show user specific environments on environments SPA (#7222)
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/InternalEnvironmentsControllerV1.java
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/representers/MergedEnvironmentRepresenter.java
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/representers/MergedEnvironmentsRepresenter.java
  api/api-internal-environments-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalenvironments/InternalEnvironmentsControllerV1Test.groovy
  api/api-internal-environments-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalenvironments/representers/MergedEnvironmentRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filterchains/AuthorizeFilterChain.java
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/environments.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/spec/test_data.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/site_menu/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/site_menu/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/site_menu/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/site_menu/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/create_env_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environment_body_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environments_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_pipelines_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/environment_body_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/environments_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/models/pipelines_view_model_spec.ts
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/NewEnvironmentsController.java
  spark/spark-spa/src/test/groovy/com/thoughtworks/go/spark/spa/NewEnvironmentsControllerTest.groovy
Labels: SPA, environments, granular-auth

#7266 Handle policy evaluation when dealing with multiple roles (#7222)
  api/api-base/src/test/groovy/com/thoughtworks/go/api/spring/ApiAuthenticationHelperTest.java
  config/config-api/src/main/java/com/thoughtworks/go/config/policy/PolicyAware.java
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/spring/AbstractAuthenticationHelper.java
Labels: granular-auth

#7223 Fixes: new environments SPA
  server/src/main/webapp/WEB-INF/rails/webpack/models/environment_variables/spec/types_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/environment_variables/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/environments.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environments_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/new_environments.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/modal/delete_confirm_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/modal/spec/delete_confirm_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_templates.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/config_repo_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/elastic_agent_configurations.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/create_env_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_agents_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_environment_variables_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_pipelines_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environments_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/models/pipelines_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/create_env_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_agents_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_environment_variables_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_pipelines_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/environments_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/models/pipelines_view_model_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/secret_configs.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/users/delete_user_confirmation_modal.tsx
Labels: environments

#7286 Show old environments page to admins only
  server/src/main/webapp/WEB-INF/rails/app/controllers/application_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/controllers/environments_controller.rb
Labels: bug-fix, environments

#7282 Fix for constant agents reshuffling on agents SPA
  server/src/main/webapp/WEB-INF/rails/webpack/models/agents/agent_comparator.ts
Labels: SPA, agents, bug-fix

#7293 Remove undocumented merged environments API
  server/src/main/webapp/WEB-INF/rails/app/controllers/api_v1/admin/merged_environments_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/admin/merged_environments/agent_summary_representer.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/admin/merged_environments/environment_variable_representer.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/admin/merged_environments/merged_environment_config_representer.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/admin/merged_environments/merged_environments_config_representer.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/admin/merged_environments/pipeline_config_summary_representer.rb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api_v1/admin/merged_environments_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/presenters/api_v1/admin/merged_environments/agent_summary_representer_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/presenters/api_v1/admin/merged_environments/environment_variable_representer_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/presenters/api_v1/admin/merged_environments/merged_environment_config_representer_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/presenters/api_v1/admin/merged_environments/merged_environments_config_representer_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/presenters/api_v1/admin/merged_environments/pipeline_config_summary_representer_spec.rb
Labels: apis, config repo, environments, technical-debt

#7278 Fixed scrolling issue for `Anchor`
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/anchor/anchor.tsx
Labels: bug-fix, ui / ux

#7302 Revert "Bump typescript in /server/src/main/webapp/WEB-INF/rails"
  server/src/main/webapp/WEB-INF/rails/package.json
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: technical, technical-debt

#7309 Bump up typescript to v3.7.2
  server/src/main/webapp/WEB-INF/rails/package.json
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/pipeline_groups_cache.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/agents/resources_dropdown_button.tsx
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: library-upgrade, technical

#7311 Environments SPA fixes:
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/dashboard/dashboard_groups.js
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/spec/test_data.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_pipelines_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environment_body_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environments_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_pipelines_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/environment_body_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/environments_widget_spec.tsx
Labels: SPA, environments, ui / ux

#7322 Added policy authorization to internal env controller
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/InternalEnvironmentsControllerV1.java
  api/api-internal-environments-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalenvironments/InternalEnvironmentsControllerV1Test.groovy
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filterchains/AuthorizeFilterChain.java
Labels: bug-fix, environments, granular-auth

#7334 Fix inconsistent behaviour for delete group
  config/config-api/src/main/java/com/thoughtworks/go/domain/PipelineGroups.java
  config/config-api/src/test/java/com/thoughtworks/go/domain/PipelineGroupsTest.java
  server/src/main/java/com/thoughtworks/go/config/update/DeletePipelineConfigsCommand.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/DeletePipelineConfigsCommandTest.java
Labels: apis, bug-fix, pipeline configuration

#7338 Bringing back the empty check in PipelineGroups
  config/config-api/src/main/java/com/thoughtworks/go/domain/PipelineGroups.java
  config/config-api/src/test/java/com/thoughtworks/go/domain/PipelineGroupsTest.java
Labels: bug-fix

#7339 Update policy to not accept wildcard as a valid action
  config/config-api/src/main/java/com/thoughtworks/go/config/Role.java
  config/config-api/src/main/java/com/thoughtworks/go/config/policy/AbstractDirective.java
  config/config-api/src/main/java/com/thoughtworks/go/config/policy/Policy.java
  config/config-api/src/test/java/com/thoughtworks/go/config/RoleConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/policy/AbstractDirectiveTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/policy/AllowTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/policy/DenyTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/policy/PolicyTest.java
  server/src/main/java/com/thoughtworks/go/config/update/RoleConfigCommand.java
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/policy_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/spec/policy_widget_spec.tsx
  server/src/test-fast/java/com/thoughtworks/go/config/update/RoleConfigCommandTest.java
Labels: granular-auth
