Repository gocd/gocd, pull requests merged in 2019-01, with the labels that each got.

#5641 Use Dashboard cache to find the running jobs during drain mode (#5190) (#5627)
  api/api-server-drain-mode-v1/src/main/java/com/thoughtworks/go/apiv1/serverdrainmode/ServerDrainModeControllerV1.java
  api/api-server-drain-mode-v1/src/test/groovy/com/thoughtworks/go/apiv1/serverdrainmode/ServerDrainModeControllerV1Test.groovy
  domain/src/main/java/com/thoughtworks/go/presentation/pipelinehistory/JobHistoryItem.java
  server/src/main/java/com/thoughtworks/go/server/dashboard/GoDashboardPipelines.java
  server/src/main/java/com/thoughtworks/go/server/service/AgentService.java
Labels: drain-mode

#5645 Plugin settings modal show save failure error
  server/webapp/WEB-INF/rails/webpack/views/pages/new_plugins/plugin_settings_modal.tsx
Labels: drain-mode, plugins

#5684 Validation to check if admins to remove are actually admins
  api/api-admins-config-v2/src/main/java/com/thoughtworks/go/apiv2/adminsconfig/AdminControllerV2.java
  api/api-admins-config-v2/src/main/java/com/thoughtworks/go/apiv2/adminsconfig/representers/BulkUpdateFailureResultRepresenter.java
  api/api-admins-config-v2/src/test/groovy/com/thoughtworks/go/apiv2/adminsconfig/AdminControllerV2Test.groovy
  server/src/main/java/com/thoughtworks/go/config/GoConfigDao.java
  server/src/main/java/com/thoughtworks/go/server/service/AdminsConfigService.java
  server/src/main/java/com/thoughtworks/go/server/service/result/BulkUpdateAdminsResult.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/AdminsConfigServiceTest.java
Labels: user-summary-rewrite

#5691 Drain mode fixes
  api/api-server-drain-mode-v1/src/main/java/com/thoughtworks/go/apiv1/serverdrainmode/ServerDrainModeControllerV1.java
  api/api-server-drain-mode-v1/src/main/java/com/thoughtworks/go/apiv1/serverdrainmode/representers/DrainModeInfoRepresenter.java
  api/api-server-drain-mode-v1/src/test/groovy/com/thoughtworks/go/apiv1/serverdrainmode/ServerDrainModeControllerV1Test.groovy
  api/api-server-drain-mode-v1/src/test/groovy/com/thoughtworks/go/apiv1/serverdrainmode/representers/DrainModeInfoRepresenterTest.groovy
  server/src/main/resources/server_in_drain_mode.html
  server/webapp/WEB-INF/rails/webpack/models/drain_mode/types.ts
  server/webapp/WEB-INF/rails/webpack/views/components/tooltip/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/drain_mode/disabled_susbsystems_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/drain_mode/drain_mode_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/drain_mode/index.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/drain_mode/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/drain_mode/running_jobs_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/drain_mode/spec/drain_mode_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/drain_mode/spec/test_data.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/partials/site_footer.tsx
Labels: SPA, apis, drain-mode

#5729 Remove unnecessary dashboard API v2 route from rails routes.rb
  server/webapp/WEB-INF/rails/config/routes.rb
Labels: technical-debt

#5741 Users API v3 - allow users to update a given user (#5737)
  api/api-users-v3/src/main/java/com/thoughtworks/go/apiv3/users/UsersControllerV3.java
Labels: apis, bug, user-summary-rewrite, users

#5718 Migrate `environments` api from rails to spark
  api/api-base/src/main/java/com/thoughtworks/go/api/CrudController.java
  api/api-environments-v2/build.gradle
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/EnvironmentsControllerV2.java
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/model/PatchEnvironmentRequest.java
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/representers/AgentRepresenter.java
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/representers/EnvironmentRepresenter.java
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/representers/EnvironmentVariableRepresenter.java
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/representers/EnvironmentsRepresenter.java
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/representers/PatchEnvironmentRequestRepresenter.java
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/representers/PipelineRepresenter.java
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/EnvironmentsControllerV2Test.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/AgentRepresenterTest.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/EnvironmentRepresenterTest.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/EnvironmentVariableRepresenterTest.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/EnvironmentsRepresenterTest.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/PatchEnvironmentRequestRepresenterTest.groovy
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/PipelineRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/server/SparkOrRailsToggle.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/webapp/WEB-INF/applicationContext-global.xml
  server/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: environments, performance

#5762 Minor fixes on Users Management Page
  server/webapp/WEB-INF/rails/app/views/layouts/admin.html.erb
  server/webapp/WEB-INF/rails/webpack/views/pages/users/add_user_modal.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/users/spec/add_user_modal_spec.tsx
Labels: user-summary-rewrite

#5752 Close the modal when clicking on the overlay outside it
  server/webapp/WEB-INF/rails/webpack/views/components/modal/modal_manager.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/modal/spec/index_spec.tsx
Labels: ux-enhancement

#5766 Add Toggle Admin Privileges Switch on Users Managemenr Page
  server/webapp/WEB-INF/rails/webpack/models/admins/admin_crud.ts
  server/webapp/WEB-INF/rails/webpack/models/users/users.ts
  server/webapp/WEB-INF/rails/webpack/views/components/switch/index.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/users.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/users/index.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/users/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/users/spec/super_admin_toggle_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/users/spec/user_actions_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/users/spec/users_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/users/super_admin_toggle_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/users/user_actions_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/users/users_widget.tsx
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/UsersController.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/SpaControllers.java
Labels: enhancement, user-summary-rewrite

#5783 Fix Maintenance mode Learn more link to contain /current in it.
  server/src/main/resources/server_in_maintenance_mode.html
  server/webapp/WEB-INF/rails/webpack/views/pages/maintenance_mode/maintenance_mode_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/maintenance_mode/spec/maintenance_mode_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/partials/site_footer.tsx
Labels: drain-mode

#5760 Add validation error details to command result
  api/api-admins-config-v2/src/main/java/com/thoughtworks/go/apiv2/adminsconfig/representers/AdminsConfigRepresenter.java
  api/api-admins-config-v2/src/main/java/com/thoughtworks/go/apiv2/adminsconfig/representers/BulkUpdateFailureResultRepresenter.java
  api/api-admins-config-v2/src/test/groovy/com/thoughtworks/go/apiv2/adminsconfig/representers/BulkUpdateFailureResultRepresenterTest.groovy
  common/src/main/java/com/thoughtworks/go/i18n/LocalizedMessage.java
  server/src/main/java/com/thoughtworks/go/config/update/AdminsConfigUpdateCommand.java
  server/src/main/java/com/thoughtworks/go/server/service/AdminsConfigService.java
  server/src/main/java/com/thoughtworks/go/server/service/result/BulkUpdateAdminsResult.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/AdminsConfigServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/AdminsConfigServiceIntegrationTest.java
Labels: bug
