Repository gocd/gocd, pull requests merged in 2019-03, with the labels that each got.

#5940 Minor changes in styles for access tokens spa(s).
  server/webapp/WEB-INF/rails/webpack/views/pages/access_tokens/access_tokens_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/access_tokens/index.scss
Labels: SPA, access-token

#5957 [Environment Config API] Render secure environment variable value as encrypted value (#5956)
  api/api-environments-v2/src/main/java/com/thoughtworks/go/apiv2/environments/representers/EnvironmentVariableRepresenter.java
  api/api-environments-v2/src/test/groovy/com/thoughtworks/go/apiv2/environments/representers/EnvironmentVariableRepresenterTest.groovy
Labels: apis, bug-fix, environments

#5904 Table component: sortable columns
  server/webapp/WEB-INF/rails/webpack/views/components/table/index.scss
  server/webapp/WEB-INF/rails/webpack/views/components/table/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/components/table/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/table/spec/index_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/kitchen_sink.tsx
Labels: component

#5961 Introduce Cluster Profiles API (#5938)
  .gitignore
  api/api-cluster-profiles-v1/build.gradle
  api/api-cluster-profiles-v1/src/main/java/com/thoughtworks/go/apiv1/clusterprofiles/ClusterProfilesControllerV1.java
  api/api-cluster-profiles-v1/src/main/java/com/thoughtworks/go/apiv1/clusterprofiles/representers/ClusterProfileRepresenter.java
  api/api-cluster-profiles-v1/src/main/java/com/thoughtworks/go/apiv1/clusterprofiles/representers/ClusterProfilesRepresenter.java
  api/api-cluster-profiles-v1/src/test/groovy/com/thoughtworks/go/apiv1/clusterprofiles/ClusterProfilesControllerV1Test.groovy
  api/api-cluster-profiles-v1/src/test/groovy/com/thoughtworks/go/apiv1/clusterprofiles/representers/ClusterProfileRepresenterTest.groovy
  api/api-cluster-profiles-v1/src/test/groovy/com/thoughtworks/go/apiv1/clusterprofiles/representers/ClusterProfilesRepresenterTest.groovy
  config/config-api/src/main/java/com/thoughtworks/go/config/elastic/ClusterProfile.java
  config/config-api/src/main/java/com/thoughtworks/go/config/elastic/ClusterProfiles.java
  config/config-api/src/main/java/com/thoughtworks/go/config/elastic/ElasticConfig.java
  server/src/main/java/com/thoughtworks/go/config/update/AddClusterProfileCommand.java
  server/src/main/java/com/thoughtworks/go/config/update/ClusterProfileCommand.java
  server/src/main/java/com/thoughtworks/go/config/update/DeleteClusterProfileCommand.java
  server/src/main/java/com/thoughtworks/go/config/update/UpdateClusterProfileCommand.java
  server/src/main/java/com/thoughtworks/go/server/service/ClusterProfilesService.java
  server/src/main/java/com/thoughtworks/go/server/service/EntityHashingService.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/AddClusterProfileCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/DeleteClusterProfileCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/UpdateClusterProfileCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ClusterProfilesServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ClusterProfilesServiceIntegrationTest.java
  server/webapp/WEB-INF/applicationContext-global.xml
  server/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: elastic-agent-multi-cluster-support

#5970 Fix system notifications
  server/webapp/WEB-INF/rails/webpack/models/notifications/system_notifications.ts
Labels: bug, data-sharing, notifications

#5975 Lookup should send secret config in request along with keys to lookup.
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/secrets/SecretsMessageConverter.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/secrets/v1/SecretsExtensionV1.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/secrets/v1/SecretsMessageConverterV1.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/secrets/v1/SecretsExtensionV1Test.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/secrets/v1/SecretsMessageConverterV1Test.java
Labels: secrets-management

#5974 Allow expanding environment row from UI containing special character in the name (#5973)
  server/webapp/WEB-INF/rails/app/views/environments/_show_env.html.erb
Labels: bug-fix, environments

#5985 Adding FilePathMatcher to assert on file path.
  common/src/test/java/com/thoughtworks/go/util/FileUtilTest.java
Labels: tests

#5989 Consider environment variable with secret as secure variable.
  common/src/test/java/com/thoughtworks/go/remote/work/EnvironmentVariableContextTest.java
  config/config-api/src/main/java/com/thoughtworks/go/util/command/EnvironmentVariableContext.java
Labels: secrets-management

#5990 Remove flaky GoConfigMigration Test
  server/src/test-integration/java/com/thoughtworks/go/config/GoConfigMigrationIntegrationTest.java
Labels: elastic-agent-multi-cluster-support, technical, tests

#5992 Pass along cluster profile properties to should assign work request (#5937)
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginRegistry.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/VersionedElasticAgentExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v4/ElasticAgentExtensionV4.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionConverterV5.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionV5.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtensionV4Test.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtensionV5Test.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginRegistryTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionConverterV5Test.java
  server/src/main/java/com/thoughtworks/go/server/service/ElasticAgentPluginService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticAgentPluginServiceTest.java
Labels: elastic-agent-multi-cluster-support, elastic-agents

#5996 Store Cluster Profile as part of Job Agent Metadata (#5538)
  server/db/migrate/h2deltas/1903002_add_cluster_profile_on_job_agent_metadata.sql
  server/src/main/java/com/thoughtworks/go/domain/JobAgentMetadata.java
  server/src/main/java/com/thoughtworks/go/server/dao/JobInstanceSqlMapDao.java
  server/src/main/resources/hibernate-mappings/JobAgentMetadata.hbm.xml
  server/src/test-fast/java/com/thoughtworks/go/server/dao/JobInstanceSqlMapDaoTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/controller/JobControllerIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/dao/JobAgentMetadataSqlMapDaoIntegrationTest.java
Labels: elastic-agent-multi-cluster-support, elastic-agents

#6001 Fix duplicate secret params resolving.
  server/src/main/java/com/thoughtworks/go/server/service/SecretParamResolver.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/SecretParamResolverTest.java
Labels: secrets-management

#6002 Add cluster profile information on job plan
  common/src/test/java/com/thoughtworks/go/domain/AgentInstanceTest.java
  common/src/test/java/com/thoughtworks/go/domain/DefaultJobPlanTest.java
  common/src/test/java/com/thoughtworks/go/domain/EnvironmentPipelineMatcherTest.java
  common/src/test/java/com/thoughtworks/go/remote/work/BuildAssignmentTest.java
  common/src/test/java/com/thoughtworks/go/remote/work/BuildWorkArtifactUploadingTest.java
  common/src/test/java/com/thoughtworks/go/remote/work/BuildWorkEnvironmentVariablesTest.java
  common/src/test/java/com/thoughtworks/go/server/service/InstanceFactoryTest.java
  common/src/test/java/com/thoughtworks/go/websocket/MessageTest.java
  domain/src/main/java/com/thoughtworks/go/domain/DefaultJobPlan.java
  domain/src/main/java/com/thoughtworks/go/domain/JobPlan.java
  domain/src/main/java/com/thoughtworks/go/server/service/InstanceFactory.java
  domain/src/test/java/com/thoughtworks/go/helper/JobInstanceMother.java
  server/src/main/java/com/thoughtworks/go/server/dao/JobInstanceSqlMapDao.java
  server/src/test-fast/java/com/thoughtworks/go/remote/work/artifact/ArtifactsPublisherTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticAgentPluginServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/EnvironmentConfigServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/JobInstanceServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/dao/JobInstanceSqlMapDaoCachingTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/dao/JobInstanceSqlMapDaoIntegrationTest.java
  server/webapp/WEB-INF/rails/spec/views/api/jobs/index_xml_spec.rb
Labels: elastic-agent-multi-cluster-support

#6004 Change lookupSecrets to accept set of keys to resolve instead of list.
  config/config-api/src/main/java/com/thoughtworks/go/config/SecretParams.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/secrets/SecretsExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/secrets/SecretsMessageConverter.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/secrets/VersionedSecretsExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/secrets/v1/SecretsExtensionV1.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/secrets/v1/SecretsMessageConverterV1.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/secrets/SecretsExtensionTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/secrets/v1/SecretsExtensionV1Test.java
  server/src/main/java/com/thoughtworks/go/server/service/SecretParamResolver.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/SecretParamResolverTest.java
Labels: secrets-management

#6006 Fix SecretsMessageConverterV1Test failure.
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/secrets/v1/SecretsMessageConverterV1Test.java
Labels: secrets-management

#6008 Fixed following issues
  config/config-api/src/main/java/com/thoughtworks/go/config/elastic/ElasticProfile.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/config/Configuration.java
  config/config-api/src/test/java/com/thoughtworks/go/domain/config/ConfigurationTest.java
  server/src/main/java/com/thoughtworks/go/domain/JobAgentMetadata.java
  server/src/test-fast/java/com/thoughtworks/go/domain/JobAgentMetadataTest.java
Labels: bug-fix, elastic-agent-multi-cluster-support

#6012 Bringing back getPropertyMetadataAndValuesAsMap and getConfigWithErrorsAsMap in configuration as it is used in erb.
  config/config-api/src/main/java/com/thoughtworks/go/domain/config/Configuration.java
  config/config-api/src/test/java/com/thoughtworks/go/domain/config/ConfigurationTest.java
Labels: bug-fix

#6005 Pass along cluster-profiles to schedulingContext for populating on job plan
  common/src/test/java/com/thoughtworks/go/server/service/InstanceFactoryTest.java
  domain/src/main/java/com/thoughtworks/go/domain/DefaultSchedulingContext.java
  domain/src/main/java/com/thoughtworks/go/domain/SchedulingContext.java
  domain/src/main/java/com/thoughtworks/go/server/service/InstanceFactory.java
  server/src/main/java/com/thoughtworks/go/server/service/ScheduleService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/JobRerunScheduleServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ScheduleServiceRescheduleHungJobsTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ScheduleServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ScheduleServiceCachedIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ScheduleServiceStageTriggerTest.java
Labels: elastic-agent-multi-cluster-support, elastic-agents

#5885 Add a link to create pipeline from dashboard when grouped by pipeline groups. (#5715)
  server/webapp/WEB-INF/rails/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/webapp/WEB-INF/rails/config/initializers/jsroutes.rb
  server/webapp/WEB-INF/rails/spec/webpack/models/dashboard/dashboard_groups_spec.js
  server/webapp/WEB-INF/rails/spec/webpack/views/dashboard/dashboard_widget_spec.js
  server/webapp/WEB-INF/rails/webpack/models/dashboard/dashboard_groups.js
  server/webapp/WEB-INF/rails/webpack/views/dashboard/dashboard_groups_widget.js.msx
Labels: dashboard

#6019 Pass along all cluster-profiles as part of server ping request (#5937)
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginRegistry.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/VersionedElasticAgentExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v4/ElasticAgentExtensionV4.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionConverterV5.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionV5.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtensionV4Test.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentExtensionV5Test.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/ElasticAgentPluginRegistryTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/elastic/v5/ElasticAgentExtensionConverterV5Test.java
  server/src/main/java/com/thoughtworks/go/server/messaging/elasticagents/ServerPingListener.java
  server/src/main/java/com/thoughtworks/go/server/messaging/elasticagents/ServerPingMessage.java
  server/src/main/java/com/thoughtworks/go/server/service/ElasticAgentPluginService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticAgentPluginServiceTest.java
Labels: elastic-agent-multi-cluster-support, elastic-agents

#6029 Pass secret config to lookupSecrets request
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/secrets/v1/SecretsExtensionV1.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/secrets/v1/SecretsExtensionV1Test.java
Labels: secrets-management

#6035 Validate cluster profile references before deletion (#5538)
  common/src/main/java/com/thoughtworks/go/i18n/LocalizedMessage.java
  server/src/main/java/com/thoughtworks/go/config/update/DeleteClusterProfileCommand.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/DeleteClusterProfileCommandTest.java
Labels: elastic-agent-multi-cluster-support, elastic-agents
