Repository gocd/gocd, pull requests merged in 2019-09, with the labels that each got.

#6872 Fixed styling to add page header in the wizard component
  server/webapp/WEB-INF/rails/webpack/views/components/wizard/index.scss
  server/webapp/WEB-INF/rails/webpack/views/components/wizard/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/global/zindex.scss
Labels: elastic-agents

#6879 Sync environments when a config repo is deleted
  config/config-api/src/main/java/com/thoughtworks/go/config/remote/ConfigReposConfig.java
  config/config-api/src/test/java/com/thoughtworks/go/config/remote/ConfigReposConfigTest.java
  server/src/main/java/com/thoughtworks/go/server/service/EnvironmentConfigService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/EnvironmentConfigServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/EnvironmentConfigServiceIntegrationTest.java
Labels: agents, config repo, environments

#6881 Adding support to show elastic agent
  server/webapp/WEB-INF/rails/webpack/models/new_agent/agents.ts
  server/webapp/WEB-INF/rails/webpack/models/new_agent/agents_json.ts
  server/webapp/WEB-INF/rails/webpack/models/new_agent/agents_vm.ts
  server/webapp/WEB-INF/rails/webpack/models/new_agent/spec/agent_comaparator_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new_agent/spec/agent_vm_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new_agent/spec/agents_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new_agent/spec/agents_test_data.ts
  server/webapp/WEB-INF/rails/webpack/views/components/header_icon/index.scss
  server/webapp/WEB-INF/rails/webpack/views/components/header_icon/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/components/header_icon/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/table/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/table/spec/index_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/kitchen_sink.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agent.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/agent_header_panel.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/agents_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/elastic_agents_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/environment_dropdown_button.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/index.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/resources_dropdown_button.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/spec/agent_header_panel_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/spec/elastic_agents_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/spec/environment_dropdown_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/spec/resources_dropdown_button_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/spec/static_agents_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agents/static_agents_widget.tsx
Labels: elastic-agents

#6883 Option to have a fixed height for modal
  server/webapp/WEB-INF/rails/webpack/views/components/modal/index.scss
  server/webapp/WEB-INF/rails/webpack/views/components/modal/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/components/modal/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/modal/spec/index_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/pipeline_configs/settings/pipeline_settings_modal.tsx
Labels: pipeline-config-spa

#6908 Introduce Merged Environments API (#3301)
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/InternalEnvironmentsControllerV1.java
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/representers/EntityConfigOriginRepresenter.java
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/representers/EnvironmentAgentRepresenter.java
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/representers/EnvironmentEnvironmentVariableRepresenter.java
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/representers/EnvironmentPipelineRepresenter.java
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/representers/MergedEnvironmentRepresenter.java
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/representers/MergedEnvironmentsRepresenter.java
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/representers/configorigin/ConfigRepoOriginRepresenter.java
  api/api-internal-environments-v1/src/main/java/com/thoughtworks/go/apiv1/internalenvironments/representers/configorigin/ConfigXmlOriginRepresenter.java
  api/api-internal-environments-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalenvironments/InternalEnvironmentsControllerV1Test.groovy
  api/api-internal-environments-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalenvironments/representers/EntityConfigOriginRepresenterTest.groovy
  api/api-internal-environments-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalenvironments/representers/EnvironmentAgentRepresenterTest.groovy
  api/api-internal-environments-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalenvironments/representers/EnvironmentEnvironmentVariableRepresenterTest.groovy
  api/api-internal-environments-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalenvironments/representers/EnvironmentPipelineRepresenterTest.groovy
  api/api-internal-environments-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalenvironments/representers/MergedEnvironmentRepresenterTest.groovy
  api/api-internal-environments-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalenvironments/representers/configorigin/ConfigRepoOriginRepresenterTest.groovy
  api/api-internal-environments-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalenvironments/representers/configorigin/ConfigXmlOriginRepresenterTest.groovy
  config/config-api/src/test/java/com/thoughtworks/go/helper/EnvironmentConfigMother.java
  server/webapp/WEB-INF/urlrewrite.xml
Labels: apis, config repo, enhancement, environments

#6911 Introduce Pipeline Config SPA artifacts (#6742)
  server/webapp/WEB-INF/rails/webpack/models/new_pipeline_configs/artifact.ts
  server/webapp/WEB-INF/rails/webpack/models/new_pipeline_configs/artifacts.ts
  server/webapp/WEB-INF/rails/webpack/models/new_pipeline_configs/spec/artifact_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new_pipeline_configs/spec/artifacts_spec.ts
  server/webapp/WEB-INF/rails/webpack/views/components/tooltip/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/pipeline_configs/spec/stages/jobs/artifacts_tab_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/pipeline_configs/stages/jobs/artifacts.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/pipeline_configs/stages/jobs/artifacts.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/pipeline_configs/stages/jobs/artifacts_tab_widget.tsx
Labels: SPA, artifacts, pipeline-config-spa, ui / ux

#6912 Fix newSPA task to import SinglePageAppBase instead of Page in the entrypoint
  build.gradle
Labels: technical

#6917 Reverting PR-6880: Updated nokogiri to 1.10.4-java
  server/webapp/WEB-INF/rails/Gemfile
  server/webapp/WEB-INF/rails/Gemfile.lock
  server/webapp/WEB-INF/rails/lib/tasks/gen_webpack_js_routes.rake
Labels: technical-debt

#6920 Introduce basic environments SPA
  server/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/webapp/WEB-INF/rails/webpack/models/environments/types.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/environment_agents.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/environment_environment_variables.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/environment_pipelines.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/environments.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/environments_apis.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/origin.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environment_agents_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environment_environment_variables_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environment_pipelines_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environments_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/origin_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/test_data.ts
  server/webapp/WEB-INF/rails/webpack/single_page_apps/new_environments.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environment_body_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environment_header_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environments_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/index.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/index.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/environment_body_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/environment_header_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/environments_widget_spec.tsx
  server/webapp/WEB-INF/urlrewrite.xml
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/NewEnvironmentsController.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/SpaControllers.java
Labels: SPA, environments

#6928 Introduce Edit Pipelines Modal to edit pipeline association with an environment.
  server/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/environments.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/environments_apis.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/pipeline_groups.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environments_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/pipeline_groups_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/test_data.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_pipelines.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_pipelines.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_pipelines_modal.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environment_body_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/index.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/models/pipelines_view_model.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_pipelines_modal_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/models/pipelines_view_model_spec.ts
Labels: SPA, environments

#6900 Polishing PaC form components
  api/api-pipelines-as-code-internal-v1/src/main/java/com/thoughtworks/go/apiv1/pipelinesascodeinternal/PipelinesAsCodeInternalControllerV1.java
  api/api-pipelines-as-code-internal-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelinesascodeinternal/PipelinesAsCodeInternalControllerV1Test.groovy
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  server/src/main/java/com/thoughtworks/go/config/ConfigRepoPlugin.java
  server/webapp/WEB-INF/rails/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/webapp/WEB-INF/rails/webpack/helpers/download_content_as_file.ts
  server/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/webapp/WEB-INF/rails/webpack/models/config_repos/types.ts
  server/webapp/WEB-INF/rails/webpack/models/materials/config_file_list.ts
  server/webapp/WEB-INF/rails/webpack/models/materials/material_config_files.ts
  server/webapp/WEB-INF/rails/webpack/models/materials/types.ts
  server/webapp/WEB-INF/rails/webpack/views/components/config_repos/material_check.scss
  server/webapp/WEB-INF/rails/webpack/views/components/config_repos/material_check.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/components/config_repos/material_check.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/config_repos/material_config_files_editor.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/config_repos/material_config_files_list.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/config_repos/spec/material_check_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/components/show_more_doc/more.scss
  server/webapp/WEB-INF/rails/webpack/views/components/show_more_doc/more.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/components/show_more_doc/more.tsx
  server/webapp/WEB-INF/rails/webpack/views/dashboard/dashboard_groups_widget.js.msx
  server/webapp/WEB-INF/rails/webpack/views/global/_mixins.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos/config_repo_attribute_helper.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos/config_repos_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos/modals.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos/spec/config_repo_attribute_helper_spec.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos/spec/config_repos_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/config_repos/spec/modals_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/pac/builder_form.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/pac/code_scroller.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/pac/download_action.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/pac/preview_pane.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/pac/spec/builder_form_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/pac/spec/download_action_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/pac/styles.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/pac/styles.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/pipelines/pipeline_config_view_model.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/pipelines_as_code.tsx
  server/webapp/WEB-INF/urlrewrite.xml
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: Add Pipeline, Pipelines as Code

#6939 Removing base.jar from verify jar task as it is not being used
  server-launcher/build.gradle
Labels: build-script

#6943 Fix the installer issue.
  agent-bootstrapper/build.gradle
  agent-bootstrapper/src/main/java/com/thoughtworks/go/agent/bootstrapper/AgentBootstrapper.java
  agent/src/main/java/com/thoughtworks/go/agent/AgentMain.java
  jar-class-loader/build.gradle
  jar-class-loader/src/main/java/com/thoughtworks/gocd/AssertJava.java
  jar-class-loader/src/main/java/com/thoughtworks/gocd/Boot.java
  jar-class-loader/src/main/java/com/thoughtworks/gocd/JavaVersion.java
  server-launcher/build.gradle
  server/src/main/java/com/thoughtworks/go/server/util/GoLauncher.java
Labels: build-script

#6942 Fixed the drag and drop issue on secretConfig modal
  server/webapp/WEB-INF/rails/webpack/views/components/table/index.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/secret_configs/modals.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/secret_configs/rules_widget.tsx
Labels: SPA, bug-fix, secrets-management

#6951 Fixing jasmine build
  server/webapp/WEB-INF/rails/webpack/views/pages/secret_configs/modals.tsx
Labels: bug-fix

#6970 Implement edit pipelines for new environments SPA
  server/webapp/WEB-INF/rails/webpack/models/new-environments/environment_pipelines.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/environments.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/origin.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environment_pipelines_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environments_spec.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/spec/origin_spec.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_pipelines.scss
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_pipelines.scss.d.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_pipelines_modal.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environment_body_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environments_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/models/pipelines_view_model.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_pipelines_modal_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/environment_body_widget_spec.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/models/pipelines_view_model_spec.ts
Labels: SPA, environments

#6972 Introduce environments page feature toggle
  server/src/main/java/com/thoughtworks/go/server/SparkOrRailsEnvironmentsPageToggle.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/webapp/WEB-INF/urlrewrite.xml
Labels: SPA, environments, feature-toggle

#6974 Add an ability to delete an environment from environments SPA
  server/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/environments.ts
  server/webapp/WEB-INF/rails/webpack/models/new-environments/environments_apis.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environments_widget.tsx
  server/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/environments_widget_spec.tsx
Labels: SPA, environments

#6899 #6299 - Introduce v2 of ConsoleLogRequestProcessor
  server/src/main/java/com/thoughtworks/go/server/service/plugins/processor/console/ConsoleLogRequestProcessor.java
  server/src/main/java/com/thoughtworks/go/server/service/plugins/processor/console/v2/ConsoleLogAppendRequest2_0.java
  server/src/main/java/com/thoughtworks/go/server/service/plugins/processor/console/v2/MessageHandlerForConsoleLogRequestProcessorImpl2_0.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/plugins/processor/console/v1/ConsoleLogRequestProcessorV1Test.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/plugins/processor/console/v2/ConsoleLogRequestProcessorV2Test.java
Labels: console-log

#6983 Added toggle for Agents SPA
  server/src/main/java/com/thoughtworks/go/server/AgentsPageToggle.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/webapp/WEB-INF/rails/webpack/models/new_agent/agents_crud.ts
  server/webapp/WEB-INF/rails/webpack/models/new_agent/spec/agents_crud_spec.ts
  server/webapp/WEB-INF/rails/webpack/views/pages/new_agent.tsx
  server/webapp/WEB-INF/urlrewrite.xml
Labels: SPA, agents, feature-toggle

#6973 Ignore unknown properties while upgrading plugin profile configuration.
  server/webapp/WEB-INF/rails/spec/webpack/views/shared/angular_plugin_new_spec.js
  server/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/spec/test_data.ts
  server/webapp/WEB-INF/rails/webpack/views/shared/angular_plugin_new.js.msx
Labels: bug-fix

#6988 Fixes incorrect agent name in stage and job details page if agent is deleted
  server/src/main/java/com/thoughtworks/go/server/controller/JobController.java
  server/src/main/java/com/thoughtworks/go/server/persistence/AgentDao.java
  server/src/main/java/com/thoughtworks/go/server/service/AgentService.java
  server/src/main/java/com/thoughtworks/go/server/service/JobPresentationService.java
  server/src/test-fast/java/com/thoughtworks/go/server/controller/JobControllerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/AgentServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/JobPresentationServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/persistence/AgentDaoTest.java
Labels: agents

#7018 Fix issue with hostname for auto registered agents #7002
  config/config-api/src/main/java/com/thoughtworks/go/config/Agent.java
  server/src/main/java/com/thoughtworks/go/server/persistence/AgentDao.java
  server/src/test-integration/java/com/thoughtworks/go/server/persistence/AgentDaoTest.java
Labels: bug-fix
