Repository gocd/gocd, pull requests merged in 2020-05, with the labels that each got.

#8070 Pipeline config bug fixes (#7816)
  api/api-shared-v10/src/test/groovy/com/thoughtworks/go/apiv10/shared/representers/stages/JobRepresenterTest.groovy
  api/api-shared-v9/src/test/groovy/com/thoughtworks/go/apiv9/shared/representers/stages/JobRepresenterTest.groovy
  config/config-api/src/main/java/com/thoughtworks/go/config/JobConfig.java
  config/config-api/src/test/java/com/thoughtworks/go/config/JobConfigTest.java
  server/src/main/webapp/WEB-INF/rails/webpack/models/mixins/errors_consumer.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/nameable_set.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/task.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/environment_variables/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/artifacts_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/job_settings_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/common/on_cancel_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/stages_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tab_handler.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/common/environment_variables_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/common/re_order_entity_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/common/spec/re_order_entity_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/artifacts_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/common/on_cancel_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/exec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/parameters_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/stages_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/permissions.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/permissions.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/permissions_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/widgets/navigation_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/widgets/steps_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/template_config.tsx
Labels: pipeline-config-spa

#8082 Update Docker templates
  buildSrc/src/main/resources/gocd-docker-agent/Dockerfile.agent.ftl
  buildSrc/src/main/resources/gocd-docker-agent/README.md.ftl
  buildSrc/src/main/resources/gocd-docker-server/Dockerfile.server.ftl
Labels: docker-images

#8085 Stop building alpine 3.8 based images as it has reached EOL
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
Labels: docker-images

#8093 Fix jobs resources autocomplete
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/job_settings_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings_tab_content.tsx
Labels: bug-fix, pipeline-config-spa

#8094 Validate Job run instance count for input 0
  config/config-api/src/main/java/com/thoughtworks/go/config/JobConfig.java
  config/config-api/src/test/java/com/thoughtworks/go/config/JobConfigTest.java
Labels: SPA, bug-fix, pipeline configuration, pipeline-config-spa

#8102 Remove internal config listing APIs (#7340)
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/configuration_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/models/config_revision_api_model.rb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/configuration_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/models/config_revision_api_model_spec.rb
Labels: apis, technical, technical-debt

#8105 Added TemplateAuthorization Spark API
  .gitignore
  api/api-template-authorization-v1/build.gradle
  api/api-template-authorization-v1/src/main/java/com/thoughtworks/go/apiv1/templateauthorization/TemplateAuthorizationControllerV1.java
  api/api-template-authorization-v1/src/main/java/com/thoughtworks/go/apiv1/templateauthorization/representers/AuthorizationRepresenter.java
  api/api-template-authorization-v1/src/test/groovy/com/thoughtworks/go/apiv1/templateauthorization/TemplateAuthorizationControllerV1Test.groovy
  api/api-template-authorization-v1/src/test/groovy/com/thoughtworks/go/apiv1/templateauthorization/representers/AuthorizationRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/server/SparkOrRailsToggle.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/applicationContext-global.xml
  server/src/main/resources/available.toggles
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis, templates

#8106 Make job resources autocomplete works when user switches tab (#7816)
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings_tab_content.tsx
Labels: bug-fix, pipeline-config-spa

#8110 Allow visiting template authorization page when new pipeline config spa toggle is enabled (#7816)
  server/src/main/webapp/WEB-INF/urlrewrite.xml
Labels: bug-fix, pipeline-config-spa

#8112 Open view template on click of view template icon
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/widgets/navigation_widget.tsx
Labels: SPA, bug-fix, pipeline-config-spa

#8113 Fixing template authorization API update #000
  api/api-template-authorization-v1/src/main/java/com/thoughtworks/go/apiv1/templateauthorization/TemplateAuthorizationControllerV1.java
  api/api-template-authorization-v1/src/test/groovy/com/thoughtworks/go/apiv1/templateauthorization/TemplateAuthorizationControllerV1Test.groovy
Labels: apis, templates

#8117 Show local stage permission message (#7816)
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/permissions_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/permissions_tab_content.tsx
Labels: SPA, bug-fix, pipeline-config-spa

#8118 Update Package and pluggable scm page to support auto_update
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_modal_body_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/pluggable_scm_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/spec/pluggable_scm_modal_body_spec.tsx
Labels: SPA

#8126 Update TextAreaField to set the value as `value` attribute
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/forms/input_fields.tsx
Labels: bug-fix, pipeline-config-spa

#8129 Pipeline config spa fixes
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/job.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/task_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/task.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/artifacts_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/abstract_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/fetch/external_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/plugin_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/configuration_type_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/pipeline_template_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/artifacts_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/abstract.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/fetch/external.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/plugin.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/configuration_type_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/pipeline_template_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
Labels: SPA, bug-fix, pipeline-config-spa

#8130 Reset to original task when editing task fails. (#7816)
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
Labels: SPA, bug-fix, pipeline-config-spa

#8132 Template API update fails if paramter resolution has errors
  server/src/main/java/com/thoughtworks/go/config/update/UpdateTemplateConfigCommand.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/UpdateTemplateConfigCommandTest.java
Labels: apis, templates

#7949 ConfigRepo branching and PR support
  api/api-base/src/test/groovy/com/thoughtworks/go/helpers/PluginInfoMother.java
  api/api-config-repo-operations-v1/src/main/java/com/thoughtworks/go/apiv1/configrepooperations/ConfigRepoOperationsControllerV1.java
  api/api-config-repos-v4/src/main/java/com/thoughtworks/go/apiv4/configrepos/ConfigReposControllerV4.java
  api/api-plugin-infos-v6/src/main/java/com/thoughtworks/go/apiv6/plugininfos/representers/extensions/ConfigRepoExtensionRepresenter.java
  api/api-plugin-infos-v6/src/test/groovy/com/thoughtworks/go/apiv6/plugininfos/representers/extensions/ConfigRepoExtensionRepresenterTest.groovy
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/configrepo/ConfigRepoExtension.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/configrepo/v2/models/Capabilities.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/configrepo/v3/models/Capabilities.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/configrepo/ConfigRepoExtensionTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/configrepo/ConfigRepoPluginInfoBuilderTest.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/configrepo/v2/JsonMessageHandler2_0Test.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/configrepo/v3/JsonMessageHandler3_0Test.java
  plugin-infra/go-plugin-domain/src/main/java/com/thoughtworks/go/plugin/domain/configrepo/Capabilities.java
  server/src/main/java/com/thoughtworks/go/server/materials/ConfigMaterialUpdateListener.java
  server/src/main/java/com/thoughtworks/go/server/materials/ConfigMaterialUpdateListenerFactory.java
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/utils.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/base/accessor.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/config_repos/config_repos_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/config_repos/spec/config_repos_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/config_repos/spec/types_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/config_repos/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/mixins/configuration_properties.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/shared/configuration.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/config_repo_capabilities.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/plugin_info.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/serialization.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/spec/plugin_info_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/encryptable_key_value/editor.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/encryptable_key_value/editor.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/encryptable_key_value/editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/encryptable_key_value/spec/editor_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/encryptable_key_value/spec/vms_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/encryptable_key_value/vms.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/rules/configure_rules_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/rules/show_rules_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/config_repo_attribute_helper.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/config_repos_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/spec/config_repo_attribute_helper_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/spec/config_repos_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/spec/modals_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/spec/test_data.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/kitchen_sink.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/spec/test_helper.tsx
  server/src/test-fast/java/com/thoughtworks/go/server/materials/ConfigMaterialUpdateListenerFactoryTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/materials/ConfigMaterialUpdateListenerTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/materials/ConfigMaterialUpdateListenerIntegrationTest.java
Labels: config repo

#8150 Enable new pipeline config spa toggle by default
  server/src/main/resources/available.toggles
Labels: feature-toggle, pipeline-config-spa

#8151 Pipeline config spa fixes
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/modals/material_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/scm_material_fields.tsx
Labels: bug-fix, pipeline-config-spa

#8177 Removing empty-task list validation
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/job.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/job_spec.ts
Labels: pipeline-config-spa
