Repository gocd/gocd, pull requests merged in 2020-06, with the labels that each got.

#8196 Improve environments pipeline edit
  .gitignore
  api/api-internal-pipeline-groups-v1/build.gradle
  api/api-internal-pipeline-groups-v1/src/main/java/com/thoughtworks/go/apiv1/internalpipelinegroups/InternalPipelineGroupsControllerV1.java
  api/api-internal-pipeline-groups-v1/src/main/java/com/thoughtworks/go/apiv1/internalpipelinegroups/models/PipelineGroupsViewModel.java
  api/api-internal-pipeline-groups-v1/src/main/java/com/thoughtworks/go/apiv1/internalpipelinegroups/representers/InternalPipelineGroupsRepresenter.java
  api/api-internal-pipeline-groups-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalpipelinegroups/InternalPipelineGroupsControllerV1Test.groovy
  api/api-internal-pipeline-groups-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalpipelinegroups/representers/InternalPipelineGroupsRepresenterTest.groovy
  server/src/main/resources/applicationContext-global.xml
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/internal_pipeline_structure/pipeline_structure.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/environments.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/environments_apis.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new-environments/spec/environments_apis_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_pipelines_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/models/pipelines_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_pipelines_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/models/pipelines_view_model_spec.ts
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: SPA, environments

#8209 Fix issue with Available Pipelines for environment pipelines edit
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/models/pipelines_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/models/pipelines_view_model_spec.ts
Labels: SPA, bug-fix

#8222 Update Notification filters api v2
  api/api-notification-filter-v2/src/main/java/com/thoughtworks/go/apiv2/notificationfilter/representers/NotificationFilterRepresenter.java
  api/api-notification-filter-v2/src/test/groovy/com/thoughtworks/go/apiv2/notificationfilter/representers/NotificationFilterRepresenterTest.groovy
  server/src/main/webapp/WEB-INF/rails/webpack/models/preferences/notification_filters.js
Labels: apis, bug-fix, notifications, preferences

#8239 Update label to mention units in artifacts config UI
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/server-configuration/artifacts_management_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/server-configuration/spec/artifact_management_widget_spec.tsx
Labels: SPA, ui / ux

#8256 Fixes on new pipeline config spa:
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/tab_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/tab.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/flash_message/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/forms/input_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings_tab_content.tsx
Labels: bug-fix, pipeline-config-spa, ui / ux

#8257 More fixes for pipeline config spa
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/job.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/job_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/tab_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/template_config_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/tab.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/template_config.ts
Labels: bug-fix, pipeline-config-spa, ui / ux

#8258 Remove deprecated apis
  .gitignore
  api/api-packages-v1/build.gradle
  api/api-packages-v1/src/main/java/com/thoughtworks/go/apiv1/packages/PackagesControllerV1.java
  api/api-packages-v1/src/main/java/com/thoughtworks/go/apiv1/packages/representers/PackageDefinitionRepresenter.java
  api/api-packages-v1/src/main/java/com/thoughtworks/go/apiv1/packages/representers/PackageDefinitionsRepresenter.java
  api/api-packages-v1/src/main/java/com/thoughtworks/go/apiv1/packages/representers/PackageRepositoryRepresenter.java
  api/api-packages-v1/src/test/groovy/com/thoughtworks/go/apiv1/packages/PackagesControllerV1Test.groovy
  api/api-packages-v1/src/test/groovy/com/thoughtworks/go/apiv1/packages/representers/PackageDefinitionRepresenterTest.groovy
  api/api-packages-v1/src/test/groovy/com/thoughtworks/go/apiv1/packages/representers/PackageDefinitionsRepresenterTest.groovy
  api/api-packages-v1/src/test/groovy/com/thoughtworks/go/apiv1/packages/representers/PackageRepositoryRepresenterTest.groovy
  api/api-scms-v1/build.gradle
  api/api-scms-v1/src/main/java/com/thoughtworks/go/apiv1/scms/SCMControllerV1.java
  api/api-scms-v1/src/main/java/com/thoughtworks/go/apiv1/scms/representers/SCMRepresenter.java
  api/api-scms-v1/src/main/java/com/thoughtworks/go/apiv1/scms/representers/SCMsRepresenter.java
  api/api-scms-v1/src/test/groovy/com/thoughtworks/go/apiv1/scms/SCMControllerV1Test.groovy
  api/api-scms-v1/src/test/groovy/com/thoughtworks/go/apiv1/scms/representers/SCMRepresenterTest.groovy
  api/api-scms-v1/src/test/groovy/com/thoughtworks/go/apiv1/scms/representers/SCMsRepresenterTest.groovy
  api/api-scms-v2/build.gradle
  api/api-scms-v2/src/main/java/com/thoughtworks/go/apiv2/scms/SCMControllerV2.java
  api/api-scms-v2/src/main/java/com/thoughtworks/go/apiv2/scms/representers/SCMRepresenter.java
  api/api-scms-v2/src/main/java/com/thoughtworks/go/apiv2/scms/representers/SCMsRepresenter.java
  api/api-scms-v2/src/test/groovy/com/thoughtworks/go/apiv2/scms/SCMControllerV2Test.groovy
  api/api-scms-v2/src/test/groovy/com/thoughtworks/go/apiv2/scms/representers/SCMRepresenterTest.groovy
  api/api-scms-v2/src/test/groovy/com/thoughtworks/go/apiv2/scms/representers/SCMsRepresenterTest.groovy
  settings.gradle
Labels: apis

#8259 Removed rails template auth API #000
  server/src/main/java/com/thoughtworks/go/server/SparkOrRailsToggle.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/src/main/webapp/WEB-INF/rails/app/controllers/api_v1/admin/templates/authorization_controller.rb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api_v1/admin/templates/authorization_controller_spec.rb
  server/src/main/webapp/WEB-INF/urlrewrite.xml
Labels: apis, templates

#8262 Some more fixes on pipeline config spa
  server/src/main/webapp/WEB-INF/rails/webpack/models/mixins/new_validatable_mixin.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/mixins/spec/new_validatable_mixin_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/job.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/job_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs/add_job_modal.tsx
Labels: bug-fix, pipeline-config-spa, ui / ux

#8285 Pipeline config spa fixes (#8141)
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/template_config.tsx
Labels: SPA, bug-fix, pipeline-config-spa

#8261 Update secure env var field to show value while editing
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/forms/forms.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/forms/forms.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/forms/input_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/rules/rules.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/materials.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/advanced_settings.scss.d.ts
Labels: pipeline-config-spa, ui / ux
