Repository gocd/gocd, pull requests merged in 2020-03, with the labels that each got.

#7799 Task modals
  server/src/main/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/spec/test_data.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/ant_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/common/on_cancel_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/exec_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/nant_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/plugin_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/rake_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/ant.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/common/on_cancel_view.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/common/on_cancel_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/exec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/nant.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/plugin.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/rake.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
Labels: pipeline-config-spa

#7804 Fix autocomplete text field styles to render the suggestions after help text
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/forms/autocomplete.tsx
Labels: bug-fix, ui / ux

#7805 Add an internal upstream pipelines listing API
  .gitignore
  api/api-internal-dependency-pipelines-v1/build.gradle
  api/api-internal-dependency-pipelines-v1/src/main/java/com/thoughtworks/go/apiv1/internaldependencypipelines/InternalDependencyPipelinesControllerV1.java
  api/api-internal-dependency-pipelines-v1/src/test/groovy/com/thoughtworks/go/apiv1/internaldependencypipelines/InternalDependencyPipelinesControllerV1Test.groovy
  server/src/main/resources/applicationContext-global.xml
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis, pipeline configuration, pipeline-config-spa

#7807 [Pipeline Config SPA] Bind validation errors with the model
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/general_options_tab.tsx
Labels: SPA, bug-fix, pipeline-config-spa

#7817 Make internal resources controller accessible by all normal users
  api/api-internal-resources-v1/src/main/java/com/thoughtworks/go/apiv1/internalresources/InternalResourcesControllerV1.java
  api/api-internal-resources-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalresources/InternalResourcesControllerV1Test.groovy
Labels: apis

#7823 Send response body when submitted Pipeline JSON has duplicate job name error (#7822)
  api/api-shared-v10/src/main/java/com/thoughtworks/go/apiv10/admin/shared/representers/stages/StageRepresenter.java
  api/api-shared-v10/src/test/groovy/com/thoughtworks/go/apiv10/shared/representers/stages/StageRepresenterTest.groovy
Labels: apis, bug-fix, pipeline configuration

#7825 [Pipeline Config API] Show job resources validation errors (#7824)
  api/api-shared-v10/src/main/java/com/thoughtworks/go/apiv10/admin/shared/representers/stages/JobRepresenter.java
  api/api-shared-v10/src/test/groovy/com/thoughtworks/go/apiv10/shared/representers/stages/JobRepresenterTest.groovy
Labels: apis, bug-fix, pipeline configuration

#7830 Don't showcase pending agents in edit agents modal
  server/src/main/webapp/WEB-INF/rails/webpack/models/agents/spec/agents_test_data.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/edit_agents_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/spec/edit_agents_modal_spec.tsx
Labels: SPA, bug-fix, environments

#7832 Api Infos API fixes
  api/api-api-info-v1/src/main/java/com/thoughtworks/go/apiv1/apiinfo/ApiInfoControllerV1.java
  api/api-api-info-v2/src/main/java/com/thoughtworks/go/apiv2/apiinfo/ApiInfoControllerV2.java
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis, breaking-change, bug-fix

#7835 [Pipeline Config API] Job Settings Tab Fixes
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/job.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/pipeline_config.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/pipeline_config_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings_tab_content.tsx
Labels: pipeline-config-spa

#7836 [Pipeline Config API] Stage settings tab fixes
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/stage.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/switch/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/stage_settings_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/stage_settings.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/stage_settings.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/stage_settings_tab_content.tsx
Labels: pipeline-config-spa

#7840 Updating url-rewrite for ApiInfo api to move to internal #000
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/SparkPreFilter.java
Labels: apis

#7839 Removed template config v5, deprecated in 19.12.0
  .gitignore
  api/api-template-config-v5/build.gradle
  api/api-template-config-v5/src/main/java/com/thoughtworks/go/apiv5/admin/templateconfig/TemplateConfigControllerV5.java
  api/api-template-config-v5/src/main/java/com/thoughtworks/go/apiv5/admin/templateconfig/representers/PipelineSummaryRepresenter.java
  api/api-template-config-v5/src/main/java/com/thoughtworks/go/apiv5/admin/templateconfig/representers/TemplateConfigRepresenter.java
  api/api-template-config-v5/src/main/java/com/thoughtworks/go/apiv5/admin/templateconfig/representers/TemplateSummaryRepresenter.java
  api/api-template-config-v5/src/main/java/com/thoughtworks/go/apiv5/admin/templateconfig/representers/TemplatesConfigRepresenter.java
  api/api-template-config-v5/src/test/groovy/com/thoughtworks/go/apiv5/admin/templateconfig/TemplateConfigControllerV5Test.groovy
  api/api-template-config-v5/src/test/groovy/com/thoughtworks/go/apiv5/admin/templateconfig/representers/PipelineSummaryRepresenterTest.groovy
  api/api-template-config-v5/src/test/groovy/com/thoughtworks/go/apiv5/admin/templateconfig/representers/TemplateConfigRepresenterTest.groovy
  api/api-template-config-v5/src/test/groovy/com/thoughtworks/go/apiv5/admin/templateconfig/representers/TemplateSummaryRepresenterTest.groovy
  api/api-template-config-v5/src/test/groovy/com/thoughtworks/go/apiv5/admin/templateconfig/representers/TemplatesConfigRepresenterTest.groovy
  settings.gradle
Labels: apis

#7846 Show autocomplete suggestions when no field label is specified
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/forms/autocomplete.tsx
Labels: SPA, bug-fix

#7850 Fix for broken ui on timeline modal on compare spa
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/modal.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/spec/timeline_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/stages/spec/stages_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/stages/stages.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/stages/stages.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/stages/stages_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/timeline_modal.tsx
Labels: SPA, bug-fix

#7854 Update search results when config repo search box is updated (#7853)
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos.tsx
Labels: SPA, bug-fix, config repo

#7874 Refactor Pipeline Config SPA page mounting
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/clicky_pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/artifacts_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/custom_tab_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/general_options_tab_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/materials_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/project_management_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/permissions_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/stage_settings_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/widgets/navigation_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/common/environment_variables_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/artifacts_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/custom_tab_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/general_options_tab.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/parameters_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/project_management_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/permissions_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/stage_settings_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/widgets/navigation_widget.tsx
Labels: SPA, pipeline configuration, pipeline-config-spa, technical

#7859 Updated materials editor
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/serialization.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/types_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/forms/input_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/switch/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/switch/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/stage_settings_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/stage_settings_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/advanced_settings.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/advanced_settings.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/material_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/non_scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/pipeline_config_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/material_editor_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/non_scm_material_fields_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/pipeline_config_view_model_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/scm_material_fields_spec.tsx
Labels: Add Pipeline, SPA, materials

#7880 [Pipeline Config SPA] Do not show Save and Reset Buttons when not required
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/tab_content.tsx
Labels: SPA, pipeline-config-spa

#7881 Update Package Usages API
  api/api-packages-v2/src/main/java/com/thoughtworks/go/apiv2/packages/PackagesControllerV2.java
  api/api-packages-v2/src/main/java/com/thoughtworks/go/apiv2/packages/representers/PackageUsageRepresenter.java
  api/api-packages-v2/src/test/groovy/com/thoughtworks/go/apiv2/packages/PackagesControllerV2Test.groovy
  api/api-packages-v2/src/test/groovy/com/thoughtworks/go/apiv2/packages/representers/PackageUsageRepresenterTest.groovy
Labels: apis

#7889 [Performace Improvement] Remove unnecessary group by cause while loading dashboard pipeline.
  server/src/main/resources/com/thoughtworks/go/server/dao/maps/Pipeline.xml
Labels: enhancement, performance, pipeline configuration

#7890 Fix functional spec
  server/src/main/webapp/WEB-INF/rails/app/assets/new_stylesheets/_fonts.scss
Labels: Dashboard, bug-fix, library-upgrade

#7879 Update the bisect warning msg
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/comparison_result_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/instance_selection_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/spec/comparison_result_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare/spec/instance_selection_widget_spec.tsx
Labels: SPA, ui / ux

#7902 [Pipeline Config SPA] Make a pipeline config save call to create a task
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/api_request_builder.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/artifacts_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/custom_tab_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/general_options_tab_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/materials_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/project_management_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/permissions_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/stage_settings_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/abstract.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/ant.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/common/on_cancel_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/exec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/fetch.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/fetch/built_in.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/nant.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/plugin.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/rake.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/tab_content.tsx
Labels: pipeline-config-spa

#7901 Update materials tab
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/pluggable_scm.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/pluggable_scm_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/serialization.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/package_repositories.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/package_repositories_json.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/packages_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/spec/packages_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/spec/test_data.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/pipeline_config.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/test_data.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/shared/configuration.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/add_or_edit_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/materials_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/material_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/non_scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/material_editor_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/non_scm_material_fields_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/pipeline_config_view_model_spec.ts
Labels: SPA, pipeline-config-spa

#7745 Migrate Package Repositories SPA to typescript
  server/src/main/java/com/thoughtworks/go/server/PackageRepositoriesSparkOrRailsToggle.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/package_repositories.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/package_repositories_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/package_repositories_json.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/packages_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/spec/package_repositories_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/spec/package_repositories_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/spec/packages_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/shared/plugin_infos_new/extensions.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/package_repositories.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/collapsible_panel/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/collapsible_panel/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/collapsible_panel/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/collapsible_panel/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/forms/input_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/configuration_details_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repo_plugin_view.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repositories_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/packages_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/configuration_details_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_modal_body_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_repo_plugin_view_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_repositories_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_repository_modal_body_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_repository_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/packages_widget_spec.tsx
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/PackageRepositoriesController.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/SpaControllers.java
Labels: SPA, package materials

#7914 Fixing pipeline creation error
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/material_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/pipeline_config_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/pipeline_config_view_model_spec.ts
Labels: Add Pipeline, bug-fix

#7867 Make pipeline group case-insensitive (#7865)
  api/api-pipeline-groups-v1/src/main/java/com/thoughtworks/go/apiv1/admin/pipelinegroups/PipelineGroupsControllerV1.java
  api/api-pipeline-groups-v1/src/test/groovy/com/thoughtworks/go/apiv1/admin/pipelinegroups/PipelineGroupsControllerV1Test.groovy
  config/config-api/src/main/java/com/thoughtworks/go/config/BasicPipelineConfigs.java
  config/config-api/src/main/java/com/thoughtworks/go/config/merge/MergePipelineConfigs.java
  config/config-api/src/test/java/com/thoughtworks/go/config/BasicPipelineConfigsTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/merge/MergePipelineConfigsTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineConfigServiceIntegrationTest.java
Labels: apis, bug-fix, pipeline configuration

#7922 [Pipeline Config SPA] Project Management Tab Fixes (#7921)
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/pipeline_config.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/pipeline_config_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
Labels: bug-fix, pipeline-config-spa

#7926 [Pipeline Config SPA] General Tab Fixes (#7915)
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/pipeline_config.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/pipeline_config_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/stage.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/general_options_tab_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/general_options_tab.tsx
Labels: pipeline-config-spa

#7927 Decouple pipeline pause header from pipeline activity page
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_activity/pipeline_activity_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/common/models/pipeline_status.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/common/pipeline_pause_header.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/common/spec/pipeline_pause_header_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/page_header.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/spec/page_header_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/spec/pipeline_activity_page_spec.tsx
Labels: SPA, pipeline-config-spa, pipeline-history, technical, technical-debt

#7928 [Pipeline Config SPA] Add ability to Pause/Unpause a pipeline (#7816) (#7915)
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
Labels: pipeline-config-spa

#7939 [Pipeline Config SPA] Define new job
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/add_or_edit_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/jobs/add_job_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/exec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs/add_job_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs_tab_content.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs_tab_content.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs_tab_content.tsx
Labels: pipeline-config-spa

#7919 Add Pluggable SCM SPA
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/pluggable_scm.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/pluggable_scm_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/pluggable_scm_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/types_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/pluggable_scms.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/site_menu/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/site_menu/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/pluggable_scm_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/pluggable_scm_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/pluggable_scms_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/spec/pluggable_scm_modal_body_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/spec/pluggable_scm_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/spec/pluggable_scms_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/spec/test_data.ts
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/PluggableScmsController.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/SpaControllers.java
Labels: SPA

#7940 Update Package Repositories SPA
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_modal_body_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_repository_modal_body_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_repository_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_widget_spec.tsx
Labels: SPA
