Repository gocd/gocd, pull requests merged in 2020-07, with the labels that each got.

#8287 Fix bug with material password field
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.scss
Labels: bug-fix

#8298 Fix duplicate error message from the Stage Trigger API
  common/src/main/java/com/thoughtworks/go/server/service/result/HttpOperationResult.java
  common/src/test/java/com/thoughtworks/go/server/service/result/HttpOperationResultTest.java
Labels: apis, bug-fix, server-health-messages, ui / ux

#8241 `GoFileConfigDataSource#areKnownPartialsSameAsValidPartials()` should base its result on structure and not just the origins
  api/api-config-repo-operations-v1/src/main/java/com/thoughtworks/go/apiv1/configrepooperations/ConfigRepoOperationsControllerV1.java
  api/api-config-repo-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/configrepooperations/ConfigRepoOperationsControllerV1Test.groovy
  api/api-plugin-infos-v6/src/test/groovy/com/thoughtworks/go/apiv6/plugininfos/PluginInfosControllerV6Test.groovy
  api/api-plugin-infos-v7/src/test/groovy/com/thoughtworks/go/apiv7/plugininfos/PluginInfosControllerV7Test.groovy
  config/config-api/src/main/java/com/thoughtworks/go/config/EnvironmentConfig.java
  config/config-server/src/test/java/com/thoughtworks/go/config/MagicalGoConfigXmlWriterTest.java
  server/src/main/java/com/thoughtworks/go/config/CachedGoPartials.java
  server/src/main/java/com/thoughtworks/go/config/ConfigReposMaterialParseResultManager.java
  server/src/main/java/com/thoughtworks/go/config/GoConfigRepoConfigDataSource.java
  server/src/main/java/com/thoughtworks/go/config/GoFileConfigDataSource.java
  server/src/main/java/com/thoughtworks/go/config/PartialConfigHelper.java
  server/src/main/java/com/thoughtworks/go/config/PartialConfigService.java
  server/src/main/java/com/thoughtworks/go/server/domain/PluginSettings.java
  server/src/main/java/com/thoughtworks/go/server/service/EntityHashes.java
  server/src/main/java/com/thoughtworks/go/server/service/EntityHashingService.java
  server/src/main/java/com/thoughtworks/go/server/service/GoConfigService.java
  server/src/test-fast/java/com/thoughtworks/go/config/CachedGoPartialsTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/GoConfigDaoBasicTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/GoConfigDaoMergedTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/GoConfigDaoTestBase.java
  server/src/test-fast/java/com/thoughtworks/go/config/GoFileConfigDataSourceTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/GoPartialConfigTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/PartialConfigHelperTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/PartialConfigServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/EntityHashesTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/EntityHashingServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/GoConfigServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/PipelinePauseServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/config/CachedGoConfigIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/config/GoConfigRepoConfigDataSourceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/config/GoFileConfigDataSourceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/config/PartialConfigServiceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/BuildCauseProducerServiceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ConfigSaveDeadlockDetectionIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineConfigServiceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineLabelCorrectorIntegrationTest.java
  server/src/test-shared/java/com/thoughtworks/go/util/GoConfigFileHelper.java
  test/test-utils/src/main/java/com/thoughtworks/go/security/TestIVProvider.java
Labels: bug-fix, config repo

#8231 Fix rule circumvention issue that allows partials to be merged even if rules are violated
  api/api-config-repo-operations-v1/src/main/java/com/thoughtworks/go/apiv1/configrepooperations/ConfigRepoOperationsControllerV1.java
  api/api-config-repo-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/configrepooperations/ConfigRepoOperationsControllerV1Test.groovy
  config/config-api/src/main/java/com/thoughtworks/go/config/remote/PartialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/rules/Rules.java
  config/config-api/src/main/java/com/thoughtworks/go/config/rules/RulesAware.java
  config/config-api/src/test/java/com/thoughtworks/go/config/EnvironmentVariableConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/remote/PartialConfigTest.java
  config/config-server/src/main/java/com/thoughtworks/go/config/parts/XmlPartialConfigProvider.java
  server/src/main/java/com/thoughtworks/go/config/ConfigReposMaterialParseResultManager.java
  server/src/main/java/com/thoughtworks/go/config/PartialConfigService.java
  server/src/main/java/com/thoughtworks/go/config/PartialConfigUpdateCompletedListener.java
  server/src/main/java/com/thoughtworks/go/config/update/PartialConfigUpdateCommand.java
  server/src/test-fast/java/com/thoughtworks/go/config/ConfigReposMaterialParseResultManagerTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/PartialConfigServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/PartialConfigUpdateCommandTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ConfigSaveDeadlockDetectionIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ScheduleServiceRunOnAllAgentIntegrationTest.java
Labels: bug-fix, config-repo-rules

#8302 Add user can_operate field on individual stages of the dashboard pipeline
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/DashboardControllerV3Test.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/GoDashboardPipelineMother.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/representers/DashboardGroupRepresenterTest.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/representers/DashboardRepresenterTest.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/representers/PipelineRepresenterTest.groovy
  api/api-dashboard-v4/src/main/java/com/thoughtworks/go/apiv4/dashboard/representers/PipelineInstanceRepresenter.java
  api/api-dashboard-v4/src/main/java/com/thoughtworks/go/apiv4/dashboard/representers/PipelineRepresenter.java
  api/api-dashboard-v4/src/main/java/com/thoughtworks/go/apiv4/dashboard/representers/StageRepresenter.java
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/DashboardControllerV4Test.groovy
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/GoDashboardPipelineMother.groovy
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/representers/DashboardGroupRepresenterTest.groovy
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/representers/DashboardRepresenterTest.groovy
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/representers/PipelineInstanceRepresenterTest.groovy
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/representers/PipelineRepresenterTest.groovy
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/representers/StageRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/config/security/GoConfigPipelinePermissionsAuthority.java
  server/src/main/java/com/thoughtworks/go/config/security/GroupSecurity.java
  server/src/main/java/com/thoughtworks/go/config/security/Permissions.java
  server/src/main/java/com/thoughtworks/go/config/security/permissions/EveryonePermission.java
  server/src/main/java/com/thoughtworks/go/config/security/permissions/NoOnePermission.java
  server/src/main/java/com/thoughtworks/go/config/security/permissions/PipelinePermission.java
  server/src/main/java/com/thoughtworks/go/config/security/permissions/StagePermission.java
  server/src/main/java/com/thoughtworks/go/server/dashboard/GoDashboardCurrentStateLoader.java
  server/src/main/java/com/thoughtworks/go/server/dashboard/GoDashboardPipeline.java
  server/src/test-fast/java/com/thoughtworks/go/config/security/GoConfigPipelinePermissionsAuthorityTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/security/permissions/PipelinePermissionTest.java
  server/src/test-fast/java/com/thoughtworks/go/domain/cctray/CcTrayConfigChangeHandlerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardCurrentStateLoaderTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardPipelineGroupTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardPipelineMother.java
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardPipelineTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/GoDashboardServiceTest.java
Labels: Dashboard, SPA, apis, permissions

#8306 Add allow_only_on_success_of_previous_stage field to the dashboard API stage
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/GoDashboardPipelineMother.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/representers/DashboardGroupRepresenterTest.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/representers/PipelineRepresenterTest.groovy
  api/api-dashboard-v4/src/main/java/com/thoughtworks/go/apiv4/dashboard/representers/StageRepresenter.java
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/GoDashboardPipelineMother.groovy
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/representers/DashboardGroupRepresenterTest.groovy
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/representers/PipelineInstanceRepresenterTest.groovy
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/representers/PipelineRepresenterTest.groovy
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/representers/StageRepresenterTest.groovy
  api/api-server-maintenance-mode-v1/src/test/groovy/com/thoughtworks/go/apiv1/servermaintenancemode/ServerMaintenanceModeControllerV1Test.groovy
  server/src/main/java/com/thoughtworks/go/server/dashboard/GoDashboardCurrentStateLoader.java
  server/src/main/java/com/thoughtworks/go/server/dashboard/GoDashboardPipeline.java
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardPipelineMother.java
  server/src/test-fast/java/com/thoughtworks/go/server/dashboard/GoDashboardPipelineTest.java
Labels: Dashboard, SPA, apis

#8305 Remove new_pipeline_dropdown toggle, finally.
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/new_dashboard.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/dashboard_groups_widget.js.msx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/dashboard_widget.js.msx
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/NewDashboardController.java
  spark/spark-spa/src/main/resources/freemarker/new_dashboard/index.ftlh
Labels: Pipelines as Code, config repo, improve-trial-experience

#8210 Allow `git` material to honor a refSpec as the branch name
  commandline/src/main/java/com/thoughtworks/go/util/command/CommandLine.java
  commandline/src/main/java/com/thoughtworks/go/util/command/ConsoleResult.java
  common/src/test/java/com/thoughtworks/go/domain/materials/git/GitCommandTest.java
  common/src/test/resources/data/git/custom-refs.git/HEAD
  common/src/test/resources/data/git/custom-refs.git/config
  common/src/test/resources/data/git/custom-refs.git/description
  common/src/test/resources/data/git/custom-refs.git/hooks/pre-commit
  common/src/test/resources/data/git/custom-refs.git/hooks/pre-receive
  common/src/test/resources/data/git/custom-refs.git/info/exclude
  common/src/test/resources/data/git/custom-refs.git/objects/1e/5f1f04819f2f3c88d13ffb2525db1538ab22cf
  common/src/test/resources/data/git/custom-refs.git/objects/1f/7391f92b6a3792204e07e99f71f643cc35e7e1
  common/src/test/resources/data/git/custom-refs.git/objects/33/72b30e6ee237efe699f9afeaf673cf5c7af4f3
  common/src/test/resources/data/git/custom-refs.git/objects/4b/825dc642cb6eb9a060e54bf8d69288fbee4904
  common/src/test/resources/data/git/custom-refs.git/objects/70/0655e3f4b18c1fc06961390f753f681de14c81
  common/src/test/resources/data/git/custom-refs.git/objects/82/2e6f03cd750da4fe3d22619d6f220b9e9faef0
  common/src/test/resources/data/git/custom-refs.git/objects/ad/24354f6f1763006fd6f015d8aa6c94990efc76
  common/src/test/resources/data/git/custom-refs.git/objects/b8/f411d79e0f3f663e9a80532b959316cc36eec0
  common/src/test/resources/data/git/custom-refs.git/objects/cf/adcb6dab5c568aadbd8f5fb68f38d8cfd86978
  common/src/test/resources/data/git/custom-refs.git/objects/dc/4783dd8660764537af6e239bd5dddf6e58eb05
  common/src/test/resources/data/git/custom-refs.git/objects/e8/0322906edab0ff6f51d5e7b2b9b4da45782643
  common/src/test/resources/data/git/custom-refs.git/objects/info/commit-graph
  common/src/test/resources/data/git/custom-refs.git/objects/info/packs
  common/src/test/resources/data/git/custom-refs.git/objects/pack/pack-e91fd5f4d558992e8d9a3e63e6edb53c6b4f10a9.idx
  common/src/test/resources/data/git/custom-refs.git/objects/pack/pack-e91fd5f4d558992e8d9a3e63e6edb53c6b4f10a9.pack
  common/src/test/resources/data/git/custom-refs.git/packed-refs
  common/src/test/resources/data/git/custom-refs.git/refs/heads/.gitkeep
  common/src/test/resources/data/git/custom-refs.git/refs/tags/.gitkeep
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/ScmMaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/git/GitMaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/git/RefSpecHelper.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/mercurial/HgMaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/svn/SvnMaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/tfs/TfsMaterialConfig.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/git/GitMaterialConfigTest.java
  domain/build.gradle
  domain/src/main/java/com/thoughtworks/go/config/materials/git/GitMaterial.java
  domain/src/main/java/com/thoughtworks/go/domain/materials/SCMCommand.java
  domain/src/main/java/com/thoughtworks/go/domain/materials/git/GitCommand.java
  domain/src/test/java/com/thoughtworks/go/domain/materials/git/GitTestRepo.java
  domain/src/test/java/com/thoughtworks/go/helper/GitRepoContainingSubmodule.java
  server/src/main/webapp/WEB-INF/rails/webpack/models/maintenance_mode/material.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/types_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/scm_material_fields.tsx
Labels: config repo, no stalebot

#8315 Added title to disabled plugin role selector
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/role_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/spec/role_modal_body_spec.tsx
Labels: ui / ux

#8314 Return appropriate return code for update current user
  api/api-current-user-v1/src/main/java/com/thoughtworks/go/apiv1/currentuser/CurrentUserController.java
  api/api-current-user-v1/src/test/groovy/com/thoughtworks/go/apiv1/currentuser/CurrentUserControllerTest.groovy
  api/api-user-representers-v1/src/main/java/com/thoughtworks/go/apiv1/user/representers/UserRepresenter.java
  api/api-user-representers-v1/src/test/groovy/com/thoughtworks/go/apiv1/user/representers/UserRepresenterTest.groovy
Labels: apis

#8326 Removed materials version v1
  .gitignore
  api/api-materials-v1/build.gradle
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/MaterialConfigControllerV1.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/MaterialModificationsControllerV1.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/MaterialNotifyControllerV1.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/MaterialConfigsRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/ModificationRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/ModificationsRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/DependencyMaterialRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/FilterRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/GitMaterialRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/HgMaterialRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/MaterialRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/MaterialsRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/PackageMaterialRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/PerforceMaterialRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/PluggableScmMaterialRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/ScmMaterialRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/SvnMaterialRepresenter.java
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/TfsMaterialRepresenter.java
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/MaterialConfigControllerV1Test.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/MaterialModificationsControllerV1Test.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/MaterialNotifyControllerV1Test.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/MaterialConfigsRepresenterTest.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/ModificationsRepresenterTest.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/materials/DependencyMaterialRepresenterTest.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/materials/FilterRepresenterTest.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/materials/GitMaterialRepresenterTest.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/materials/HgMaterialRepresenterTest.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/materials/MaterialRepresenterTrait.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/materials/PackageMaterialRepresenterTest.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/materials/PerforceMaterialRepresenterTest.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/materials/PluggableScmMaterialRepresenterTest.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/materials/SvnMaterialRepresenterTest.groovy
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/materials/TfsMaterialRepresenterTest.groovy
  server/config/cruise-config.xml
  server/src/main/resources/applicationContext-global.xml
  settings.gradle
Labels: apis

#8310 Showcase a help icon on all SPA
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/header_panel/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/header_panel/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/header_panel/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/header_panel/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/access_tokens.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/access_tokens/access_tokens_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/access_tokens/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/access_tokens/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/access_tokens/spec/access_tokens_widget_for_admin_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_access_tokens.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/admin_pipelines_widget.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/admin_pipelines_widget.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/admin_pipelines_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_templates.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_templates/admin_templates_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/agent_job_run_history.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/agents.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/artifact_stores.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/artifact_stores/artifact_stores_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/artifact_stores/spec/artifact_stores_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs/auth_configs_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs/spec/auth_configs_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/backup.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/compare.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/config_repos_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/elastic_agent_configurations/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/elastic_agent_configurations/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/elastic_agents.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/maintenance_mode.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/environments_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new-environments/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repositories_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/page.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/pluggable_scms_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/plugins.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/roles/roles_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/secret_configs.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/secret_configs/secret_configs_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/secret_configs/spec/secret_configs_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/users.tsx
Labels: SPA

#8342 Add default echo task for config repo pipelines (#8308)
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/configrepo/AddEmptyTaskJoltTransformer.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/configrepo/v1/JsonMessageHandler1_0.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/configrepo/v2/JsonMessageHandler2_0.java
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/configrepo/v3/JsonMessageHandler3_0.java
  plugin-infra/go-plugin-access/src/main/resources/config-repo/migrations/11.json
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/configrepo/ConfigRepoDocumentMother.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/configrepo/ConfigRepoMigratorTest.java
  plugin-infra/go-plugin-access/src/test/resources/v10_pipeline_with_no_tasks.json
  plugin-infra/go-plugin-access/src/test/resources/v11_pipeline_with_default_task.json
Labels: bug-fix, config repo, migration, tasks

#8334 Migrate version infos api
  .gitignore
  api/api-version-infos-v1/build.gradle
  api/api-version-infos-v1/src/main/java/com/thoughtworks/go/apiv1/versioninfos/VersionInfosControllerV1.java
  api/api-version-infos-v1/src/main/java/com/thoughtworks/go/apiv1/versioninfos/models/GoLatestVersion.java
  api/api-version-infos-v1/src/main/java/com/thoughtworks/go/apiv1/versioninfos/representers/GoLatestVersionRepresenter.java
  api/api-version-infos-v1/src/main/java/com/thoughtworks/go/apiv1/versioninfos/representers/VersionInfoRepresenter.java
  api/api-version-infos-v1/src/test/groovy/com/thoughtworks/go/apiv1/versioninfos/VersionInfosControllerV1Test.groovy
  api/api-version-infos-v1/src/test/groovy/com/thoughtworks/go/apiv1/versioninfos/representers/GoLatestVersionRepresenterTest.groovy
  api/api-version-infos-v1/src/test/groovy/com/thoughtworks/go/apiv1/versioninfos/representers/VersionInfoRepresenterTest.groovy
  server/config/cruise-config.xml
  server/src/main/java/com/thoughtworks/go/server/SparkOrRailsToggle.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/applicationContext-global.xml
  server/src/main/resources/available.toggles
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis, technical-debt

#8341 Add Materials SPA
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/java/com/thoughtworks/go/server/web/GoVelocityView.java
  server/src/main/resources/available.toggles
  server/src/main/webapp/WEB-INF/rails/app/helpers/application_helper.rb
  server/src/main/webapp/WEB-INF/rails/app/views/shared/_body_data_attrs.html.erb
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/config_repos/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/current_user_permissions/index.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/materials.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/materials_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/materials.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/site_menu/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/site_menu/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/materials_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/partials/site_header.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/partials/spec/site_header_spec.tsx
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  server/src/main/webapp/WEB-INF/vm/shared/_header.vm
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/MaterialsController.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/InitialContextProvider.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/SpaControllers.java
  spark/spark-spa/src/main/java/freemarker_implicit.ftl
  spark/spark-spa/src/main/resources/freemarker/layouts/component_layout.ftlh
  spark/spark-spa/src/main/resources/freemarker/layouts/single_page_app.ftlh
Labels: SPA, materials

#8346 Fix Stage History API stale response (#8345)
  server/src/main/java/com/thoughtworks/go/server/dao/StageSqlMapDao.java
  server/src/test-integration/java/com/thoughtworks/go/server/dao/StageSqlMapDaoIntegrationTest.java
Labels: apis, bug-fix, stage

#8353 Added a null check before migrating config-repo pipelines
  plugin-infra/go-plugin-access/src/main/java/com/thoughtworks/go/plugin/access/configrepo/AddEmptyTaskJoltTransformer.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/configrepo/ConfigRepoDocumentMother.java
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/configrepo/ConfigRepoMigratorTest.java
  plugin-infra/go-plugin-access/src/test/resources/v10_no_pipelines.json
  plugin-infra/go-plugin-access/src/test/resources/v11_no_pipelines.json
Labels: bug-fix, config repo

#8350 Resolve secret params during check connection
  api/api-internal-material-test-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterialtest/InternalMaterialTestControllerV1.java
  api/api-internal-material-test-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterialtest/InternalMaterialTestControllerV1Test.groovy
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/modals/material_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/materials_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/material_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/scm_material_fields.tsx
Labels: SPA, apis, bug, materials, pipeline-config-spa

#8363 Missed adding the materials toggle value to status reports SPA
  spark/spark-spa/src/main/resources/freemarker/layouts/rails_compatible_page.ftlh
Labels: bug-fix

#8360 Fix hash generation for pipeline config export #000
  api/api-export-v1/src/main/java/com/thoughtworks/go/apiv1/export/ExportControllerV1.java
  api/api-export-v1/src/test/groovy/com/thoughtworks/go/apiv1/export/ExportControllerV1Test.groovy
  api/api-pipelines-as-code-internal-v1/src/main/java/com/thoughtworks/go/apiv1/pipelinesascodeinternal/PipelinesAsCodeInternalControllerV1.java
  api/api-pipelines-as-code-internal-v1/src/test/groovy/com/thoughtworks/go/apiv1/pipelinesascodeinternal/PipelinesAsCodeInternalControllerV1Test.groovy
  server/src/main/java/com/thoughtworks/go/config/ConfigRepoPlugin.java
  server/src/main/java/com/thoughtworks/go/server/service/EntityHashingService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/EntityHashingServiceTest.java
Labels: apis, config repo

#8372 Updated pipeline config spa
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/flash_message/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/modals/material_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/add_stage_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/add_stage_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/stages_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs/add_job_modal.tsx
Labels: bug-fix, pipeline-config-spa, ui / ux

#8376 Fixing build - functional spec fails after 8372
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/add_stage_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs/add_job_modal.tsx
Labels: bug-fix, pipeline-config-spa

#8387 Bring back stages config diff api
  server/src/main/webapp/WEB-INF/rails/app/controllers/admin/stages_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/views/admin/stages/config_change.html.erb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/admin/stages_controller_spec.rb
Labels: bug-fix

#8297 Manual stage trigger on dashboard
  api/api-dashboard-v4/src/main/java/com/thoughtworks/go/apiv4/dashboard/representers/StageRepresenter.java
  api/api-dashboard-v4/src/test/groovy/com/thoughtworks/go/apiv4/dashboard/representers/StageRepresenterTest.groovy
  server/src/main/webapp/WEB-INF/rails/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/src/main/webapp/WEB-INF/rails/spec/webpack/models/dashboard/pipeline_instance_spec.js
  server/src/main/webapp/WEB-INF/rails/spec/webpack/views/dashboard/stages_instance_widget_spec.js
  server/src/main/webapp/WEB-INF/rails/webpack/models/dashboard/pipeline_instance.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/pipeline_instance_widget.js.msx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/pipeline_widget.js.msx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stages_instance_widget.js.msx
Labels: Dashboard

#8398 Dashboard Manual Stage Trigger Fixes
  server/src/main/webapp/WEB-INF/rails/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/src/main/webapp/WEB-INF/rails/spec/webpack/views/dashboard/stages_instance_widget_spec.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stages_instance_widget.js.msx
Labels: Dashboard, bug-fix

#8371 Remove unused rails endpoint
  server/src/main/webapp/WEB-INF/rails/app/controllers/pipelines_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/views/pipelines/build_cause.html.erb
  server/src/main/webapp/WEB-INF/rails/app/views/shared/_build_cause_popup.html.erb
  server/src/main/webapp/WEB-INF/rails/app/views/shared/_modification_for_table.html.erb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/application_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/pipelines_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/helpers/application_helper_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/views/pipelines/build_cause_html_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/views/shared/_build_cause_popup_html_spec.rb
Labels: technical-debt
