Repository gocd/gocd, pull requests merged in 2020-08, with the labels that each got.

#8412 Fix regression failure for scheduled jobs feeds api (deprecated one)
  server/src/main/webapp/WEB-INF/rails/app/helpers/api/feeds_helper.rb
Labels: bug-fix

#8348 Added few internal materials API
  .gitignore
  api/api-internal-materials-v1/build.gradle
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/InternalMaterialsControllerV1.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/MaterialWithModificationsRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/UsagesRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/GitMaterialRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/HgMaterialRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/MaterialRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/MaterialsRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PackageMaterialRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PerforceMaterialRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PluggableScmMaterialRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/ScmMaterialRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/SvnMaterialRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/TfsMaterialRepresenter.java
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/InternalMaterialsControllerV1Test.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/MaterialWithModificationsRepresenterTest.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/UsagesRepresenterTest.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/GitMaterialRepresenterTest.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/HgMaterialRepresenterTest.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/MaterialRepresenterTrait.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PackageMaterialRepresenterTest.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PerforceMaterialRepresenterTest.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PluggableScmMaterialRepresenterTest.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/SvnMaterialRepresenterTest.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/TfsMaterialRepresenterTest.groovy
  domain/src/main/java/com/thoughtworks/go/domain/MaterialInstance.java
  server/src/main/java/com/thoughtworks/go/server/persistence/MaterialRepository.java
  server/src/main/java/com/thoughtworks/go/server/service/MaterialConfigService.java
  server/src/main/java/com/thoughtworks/go/server/service/MaterialService.java
  server/src/main/resources/applicationContext-global.xml
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  server/src/test-fast/java/com/thoughtworks/go/server/service/MaterialConfigServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/MaterialServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/persistence/MaterialRepositoryIntegrationTest.java
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis, materials

#8419 Update materials spa
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/MaterialsRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PerforceMaterialRepresenter.java
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PerforceMaterialRepresenterTest.groovy
  server/src/main/webapp/WEB-INF/rails/spec/webpack/models/dashboard/pipeline_spec.js
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/materials.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/materials_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_header_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_usage_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/models/material_usages_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/models/material_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/models/spec/material_usages_view_model_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/models/spec/material_view_model_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_header_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_usage_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/materials_widget_spec.tsx
Labels: SPA, materials, ui / ux

#8420 Fix jasmine failure on windows
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/materials_widget_spec.tsx
Labels: bug-fix

#8417 Launch agent with all SSL properties if provided #8416
  agent-process-launcher/src/main/java/com/thoughtworks/go/agent/AgentProcessParentImpl.java
  agent-process-launcher/src/test/java/com/thoughtworks/go/agent/AgentProcessParentImplTest.java
Labels: agents

#8431 Update materials spa
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/materials.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/materials_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_header_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_usage_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/models/material_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/models/spec/material_view_model_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_header_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/materials_widget_spec.tsx
Labels: SPA, materials

#8432 Dashboard stage overview
  server/src/main/webapp/WEB-INF/rails/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/src/main/webapp/WEB-INF/rails/spec/webpack/models/dashboard/pipeline_instance_spec.js
  server/src/main/webapp/WEB-INF/rails/spec/webpack/views/dashboard/pipeline_instance_widget_spec.js
  server/src/main/webapp/WEB-INF/rails/spec/webpack/views/dashboard/pipeline_widget_spec.js
  server/src/main/webapp/WEB-INF/rails/spec/webpack/views/dashboard/stages_instance_widget_spec.js
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/agent_job_run_history/index.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/agents/agents.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/dashboard/pipeline_instance.js
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/new_dashboard.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/dashboard_widget.js.msx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/models/dashboard_view_model.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/pipeline_instance_widget.js.msx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/pipeline_widget.js.msx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/job_agent_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/job_count_and_rerun_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/job_progress_bar_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/job_state_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/jobs_list_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/job_duration_stratergy_helper.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/jobs_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/stage_instance.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/stage_overview_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/job_agent_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/job_count_and_rerun_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/job_progress_bar_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/job_state_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/models/job_duration_stratergy_helper_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/models/stage_instance_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/stage_overview_header_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/test_data.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/stage_overview_header.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stages_instance_widget.js.msx
  server/src/main/webapp/WEB-INF/rails/webpack/views/global/zindex.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/pipeline_run_info_widget.tsx
Labels: Dashboard, ui / ux

#8437 [Materials SPA] Fix bug with rendering pipeline usage for a searched material.
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials.tsx
Labels: SPA, bug-fix, materials

#8441 Allow non admin user to access materials spa
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PackageMaterialRepresenter.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PluggableScmMaterialRepresenter.java
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PackageMaterialRepresenterTest.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/materials/PluggableScmMaterialRepresenterTest.groovy
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/materials.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/materials_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/models/spec/material_view_model_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_usage_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/materials_widget_spec.tsx
Labels: SPA, materials

#8444 Stage overview fixes
  server/src/main/webapp/WEB-INF/rails/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/job_progress_bar_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/job_state_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/jobs_list_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/stage_instance.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/stage_overview_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/job_state_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/stage_overview_header_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/stage_overview_header.tsx
Labels: Dashboard, bug-fix, stage-overview

#8447 Dashboard Stage Overview Fixes (#8438)
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/job_count_and_rerun_widget.tsx
Labels: bug-fix, stage-overview

#8448 Show relative job progress bar width (#8438)
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/job_progress_bar_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/jobs_list_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/job_duration_stratergy_helper.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/job_progress_bar_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/models/job_duration_stratergy_helper_spec.ts
Labels: enhancement, stage-overview, ui / ux, ux-enhancement

#8436 Showcase modifications for a given material
  api/api-base/src/main/java/com/thoughtworks/go/api/ApiController.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/InternalMaterialModificationsControllerV1.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/ModificationsRepresenter.java
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/InternalMaterialModificationsControllerV1Test.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/ModificationsRepresenterTest.groovy
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/materials.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/materials_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/materials_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/modal_spec.tsx
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: SPA, materials, ui / ux

#8452 Improve materials SPA styling
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/materials.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/materials_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_header_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_header_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/modal_spec.tsx
Labels: SPA, ui / ux

#8453 Stage overview status bar
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/forms/input_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/models/dashboard_view_model.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/jobs_list_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/stage_instance.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/models/job_duration_stratergy_helper_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stages_instance_widget.js.msx
  server/src/main/webapp/WEB-INF/rails/webpack/views/global/zindex.scss
Labels: Dashboard, bug-fix, stage-overview

#8454 Add plugin icon for materials SPA
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/vsm_renderer.js
  server/src/main/webapp/WEB-INF/rails/app/assets/stylesheets/_module.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/kitchen_sink.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_header_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_header_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_widget_spec.tsx
Labels: ui / ux

#8458 Add a confirmation dialog for the dashboard manual stages
  server/src/main/webapp/WEB-INF/rails/app/assets/new_stylesheets/single_page_apps/new_dashboard.scss
  server/src/main/webapp/WEB-INF/rails/spec/webpack/views/dashboard/stages_instance_widget_spec.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stages_instance_widget.js.msx
Labels: Dashboard, enhancement, ux-enhancement

#8460 Mask user info on materials tab on pipeline config spa
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/types_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/types.ts
Labels: pipeline-config-spa, ui / ux

#8461 Dashboard stage overview sortable jobs (#8438)
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/jobs_list_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/job_duration_stratergy_helper.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/jobs_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/stage_overview_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/job_count_and_rerun_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/models/jobs_view_model_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/test_data.ts
Labels: Dashboard, enhancement, stage-overview, ux-enhancement

#8462 Dashboard stage overview fixes (#8438)
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/jobs_list_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/job_count_and_rerun_widget_spec.tsx
Labels: Dashboard, bug-fix, stage-overview

#8471 Fix stage overview position when fifth stage is manual (#8470)
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
Labels: Dashboard, bug-fix, stage-overview

#8474 [Stage Overview] Fix stage overview position when first 3 stages are manual (#8470)
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
Labels: Dashboard, bug-fix, stage-overview

#8476 Stage overview fixes (#8438)
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/job_progress_bar_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/jobs_list_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/job_progress_bar_widget_spec.tsx
Labels: Dashboard, bug-fix, enhancement, stage-overview, ux-enhancement

#8473 Synchronise token verification
  server/src/main/java/com/thoughtworks/go/server/controller/AgentRegistrationController.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filters/AgentAuthenticationFilter.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/filters/AgentAuthenticationFilterTest.java
Labels: agents

#8477 Showcase building job before passed jobs on the stage overview
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/jobs_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/models/jobs_view_model_spec.ts
Labels: stage-overview, ui / ux

#8484 Removed Agent API v6 deprecated in 20.5.0
  .gitignore
  api/api-agents-v6/build.gradle
  api/api-agents-v6/src/main/java/com/thoughtworks/go/apiv6/agents/AgentsControllerV6.java
  api/api-agents-v6/src/main/java/com/thoughtworks/go/apiv6/agents/model/AgentBulkUpdateRequest.java
  api/api-agents-v6/src/main/java/com/thoughtworks/go/apiv6/agents/model/AgentUpdateRequest.java
  api/api-agents-v6/src/main/java/com/thoughtworks/go/apiv6/agents/representers/AgentBulkUpdateRequestRepresenter.java
  api/api-agents-v6/src/main/java/com/thoughtworks/go/apiv6/agents/representers/AgentRepresenter.java
  api/api-agents-v6/src/main/java/com/thoughtworks/go/apiv6/agents/representers/AgentUpdateRequestRepresenter.java
  api/api-agents-v6/src/main/java/com/thoughtworks/go/apiv6/agents/representers/AgentsRepresenter.java
  api/api-agents-v6/src/main/java/com/thoughtworks/go/apiv6/agents/representers/BuildDetailsRepresenter.java
  api/api-agents-v6/src/main/java/com/thoughtworks/go/apiv6/agents/representers/EnvironmentsRepresenter.java
  api/api-agents-v6/src/main/java/com/thoughtworks/go/apiv6/agents/representers/UpdateRequestRepresenter.java
  api/api-agents-v6/src/test/groovy/com/thoughtworks/go/apiv6/agents/AgentsControllerV6Test.groovy
  api/api-agents-v6/src/test/groovy/com/thoughtworks/go/apiv6/agents/representers/AgentBulkUpdateRequestRepresenterTest.groovy
  api/api-agents-v6/src/test/groovy/com/thoughtworks/go/apiv6/agents/representers/AgentRepresenterTest.groovy
  api/api-agents-v6/src/test/groovy/com/thoughtworks/go/apiv6/agents/representers/AgentUpdateRequestRepresenterTest.groovy
  api/api-agents-v6/src/test/groovy/com/thoughtworks/go/apiv6/agents/representers/AgentsRepresenterTest.groovy
  settings.gradle
Labels: agents, apis

#8483 Update materials SPA UI
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/InternalMaterialsControllerV1.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/UsagesRepresenter.java
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/InternalMaterialsControllerV1Test.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/UsagesRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/server/service/MaterialConfigService.java
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/materials.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/materials_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_header_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_usage_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/models/material_usages_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/models/material_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/models/spec/material_usages_view_model_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/models/spec/material_view_model_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_header_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_usage_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/materials_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/modal_spec.tsx
  server/src/test-fast/java/com/thoughtworks/go/server/service/MaterialConfigServiceTest.java
Labels: SPA, ui / ux

#8486 Update materials spa modifications modal
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/ModificationRepresenter.java
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/ModificationRepresenterTest.groovy
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/modal_spec.tsx
Labels: SPA, materials, ui / ux

#8466 Remove rails based version-infos api
  server/src/main/java/com/thoughtworks/go/server/SparkOrRailsToggle.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/src/main/webapp/WEB-INF/rails/app/controllers/api_v1/version_infos_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/presenters/api_v1/version_info_representer.rb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api_v1/version_infos_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/presenters/api_v1/version_info_representer_spec.rb
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/shared/version_updater.ts
  server/src/main/webapp/WEB-INF/urlrewrite.xml
Labels: apis, technical-debt

#8488 Truncate material name if too long
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_header_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/modal_spec.tsx
Labels: SPA, materials, ui / ux

#8505 Fix stage overview rendering issue do to invalid state in stage instance API (#8502)
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/job_duration_stratergy_helper.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/stage_instance.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/models/stage_instance_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/test_data.ts
Labels: bug-fix, stage-overview

#8367 Add support for denylist for plugin SCM materials
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/non_scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/non_scm_material_fields_spec.tsx
Labels: SPA, materials, pipeline-config-spa
