Repository gocd/gocd, pull requests merged in 2020-04, with the labels that each got.

#7945 [Pipeline Config API] Stage Permissions Tab Fixes
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/permissions_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/permissions_tab_content.tsx
Labels: pipeline-config-spa

#7947 Add probot/stale app to close stale issues and PR
  .github/stale.yml
Labels: technical

#7950 [Pipeline Wizard][Pipeline Config SPA] Change Add Parameters Button
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/parameters.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/parameters.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/parameters_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/parameters_editor.tsx
Labels: SPA, improve-pipeline-config-ux, pipeline-config-spa

#7948 Render error on popup for pipelines spa
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/maintenance_mode/material.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/maintenance_mode/spec/material_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/pipeline_config.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/pipeline_config_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/admin_pipelines_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/admin_pipelines_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/spec/modals_spec.tsx
Labels: SPA, ui / ux

#7956 Fix clone pipeline in case of auto_update: false
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/spec/modals_spec.tsx
Labels: bug-fix

#7959 Updating modals to show the server is in maintenance error message
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/edit_pipeline_group_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/artifact_stores/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/auth_configs/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/secret_configs/modals.tsx
Labels: bug-fix

#7887 Upgrading rails to 5.2.4.2 #000
  server/src/main/webapp/WEB-INF/rails/Gemfile
  server/src/main/webapp/WEB-INF/rails/Gemfile.lock
  server/src/main/webapp/WEB-INF/rails/lib/tasks/gen_webpack_js_routes.rake
  server/src/main/webapp/WEB-INF/rails/lib/tasks/jasmine_ext.rake
Labels: library-upgrade

#7952 Use ephemeral auto register keys for elastic agents #000
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  server/src/main/java/com/thoughtworks/go/server/controller/AgentRegistrationController.java
  server/src/main/java/com/thoughtworks/go/server/service/ElasticAgentPluginService.java
  server/src/main/java/com/thoughtworks/go/server/service/EphemeralAutoRegisterKeyService.java
  server/src/test-fast/java/com/thoughtworks/go/server/controller/AgentRegistrationControllerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticAgentPluginServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/EphemeralAutoRegisterKeyServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/controller/AgentRegistrationControllerIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ScheduleServiceIntegrationTest.java
Labels: elastic-agents

#7852 Fix "Create first pipeline" prompt
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/dashboard_groups_widget.js.msx
Labels: bug-fix, ui / ux

#7962 Add depends on stage information to the dependent pipelines on Internal Pipeline Structure API.
  api/api-internal-pipeline-structure-v1/src/main/java/com/thoughtworks/go/apiv1/internalpipelinestructure/representers/InternalPipelineStructuresRepresenter.java
  api/api-internal-pipeline-structure-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalpipelinestructure/representers/InternalPipelineStructuresRepresenterTest.groovy
  config/config-api/src/main/java/com/thoughtworks/go/util/Node.java
  server/src/main/webapp/WEB-INF/rails/webpack/models/internal_pipeline_structure/pipeline_structure.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/internal_pipeline_structure/spec/pipeline_structure_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/admin_pipelines_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/admin_pipelines_widget_spec.tsx
Labels: apis, internal

#7966 [Pipeline Config SPA] Add support to delete stage, job and task.
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/artifacts_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/custom_tab_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/general_options_tab_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/project_management_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/jobs/add_job_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/jobs_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/permissions_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/stage_settings_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/widgets/stages_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs/add_job_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/tab_content.tsx
Labels: pipeline-config-spa

#7968 [Pipeline Config SPA] show global errors from API response
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/flash_message/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/flash_message/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs_tab_content.tsx
Labels: pipeline-config-spa

#7971 Fix stale data issue with draggable table component.
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/table/index.tsx
Labels: bug-fix, internal, technical

#7972 [Pipeline Config SPA] Allow re-ordering stages and tasks.
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/table/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/widgets/stages_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/common/re_order_entity.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/common/re_order_entity.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/common/re_order_entity_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/common/spec/re_order_entity_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
Labels: pipeline-config-spa

#7973 Upgrade css-loader to v3.5.1
  server/src/main/webapp/WEB-INF/rails/package.json
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: javascript, library-upgrade, technical

#7969 Update Package Repo SPA
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/package_repositories.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/spec/package_repositories_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/modal/delete_confirm_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/modal/entity_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repo_plugin_view.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_widget.tsx
Labels: SPA, bug-fix

#7980 Fix package clone issue
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/package_repositories.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_modal_body_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_repository_modal_body_spec.tsx
Labels: SPA, bug-fix, package materials

#7981 Update pluggable scm SPA
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/pluggable_scm.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/types_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/pluggable_scm_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/spec/pluggable_scm_modal_body_spec.tsx
Labels: SPA, bug-fix

#7982 Fix fingerprint generation for SCM and Package materials
  common/src/test/java/com/thoughtworks/go/domain/packagerepository/PackageDefinitionTest.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/config/ConfigurationProperty.java
  config/config-api/src/test/java/com/thoughtworks/go/domain/config/ConfigurationPropertyTest.java
  config/config-api/src/test/java/com/thoughtworks/go/domain/scm/SCMsTest.java
Labels: bug-fix, package materials

#7987 Update package repo and scm spa
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/package_repositories.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_modal_body.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_modal_body_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_repository_modal_body_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_repository_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/pluggable_scm_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/spec/pluggable_scm_widget_spec.tsx
Labels: SPA, ui / ux

#7995 [Pipeline Config SPA] Bind plugin config validation errors onto view.
  server/src/main/webapp/WEB-INF/rails/webpack/models/mixins/errors_consumer.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/mixins/spec/errors_consumer_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/shared/configuration.ts
Labels: pipeline-config-spa

#7999 Fixing Pluggable SCM SPA issues
  api/api-scms-v1/src/main/java/com/thoughtworks/go/apiv1/scms/representers/SCMRepresenter.java
  api/api-scms-v2/src/main/java/com/thoughtworks/go/apiv2/scms/representers/SCMRepresenter.java
  api/api-scms-v3/src/main/java/com/thoughtworks/go/apiv3/scms/representers/SCMRepresenter.java
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_modals_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/pluggable_scm_widget.tsx
Labels: SPA, bug-fix

#7920 Update material editor for supporting packages and scm materials
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/pluggable_scm_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/shared/configuration.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/advanced_settings.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/advanced_settings.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/material_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/non_scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/material_editor_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/non_scm_material_fields_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/spec/pluggable_scm_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/spec/test_data.ts
Labels: SPA, pipeline-config-spa, ui / ux

#8011 [Pipeline Config SPA] Add support for defining pipeline from template
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/pipeline_config.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/test_data.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/icons/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/configuration_type_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/pipeline_template_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/stages_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/widgets/navigation_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/configuration_type_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/pipeline_template_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/stages_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/widgets/navigation_widget.tsx
Labels: pipeline-config-spa

#8013 [Pipeline Config API] Fix error mapping for the stage authorization errors (#8012)
  api/api-shared-v10/src/main/java/com/thoughtworks/go/apiv10/admin/shared/representers/stages/StageAuthorizationRepresenter.java
  api/api-shared-v10/src/test/groovy/com/thoughtworks/go/apiv10/shared/representers/stages/ApprovalRepresenterTest.groovy
  api/api-shared-v10/src/test/groovy/com/thoughtworks/go/apiv10/shared/representers/stages/StageAuthorizationRepresenterTest.groovy
  config/config-api/src/main/java/com/thoughtworks/go/domain/ConfigErrors.java
  config/config-api/src/test/java/com/thoughtworks/go/domain/ConfigErrorsTest.java
Labels: apis, bug-fix, pipeline configuration

#8015 Introduced SCM verify_connection internal api
  .gitignore
  api/api-internal-scms-v1/build.gradle
  api/api-internal-scms-v1/src/main/java/com/thoughtworks/go/apiv1/internalscms/InternalSCMsControllerV1.java
  api/api-internal-scms-v1/src/main/java/com/thoughtworks/go/apiv1/internalscms/representers/SCMRepresenter.java
  api/api-internal-scms-v1/src/main/java/com/thoughtworks/go/apiv1/internalscms/representers/VerifyConnectionResultRepresenter.java
  api/api-internal-scms-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalscms/InternalSCMsControllerV1Test.groovy
  api/api-internal-scms-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalscms/representers/VerifyConnectionResultRepresenterTest.groovy
  server/src/main/resources/applicationContext-global.xml
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: apis

#8006 Add check connection for pluggable SCM
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/pluggable_scm_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/pluggable_scm_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/modals.tsx
Labels: SPA, apis

#8017 Fix issue with empty destination
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/types_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/types.ts
Labels: bug-fix

#8018 Pipeline config spa bug fixes
  server/src/main/webapp/WEB-INF/rails/webpack/models/authorization/authorization.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/authorization/specs/authorization_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/job.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/stage_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/stage.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/permissions_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/custom_tab_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/custom_tabs.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/route_helper.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/permissions_tab_content.tsx
Labels: SPA, pipeline-config-spa

#8019 Pluggable Scm check connection small tweaks
  api/api-internal-scms-v1/src/main/java/com/thoughtworks/go/apiv1/internalscms/InternalSCMsControllerV1.java
  api/api-internal-scms-v1/src/main/java/com/thoughtworks/go/apiv1/internalscms/representers/VerifyConnectionResultRepresenter.java
  api/api-internal-scms-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalscms/InternalSCMsControllerV1Test.groovy
  api/api-internal-scms-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalscms/representers/VerifyConnectionResultRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/server/service/materials/PluggableScmService.java
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/pluggable_scm_check_connection.js
  server/src/main/webapp/WEB-INF/rails/app/controllers/admin/materials/pluggable_scm_controller.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/admin/materials/pluggable_scm_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/javascripts/pluggable_scm_check_connection_spec.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/modals.tsx
  server/src/test-fast/java/com/thoughtworks/go/server/service/materials/PluggableScmServiceTest.java
Labels: SPA, apis

#8016 Allowing linking to individual repo and package panel on the package repo SPA
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/package_repositories.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/spec/package_repositories_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/package_repositories.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repositories_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/packages_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_repositories_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_repository_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/package_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/packages_widget_spec.tsx
Labels: SPA

#8021 Update material editor
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/configuration_details_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/advanced_settings.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/advanced_settings.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/material_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/non_scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/material_editor_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/non_scm_material_fields_spec.tsx
Labels: ui / ux

#8022 Template Config SPA
  server/src/main/webapp/WEB-INF/rails/app/views/layouts/templates/_breadcrumb_top.html.erb
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/template_config.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/template_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/modals/material_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/artifacts_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/custom_tab_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/general_options_tab_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/materials_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/project_management_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/jobs/add_job_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/jobs_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/permissions_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/stage_settings_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/template/general_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/widgets/navigation_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/widgets/steps_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tab_handler.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/artifacts_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/custom_tab_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_environment_variable_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/general_options_tab.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/parameters_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/pipeline_environment_variable_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/project_management_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/route_helper.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs/add_job_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/permissions_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/stage_environment_variable_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/stage_settings_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/template/general_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/widgets/navigation_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/widgets/steps_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/template_config.tsx
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/TemplateConfigController.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/SpaControllers.java
Labels: SPA, pipeline configuration, pipeline-config-spa, templates

#8029 Pipeline config spa bug fixes
  server/src/main/webapp/WEB-INF/rails/webpack/models/mixins/errors.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/nameable_set.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/fetch/external_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/materials_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/add_stage_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/pipeline_template_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/stages_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/jobs/add_job_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/jobs_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tab_handler.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/abstract.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/ant.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/exec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/fetch.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/fetch/external.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/nant.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/plugin.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/rake.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/add_stage_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/pipeline_template_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/stages_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs/add_job_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/template_config.tsx
Labels: SPA, bug-fix, pipeline-config-spa

#8033 Updated the package repo spa
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/package_repositories.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/package_repositories/spec/package_repositories_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/packages_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/spec/packages_widget_spec.tsx
Labels: SPA

#8036 Remove deprecated APIs
  .gitignore
  api/api-stage-operations-v1/build.gradle
  api/api-stage-operations-v1/src/main/java/com/thoughtworks/go/apiv1/stageoperations/StageOperationsControllerV1.java
  api/api-stage-operations-v1/src/main/java/com/thoughtworks/go/apiv1/stageoperations/representers/JobHistoryItemRepresenter.java
  api/api-stage-operations-v1/src/main/java/com/thoughtworks/go/apiv1/stageoperations/representers/JobInstanceRepresenter.java
  api/api-stage-operations-v1/src/main/java/com/thoughtworks/go/apiv1/stageoperations/representers/JobStateTransitionRepresenter.java
  api/api-stage-operations-v1/src/main/java/com/thoughtworks/go/apiv1/stageoperations/representers/StageInstanceRepresenter.java
  api/api-stage-operations-v1/src/main/java/com/thoughtworks/go/apiv1/stageoperations/representers/StageInstancesRepresenter.java
  api/api-stage-operations-v1/src/main/java/com/thoughtworks/go/apiv1/stageoperations/representers/StageRepresenter.java
  api/api-stage-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/stageoperations/StageOperationsControllerV1Test.groovy
  api/api-stage-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/stageoperations/representers/JobHistoryItemRepresenterTest.groovy
  api/api-stage-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/stageoperations/representers/JobInstanceRepresenterTest.groovy
  api/api-stage-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/stageoperations/representers/JobStateTransitionRepresenterTest.groovy
  api/api-stage-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/stageoperations/representers/StageInstanceRepresenterTest.groovy
  api/api-stage-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/stageoperations/representers/StageInstancesRepresenterTest.groovy
  api/api-stage-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/stageoperations/representers/StageRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/server/SparkOrRailsToggle.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/jobs_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/pipelines_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/stages_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/controllers/api_v1/notification_filters_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/controllers/stages_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/helpers/api/feeds_helper.rb
  server/src/main/webapp/WEB-INF/rails/app/views/api/jobs/index.xml.erb
  server/src/main/webapp/WEB-INF/rails/app/views/api/pipelines/pipeline_instance.xml.erb
  server/src/main/webapp/WEB-INF/rails/app/views/api/pipelines/pipelines.xml.erb
  server/src/main/webapp/WEB-INF/rails/app/views/api/pipelines/stage_feed.xml.erb
  server/src/main/webapp/WEB-INF/rails/app/views/api/stages/index.xml.erb
  server/src/main/webapp/WEB-INF/rails/app/views/preferences/notifications.html.erb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/jobs_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/pipelines_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/stages_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/stages_controller_view_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api_v1/notification_filters_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/stages_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/helpers/api/feeds_helper_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/views/api/jobs/index_xml_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/views/api/pipelines/pipeline_instance_xml_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/views/api/pipelines/pipelines_xml_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/views/api/pipelines/stage_feed_xml_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/views/api/stages/index_xml_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/views/preferences/notifications_html_spec.rb
  settings.gradle
Labels: apis

#8037 Remove rails based pipeline group edit page
  server/src/main/webapp/WEB-INF/rails/app/controllers/admin/pipeline_groups_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/views/admin/pipeline_groups/_permissions_table.html.erb
  server/src/main/webapp/WEB-INF/rails/app/views/admin/pipeline_groups/edit.html.erb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/admin/pipeline_groups_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/views/admin/pipeline_groups/edit_html_spec.rb
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  server/src/test-integration/java/com/thoughtworks/go/server/web/UrlRewriterIntegrationTest.java
Labels: technical-debt

#8057 [Pipeline Config SPA] Read only tasks
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/pipeline_config.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/ant_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/common/on_cancel_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/common/run_if_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/exec_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/fetch/built_in_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/fetch/external_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/fetch_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/nant_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/plugin_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/rake_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/ant.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/common/on_cancel_view.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/common/on_cancel_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/common/run_if_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/exec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/fetch.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/fetch/built_in.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/fetch/external.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/fetch/upstream_job_info_to_fetch_artifact_from_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/nant.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/plugin.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/rake.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
Labels: pipeline-config-spa

#8059 [Pipeline Config SPA] Read Only view for config repo pipelines
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/configuration_type_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/pipeline_template_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/jobs_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/parameters_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/configuration_type_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/pipeline_template_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/stages_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stages_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/parameters_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/pipeline_info_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/parameters_editor_spec.tsx
Labels: pipeline-config-spa

#8060 [Pipeline Config SPA] Read only materials for config repo pipeline
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/forms/input_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/modals/material_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/materials_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pac/builder_form.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/material_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/non_scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines_as_code.tsx
Labels: pipeline-config-spa

#8063 [Pipeline Config SPA] Show pipeline config save feedback on save button
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tab_handler.tsx
Labels: pipeline-config-spa

#8064 [Pipeline Config SPA] Do not dismiss the flash message after 10 secs.
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/flash_message/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tab_handler.tsx
Labels: pipeline-config-spa

#8068 [Pipeline Config SPA] Stage Settings and Add Stage Modal fixes (#7816)
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/stage/add_stage_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/jobs/add_job_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/stage_settings_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/widgets/stage_editor_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/stage/add_stage_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/jobs/add_job_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/stage_settings_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/widgets/stage_editor_widget.tsx
Labels: pipeline-config-spa

#8069 Fix pipeline config errors on materials tab
  common/src/test/java/com/thoughtworks/go/config/FetchTaskTest.java
  config/config-api/src/main/java/com/thoughtworks/go/config/AbstractFetchTask.java
  config/config-api/src/test/java/com/thoughtworks/go/config/FetchPluggableArtifactTaskTest.java
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/serialization.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/types_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_activity/pipeline_activity_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/switch/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/switch/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/switch/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/admin_pipelines/spec/edit_pipeline_group_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/modals/material_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/pipeline/materials_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/material_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/messages.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/non_scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/scm_material_fields_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/spec/pipeline_activity_page_spec.tsx
Labels: bug-fix, pipeline-config-spa

#8071 More fixes on materials tab of pipeline config spa
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/materials/spec/test_connection_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/materials/test_connection.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/material_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/scm_material_fields.tsx
Labels: bug-fix, pipeline-config-spa

#8077 Update materials tab
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/modal/material_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/modals/material_modal_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/material_editor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/material_editor_spec.tsx
Labels: bug-fix, pipeline-config-spa
