Repository gocd/gocd, pull requests merged in 2020-10, with the labels that each got.

#8282 Migrate preferences page
  api/api-notification-filter-v2/src/main/java/com/thoughtworks/go/apiv2/notificationfilter/NotificationFilterControllerV2.java
  api/api-notification-filter-v2/src/test/groovy/com/thoughtworks/go/apiv2/notificationfilter/NotificationFilterControllerV2Test.groovy
  server/src/main/java/com/thoughtworks/go/server/SparkOrRailsToggle.java
  server/src/main/java/com/thoughtworks/go/server/service/support/toggle/Toggles.java
  server/src/main/resources/available.toggles
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new_preferences/current_user.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new_preferences/current_user_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new_preferences/notification_filters.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new_preferences/notification_filters_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new_preferences/preferences.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new_preferences/spec/notification_filters_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/new_preferences/spec/notification_filters_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/new_preferences.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new_preferences.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/preferences/email_settings_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/preferences/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/preferences/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/preferences/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/preferences/notifications_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/preferences/preferences_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/preferences/spec/email_settings_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/preferences/spec/notifications_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/preferences/spec/preferences_widget_spec.tsx
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/NewPreferencesController.java
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/spring/SpaControllers.java
Labels: SPA, technical-debt, ui / ux

#8599 Load GoCD configurations from config repositories on GoCD startup.
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  server/src/main/java/com/thoughtworks/go/server/service/ConfigRepositoryInitializer.java
  server/src/test-fast/java/com/thoughtworks/go/server/initializers/ApplicationInitializerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ConfigRepositoryInitializerTest.java
Labels: config repo

#8612 Fix the order of the yes and no button as well as the style
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/server-configuration/confirm_modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/server-configuration/spec/confirm_modal_spec.tsx
Labels: ui / ux

#8610 Fix scm and package update
  config/config-api/src/main/java/com/thoughtworks/go/config/BasicCruiseConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/CruiseConfig.java
  config/config-api/src/test/java/com/thoughtworks/go/config/BasicCruiseConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/domain/scm/SCMMother.java
  config/config-api/src/test/java/com/thoughtworks/go/helper/MaterialConfigsMother.java
  server/src/main/java/com/thoughtworks/go/config/update/DeleteSCMConfigCommand.java
  server/src/main/java/com/thoughtworks/go/config/update/UpdatePackageConfigCommand.java
  server/src/main/java/com/thoughtworks/go/config/update/UpdatePackageRepositoryCommand.java
  server/src/main/java/com/thoughtworks/go/config/update/UpdateSCMConfigCommand.java
  server/src/main/java/com/thoughtworks/go/server/materials/SCMMaterialSource.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/UpdatePackageConfigCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/UpdatePackageRepositoryCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/UpdateSCMConfigCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/materials/SCMMaterialSourceTest.java
Labels: materials, package materials

#8617 Stage overview fixes
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/stage_overview_shim_for_vsm.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/job_count_and_rerun_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/stage_instance.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/job_count_and_rerun_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/stage_overview_header_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/stage_overview_header.tsx
Labels: bug-fix, stage-overview

#8623 Fix the check connection button text on pluggable scm modal
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/pluggable_scm.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/modals.tsx
Labels: SPA, ui / ux

#8645 Fix stage overview issues (#8595)
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/models/stage_overview_state.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stages_instance_widget.js.msx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/pipeline_run_info_widget.tsx
Labels: bug-fix, stage-overview

#8646 Update webhook endpoints to support `SCM_NAME`
  api/api-webhook-v1/src/main/java/com/thoughtworks/go/apiv1/webhook/PushWebhookControllerV1.java
  api/api-webhook-v1/src/main/java/com/thoughtworks/go/apiv1/webhook/request/WebhookRequest.java
  api/api-webhook-v1/src/main/java/com/thoughtworks/go/apiv1/webhook/request/mixins/bitbucketcloud/BitBucketCloudAuth.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/PushWebhookControllerV1Test.groovy
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/push/BitBucketCloudPushRequestTest.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/push/BitBucketServerPushRequestTest.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/push/GitHubPushRequestTest.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/push/GitLabPushRequestTest.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/PipelineGroups.java
  server/src/main/java/com/thoughtworks/go/server/materials/MaterialUpdateService.java
  server/src/test-fast/java/com/thoughtworks/go/server/materials/MaterialUpdateServiceTest.java
Labels: materials

#8654 Update secret config SPA
  .gitignore
  api/api-internal-secret-config-v1/build.gradle
  api/api-internal-secret-config-v1/src/main/java/com/thoughtworks/go/apiv1/internalsecretconfig/InternalSecretConfigControllerV1.java
  api/api-internal-secret-config-v1/src/main/java/com/thoughtworks/go/apiv1/internalsecretconfig/models/SecretConfigsViewModel.java
  api/api-internal-secret-config-v1/src/main/java/com/thoughtworks/go/apiv1/internalsecretconfig/representers/RulesRepresenter.java
  api/api-internal-secret-config-v1/src/main/java/com/thoughtworks/go/apiv1/internalsecretconfig/representers/SecretConfigRepresenter.java
  api/api-internal-secret-config-v1/src/main/java/com/thoughtworks/go/apiv1/internalsecretconfig/representers/SecretConfigsViewModelRepresenter.java
  api/api-internal-secret-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalsecretconfig/InternalSecretConfigControllerV1Test.groovy
  api/api-internal-secret-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalsecretconfig/representers/RulesRepresenterTest.groovy
  api/api-internal-secret-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalsecretconfig/representers/SecretConfigRepresenterTest.groovy
  api/api-internal-secret-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalsecretconfig/representers/SecretConfigsViewModelRepresenterTest.groovy
  server/src/main/resources/applicationContext-global.xml
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/secret_configs/secret_configs.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/secret_configs/secret_configs_crud.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/secret_configs/secret_configs_json.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/secret_configs/spec/secret_configs_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/secret_configs.tsx
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  settings.gradle
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: ui / ux

#8644 Delete plugin settings on a successful migration of the plugin settings to cluster profile. (#8643)
  server/src/main/java/com/thoughtworks/go/server/dao/PluginDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/PluginSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/service/ElasticAgentInformationMigratorImpl.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticAgentInformationMigratorImplTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/dao/PluginSqlMapDaoIntegrationTest.java
Labels: bug, elastic-agent-multi-cluster-support, elastic-agents

#8653 Fix for partials ConfigConvertor race condition #000
  server/src/main/java/com/thoughtworks/go/config/ConfigConverter.java
  server/src/test-fast/java/com/thoughtworks/go/config/ConfigConverterTest.java
Labels: config repo

#8657 Update error message for git version validation
  domain/src/main/java/com/thoughtworks/go/config/materials/git/GitMaterial.java
  domain/src/test/java/com/thoughtworks/go/config/materials/git/GitMaterialTest.java
Labels: bug-fix

#8628 Do not run database migration for server in standby
  server/src/main/java/com/thoughtworks/go/server/database/Database.java
  server/src/test-fast/java/com/thoughtworks/go/server/database/DatabaseTest.java
Labels: business-continuity

#8655 Do not purge the config repo defined structures cache on polled fetch
  server/src/main/webapp/WEB-INF/rails/webpack/models/base/cache.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/config_repo_view_model.ts
Labels: config repo, ui / ux

#8668 ClonerFactory to fix JDK 15 `deepClone()` issues
  common/src/test/java/com/thoughtworks/go/util/SystemEnvironmentTest.java
  config/config-api/src/main/java/com/thoughtworks/go/config/Agent.java
  config/config-api/src/main/java/com/thoughtworks/go/config/BasicCruiseConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/PipelineConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/PipelineConfigTreeValidator.java
  config/config-api/src/main/java/com/thoughtworks/go/config/PipelineTemplateConfig.java
  config/config-api/src/test/java/com/thoughtworks/go/config/BasicCruiseConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/EnvironmentConfigTestBase.java
  config/config-api/src/test/java/com/thoughtworks/go/config/MergeCruiseConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/PipelineConfigValidationTest.java
  config/config-api/src/test/java/com/thoughtworks/go/helper/PipelineConfigMother.java
  config/config-server/src/main/java/com/thoughtworks/go/config/GoConfigCloner.java
  config/config-server/src/test/java/com/thoughtworks/go/config/GoConfigClonerTest.java
  config/config-server/src/test/java/com/thoughtworks/go/config/GoConfigParallelGraphWalkerTest.java
  domain/src/main/java/com/thoughtworks/go/domain/Stage.java
  domain/src/test/java/com/thoughtworks/go/domain/ResourceTest.java
  server/src/main/java/com/thoughtworks/go/config/ConfigConverter.java
  server/src/main/java/com/thoughtworks/go/config/update/PartialConfigUpdateCommand.java
  server/src/main/java/com/thoughtworks/go/server/dao/JobInstanceSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/PipelineSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/StageSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/domain/PipelineTimeline.java
  server/src/main/java/com/thoughtworks/go/server/service/EnvironmentConfigService.java
  server/src/main/java/com/thoughtworks/go/server/service/StageService.java
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/filters/InvalidateAuthenticationOnSecurityConfigChangeFilterTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/EnvironmentConfigServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/PipelineConfigServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/config/CachedGoConfigIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/config/GoFileConfigDataSourceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/controller/AgentRegistrationControllerIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/persistence/PipelineRepositoryIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/AutoTriggerDependencyResolutionTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/BuildAssignmentServiceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ConfigSaveDeadlockDetectionIntegrationTest.java
  util/build.gradle
  util/src/main/java/com/thoughtworks/go/util/ClonerFactory.java
  util/src/test/java/com/thoughtworks/go/util/ClonerFactoryTest.java
Labels: bug-fix, java, technical

#8667 Allow `ConfigRepoConfig` to set `autoUpdate` to `false`
  api/api-config-repos-v3/src/main/java/com/thoughtworks/go/apiv3/configrepos/ConfigRepoWithResult.java
  api/api-config-repos-v3/src/main/java/com/thoughtworks/go/apiv3/configrepos/ConfigReposControllerV3.java
  api/api-config-repos-v3/src/main/java/com/thoughtworks/go/apiv3/configrepos/ConfigReposInternalControllerV3.java
  api/api-config-repos-v3/src/main/java/com/thoughtworks/go/apiv3/configrepos/representers/ConfigRepoWithResultListRepresenter.java
  api/api-config-repos-v3/src/main/java/com/thoughtworks/go/apiv3/configrepos/representers/ConfigRepoWithResultRepresenter.java
  api/api-config-repos-v3/src/test/groovy/com/thoughtworks/go/apiv3/configrepos/ConfigReposControllerV3Test.groovy
  api/api-config-repos-v3/src/test/groovy/com/thoughtworks/go/apiv3/configrepos/ConfigReposInternalControllerV3Test.groovy
  api/api-config-repos-v3/src/test/groovy/com/thoughtworks/go/apiv3/configrepos/representers/ConfigRepoWithResultListRepresenterTest.groovy
  api/api-config-repos-v3/src/test/groovy/com/thoughtworks/go/apiv3/configrepos/representers/ConfigRepoWithResultRepresenterTest.groovy
  api/api-config-repos-v4/src/main/java/com/thoughtworks/go/apiv4/configrepos/ConfigReposControllerV4.java
  api/api-config-repos-v4/src/main/java/com/thoughtworks/go/apiv4/configrepos/ConfigReposInternalControllerV4.java
  api/api-config-repos-v4/src/test/groovy/com/thoughtworks/go/apiv4/configrepos/ConfigReposControllerV4Test.groovy
  api/api-config-repos-v4/src/test/groovy/com/thoughtworks/go/apiv4/configrepos/ConfigReposInternalControllerV4Test.groovy
  config/config-api/src/main/java/com/thoughtworks/go/config/BasicCruiseConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/remote/ConfigRepoConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/remote/ConfigReposConfig.java
  config/config-api/src/test/java/com/thoughtworks/go/config/CruiseConfigTestBase.java
  config/config-api/src/test/java/com/thoughtworks/go/config/remote/ConfigRepoConfigTest.java
  server/src/main/java/com/thoughtworks/go/config/PartialConfigHelper.java
  server/src/main/java/com/thoughtworks/go/server/service/ConfigRepoService.java
  server/src/main/java/com/thoughtworks/go/server/service/EntityHashes.java
  server/src/main/java/com/thoughtworks/go/server/service/EntityHashingService.java
  server/src/main/java/com/thoughtworks/go/server/util/DigestMixin.java
  server/src/main/webapp/WEB-INF/rails/webpack/models/base/accessor.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/base/spec/accessor_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/modals.tsx
  server/src/test-fast/java/com/thoughtworks/go/config/PartialConfigHelperTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/CreateConfigRepoCommandTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ConfigRepoServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/EntityHashesTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/EntityHashingServiceTest.java
  util/src/main/java/com/thoughtworks/go/util/FunctionalUtils.java
Labels: config repo

#8592 Add secrets support elastic agent configurations
  .gitignore
  api/api-internal-secret-config-v1/src/main/java/com/thoughtworks/go/apiv1/internalsecretconfig/InternalSecretConfigControllerV1.java
  api/api-internal-secret-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalsecretconfig/InternalSecretConfigControllerV1Test.groovy
  api/api-secret-configs-v2/src/main/java/com/thoughtworks/go/apiv2/secretconfigs/SecretConfigsControllerV2.java
  api/api-secret-configs-v2/src/test/groovy/com/thoughtworks/go/apiv2/secretconfigs/SecretConfigsControllerV2Test.groovy
  api/api-secret-configs-v3/build.gradle
  api/api-secret-configs-v3/src/main/java/com/thoughtworks/go/apiv3/secretconfigs/SecretConfigsControllerV3.java
  api/api-secret-configs-v3/src/main/java/com/thoughtworks/go/apiv3/secretconfigs/representers/RulesRepresenter.java
  api/api-secret-configs-v3/src/main/java/com/thoughtworks/go/apiv3/secretconfigs/representers/SecretConfigRepresenter.java
  api/api-secret-configs-v3/src/main/java/com/thoughtworks/go/apiv3/secretconfigs/representers/SecretConfigsRepresenter.java
  api/api-secret-configs-v3/src/test/groovy/com/thoughtworks/go/apiv3/secretconfigs/SecretConfigsControllerV3Test.groovy
  api/api-secret-configs-v3/src/test/groovy/com/thoughtworks/go/apiv3/secretconfigs/representers/RulesRepresenterTest.groovy
  api/api-secret-configs-v3/src/test/groovy/com/thoughtworks/go/apiv3/secretconfigs/representers/SecretConfigRepresenterTest.groovy
  api/api-secret-configs-v3/src/test/groovy/com/thoughtworks/go/apiv3/secretconfigs/representers/SecretConfigsRepresenterTest.groovy
  config/config-api/src/main/java/com/thoughtworks/go/config/SecretConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/rules/SupportedEntity.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/config/Configuration.java
  config/config-api/src/test/java/com/thoughtworks/go/config/SecretConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/rules/SupportedEntityTest.java
  config/config-api/src/test/java/com/thoughtworks/go/domain/config/ConfigurationTest.java
  server/src/main/java/com/thoughtworks/go/server/messaging/elasticagents/CreateAgentMessage.java
  server/src/main/java/com/thoughtworks/go/server/messaging/elasticagents/ServerPingMessage.java
  server/src/main/java/com/thoughtworks/go/server/service/BuildAssignmentService.java
  server/src/main/java/com/thoughtworks/go/server/service/ClusterProfilesChangedPluginNotifier.java
  server/src/main/java/com/thoughtworks/go/server/service/ClusterProfilesService.java
  server/src/main/java/com/thoughtworks/go/server/service/ElasticAgentPluginService.java
  server/src/main/java/com/thoughtworks/go/server/service/ElasticProfileService.java
  server/src/main/java/com/thoughtworks/go/server/service/PluginProfilesService.java
  server/src/main/java/com/thoughtworks/go/server/service/RulesService.java
  server/src/main/java/com/thoughtworks/go/server/service/SecretParamResolver.java
  server/src/main/java/com/thoughtworks/go/server/service/plugins/validators/elastic/ElasticAgentProfileConfigurationValidator.java
  server/src/main/resources/applicationContext-global.xml
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/rules/configure_rules_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/elastic_agent_configurations/elastic_agent_profiles_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/elastic_agents/wizard.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/secret_configs/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/secret_configs/spec/modals_spec.tsx
  server/src/test-fast/java/com/thoughtworks/go/server/messaging/elasticagents/CreateAgentMessageTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/BuildAssignmentServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ClusterProfilesChangedPluginNotifierTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ClusterProfilesServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticAgentPluginServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ElasticProfileServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/RulesServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/SecretParamResolverTest.java
  settings.gradle
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/StatusReportsController.java
  spark/spark-spa/src/test/groovy/com/thoughtworks/go/spark/spa/StatusReportsControllerTest.groovy
Labels: elastic-agents, secrets-management
