Repository gocd/gocd, pull requests merged in 2020-02, with the labels that each got.

#7697 Applied rules after a successful config repo parse
  api/api-config-repo-operations-v1/src/main/java/com/thoughtworks/go/apiv1/configrepooperations/ConfigRepoOperationsControllerV1.java
  api/api-config-repo-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/configrepooperations/ConfigRepoOperationsControllerV1Test.groovy
  config/config-api/src/main/java/com/thoughtworks/go/config/exceptions/EntityType.java
  config/config-api/src/main/java/com/thoughtworks/go/config/exceptions/GoConfigInvalidMergeException.java
  config/config-api/src/main/java/com/thoughtworks/go/util/DFSCycleDetector.java
  config/config-api/src/test/java/com/thoughtworks/go/config/CruiseConfigTestBase.java
  config/config-api/src/test/java/com/thoughtworks/go/util/DFSCycleDetectorTest.java
  server/src/main/java/com/thoughtworks/go/config/GoPartialConfig.java
  server/src/main/java/com/thoughtworks/go/config/update/PartialConfigUpdateCommand.java
  server/src/test-fast/java/com/thoughtworks/go/config/GoPartialConfigTest.java
  server/src/test-fast/java/com/thoughtworks/go/config/update/PartialConfigUpdateCommandTest.java
  server/src/test-integration/java/com/thoughtworks/go/config/CachedGoConfigIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/config/GoFileConfigDataSourceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/config/GoPartialConfigIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/config/GoRepoConfigDataSourceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/materials/ConfigMaterialUpdateListenerIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/BuildCauseProducerServiceConfigRepoIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/BuildCauseProducerServiceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/GoConfigServiceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineConfigServiceIntegrationTest.java
Labels: config repo, config-repo-rules

#7708 Improving error message on autoUpdate mismatch
  config/config-api/src/main/java/com/thoughtworks/go/config/ConfigSaveValidationContext.java
  config/config-api/src/main/java/com/thoughtworks/go/config/ValidationContext.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/MaterialConfigs.java
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/ScmMaterialConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/remote/ConfigRepoConfig.java
  config/config-api/src/test/java/com/thoughtworks/go/config/ConfigSaveValidationContextTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/materials/MaterialConfigsTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/remote/ConfigRepoConfigTest.java
  config/config-server/src/test/java/com/thoughtworks/go/config/MagicalGoConfigXmlLoaderTest.java
Labels: config repo, materials, pipeline configuration

#7721 Remove roles config API v2
  .gitignore
  api/api-roles-config-v2/build.gradle
  api/api-roles-config-v2/src/main/java/com/thoughtworks/go/apiv2/rolesconfig/RolesControllerV2.java
  api/api-roles-config-v2/src/main/java/com/thoughtworks/go/apiv2/rolesconfig/representers/GoCDRoleConfigRepresenter.java
  api/api-roles-config-v2/src/main/java/com/thoughtworks/go/apiv2/rolesconfig/representers/GoCDRolesBulkUpdateRequestRepresenter.java
  api/api-roles-config-v2/src/main/java/com/thoughtworks/go/apiv2/rolesconfig/representers/PluginRoleConfigRepresenter.java
  api/api-roles-config-v2/src/main/java/com/thoughtworks/go/apiv2/rolesconfig/representers/RoleRepresenter.java
  api/api-roles-config-v2/src/main/java/com/thoughtworks/go/apiv2/rolesconfig/representers/RolesRepresenter.java
  api/api-roles-config-v2/src/test/groovy/com/thoughtworks/go/apiv2/rolesconfig/RolesControllerV2Test.groovy
  api/api-roles-config-v2/src/test/groovy/com/thoughtworks/go/apiv2/rolesconfig/representers/GoCDRoleConfigRepresenterTest.groovy
  api/api-roles-config-v2/src/test/groovy/com/thoughtworks/go/apiv2/rolesconfig/representers/PluginRoleConfigRepresenterTest.groovy
  api/api-roles-config-v2/src/test/groovy/com/thoughtworks/go/apiv2/rolesconfig/representers/RolesRepresenterTest.groovy
  server/src/main/resources/applicationContext-global.xml
  settings.gradle
Labels: apis, auth and role configuration

#7722 Remove security auth config API v1
  .gitignore
  api/api-security-auth-config-v1/build.gradle
  api/api-security-auth-config-v1/src/main/java/com/thoughtworks/go/apiv1/securityauthconfig/SecurityAuthConfigControllerV1.java
  api/api-security-auth-config-v1/src/main/java/com/thoughtworks/go/apiv1/securityauthconfig/SecurityAuthConfigInternalControllerV1.java
  api/api-security-auth-config-v1/src/main/java/com/thoughtworks/go/apiv1/securityauthconfig/representers/SecurityAuthConfigRepresenter.java
  api/api-security-auth-config-v1/src/main/java/com/thoughtworks/go/apiv1/securityauthconfig/representers/SecurityAuthConfigsRepresenter.java
  api/api-security-auth-config-v1/src/main/java/com/thoughtworks/go/apiv1/securityauthconfig/representers/VerifyConnectionResponseRepresenter.java
  api/api-security-auth-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/securityauthconfig/SecurityAuthConfigControllerV1Test.groovy
  api/api-security-auth-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/securityauthconfig/SecurityAuthConfigInternalControllerV1Test.groovy
  api/api-security-auth-config-v1/src/test/groovy/com/thoughtworks/go/apiv1/securityauthconfig/representers/SecurityAuthConfigRepresenterTest.groovy
  server/src/main/resources/applicationContext-global.xml
  settings.gradle
Labels: apis, auth and role configuration

#7726 Deprecate config repos API v2
  api/api-config-repos-v2/src/main/java/com/thoughtworks/go/apiv2/configrepos/ConfigReposControllerV2.java
  api/api-config-repos-v2/src/test/groovy/com/thoughtworks/go/apiv2/configrepos/ConfigReposControllerV2Test.groovy
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/DeprecatedAPI.java
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/RoutesHelper.java
  spark/spark-base/src/test/groovy/com/thoughtworks/go/spark/DeprecatedApiTrait.groovy
  spark/spark-base/src/test/java/com/thoughtworks/go/spark/RoutesHelperTest.java
Labels: apis

#7733 Deprecate rails based unversioned pipeline instance API (#7713)
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/pipelines_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/helpers/deprecated_api_helper.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/pipelines_controller_spec.rb
Labels: apis, pipeline runs

#7732 Added autocompletion info to Config Repo SPA
  api/api-config-repos-v3/src/main/java/com/thoughtworks/go/apiv3/configrepos/ConfigReposInternalControllerV3.java
  api/api-config-repos-v3/src/main/java/com/thoughtworks/go/apiv3/configrepos/representers/ConfigRepoWithResultListRepresenter.java
  api/api-config-repos-v3/src/test/groovy/com/thoughtworks/go/apiv3/configrepos/ConfigReposInternalControllerV3Test.groovy
  api/api-config-repos-v3/src/test/groovy/com/thoughtworks/go/apiv3/configrepos/representers/ConfigRepoWithResultListRepresenterTest.groovy
  server/src/main/webapp/WEB-INF/rails/spec/webpack/models/config_repos/config_repos_spec.js
  server/src/main/webapp/WEB-INF/rails/webpack/models/config_repos/serialization.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/config_repos/spec/config_repos_crud_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/config_repos/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/roles/auto_suggestion.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/roles/roles.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/config_repo_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/spec/config_repo_view_model_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/spec/modals_spec.tsx
Labels: SPA, config-repo-rules

#7739 Bump up APIs Info API to v2
  .gitignore
  api/api-api-info-v2/build.gradle
  api/api-api-info-v2/src/main/java/com/thoughtworks/go/apiv2/apiinfo/ApiInfoControllerV2.java
  api/api-api-info-v2/src/main/java/com/thoughtworks/go/apiv2/apiinfo/representers/RouteEntryRepresenter.java
  server/src/main/resources/applicationContext-global.xml
  settings.gradle
Labels: apis

#7734 Deprecate GoCD based apis
  api/api-stage-operations-v1/src/main/java/com/thoughtworks/go/apiv1/stageoperations/StageOperationsControllerV1.java
  api/api-stage-operations-v1/src/test/groovy/com/thoughtworks/go/apiv1/stageoperations/StageOperationsControllerV1Test.groovy
  api/api-template-config-v5/src/main/java/com/thoughtworks/go/apiv5/admin/templateconfig/TemplateConfigControllerV5.java
  api/api-template-config-v5/src/test/groovy/com/thoughtworks/go/apiv5/admin/templateconfig/TemplateConfigControllerV5Test.groovy
  api/api-template-config-v6/src/main/java/com/thoughtworks/go/apiv6/admin/templateconfig/TemplateConfigControllerV6.java
  api/api-template-config-v6/src/test/groovy/com/thoughtworks/go/apiv6/admin/templateconfig/TemplateConfigControllerV6Test.groovy
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/agents_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/jobs_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/pipeline_groups_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/pipelines_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/stages_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/controllers/api_v1/notification_filters_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/helpers/deprecated_api_helper.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/agents_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/jobs_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/pipeline_groups_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/pipelines_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/stages_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api_v1/notification_filters_controller_spec.rb
Labels: apis

#7738 Dependency Material, do not default name to upstream pipeline name #7737
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/dependency/DependencyMaterialConfig.java
  config/config-server/src/test/java/com/thoughtworks/go/config/serialization/DependencyMaterialConfigTest.java
Labels: apis, bug-fix

#7736 Improvements to wrapper properties examples
  installers/generic.gradle
  installers/include/additional-properties.conf
  installers/include/wrapper-properties-go-agent.conf
  installers/include/wrapper-properties-go-server.conf
  installers/include/wrapper-properties.go-agent.conf.example
  installers/include/wrapper-properties.go-server.conf.example
  installers/linux.gradle
  installers/windows.gradle
Labels: installers

#7753 Send all the selected pipeline group authorizations as is
  server/src/main/webapp/WEB-INF/rails/webpack/models/admin_pipelines/admin_pipelines.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/admin_pipelines/specs/admin_pipelines_spec.ts
Labels: bug-fix

#7759 [Pipeline Config SPA] Stage Permissions
  server/src/main/webapp/WEB-INF/rails/webpack/models/admin_pipelines/admin_pipelines.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/admin_pipelines/specs/admin_pipelines_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/authorization/authorization.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/authorization/specs/authorization_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/clicky_pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/stage/permissions_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/permissions.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/permissions.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/stage/permissions_tab_content.tsx
Labels: pipeline-config-spa

#7761 [Pipeline Config SPA] Job Settings Tab
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/job.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/clicky_pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/job_settings_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/job_settings_tab_content.tsx
Labels: pipeline-config-spa

#7765 [Pipeline Config SPA] Job Custom Tabs
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/clicky_pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/custom_tab_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/custom_tab_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/custom_tabs.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/custom_tabs.scss.d.ts
Labels: pipeline-config-spa

#7772 [Pipeline Config SPA] Job Artifacts Tab
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/artifact.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/clicky_pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/artifacts_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/artifacts.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/artifacts.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/artifacts_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/custom_tab_tab_content.tsx
Labels: pipeline-config-spa

#7775 Add plugin load/update/remove logs
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/listeners/DefaultPluginJarChangeListener.java
Labels: plugins

#7768 Dependency Material name fixes for API's #7737
  api/api-compare-v2/src/main/java/com/thoughtworks/go/apiv2/compare/representers/material/DependencyMaterialRepresenter.java
  api/api-compare-v2/src/test/groovy/com/thoughtworks/go/apiv2/compare/representers/material/DependencyMaterialRepresenterTest.groovy
  api/api-materials-v1/src/main/java/com/thoughtworks/go/apiv1/materials/representers/materials/DependencyMaterialRepresenter.java
  api/api-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/materials/representers/materials/DependencyMaterialRepresenterTest.groovy
  api/api-materials-v2/src/main/java/com/thoughtworks/go/apiv2/materials/representers/materials/DependencyMaterialRepresenter.java
  api/api-materials-v2/src/test/groovy/com/thoughtworks/go/apiv2/materials/representers/materials/DependencyMaterialRepresenterTest.groovy
  api/api-shared-v1/src/main/java/com/thoughtworks/go/apiv1/shared/representers/materials/DependencyMaterialRepresenter.java
  api/api-shared-v1/src/test/groovy/com/thoughtworks/go/apiv1/shared/representers/materials/DependencyMaterialRepresenterTest.groovy
  api/api-shared-v10/src/main/java/com/thoughtworks/go/apiv10/admin/shared/representers/materials/DependencyMaterialRepresenter.java
  api/api-shared-v10/src/test/groovy/com/thoughtworks/go/apiv10/shared/representers/materials/DependencyMaterialRepresenterTest.groovy
  api/api-shared-v9/src/main/java/com/thoughtworks/go/apiv9/admin/shared/representers/materials/DependencyMaterialRepresenter.java
  api/api-shared-v9/src/test/groovy/com/thoughtworks/go/apiv9/shared/representers/materials/DependencyMaterialRepresenterTest.groovy
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/dependency/DependencyMaterialConfig.java
  config/config-server/src/test/java/com/thoughtworks/go/config/serialization/DependencyMaterialConfigTest.java
Labels: apis, bug-fix

#7776 [Pipeline Config SPA] Add support for external artifacts on Job Artifacts Tab
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/artifacts_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/artifacts.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/artifacts.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/artifacts_tab_content.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/tab_content.tsx
Labels: pipeline-config-spa

#7780 [Pipeline Config SPA] Task list view
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/task_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/spec/test_data.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_configs/task.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/clicky_pipeline_config.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks_tab_content_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
Labels: pipeline-config-spa

#7787 [Pipeline Config SPA] Ant Task Modal
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/ant_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/common/on_cancel_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/spec/tabs/job/tasks/common/run_if_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/abstract.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/ant.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/common/on_cancel_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/common/run_if.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/common/run_if.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/common/run_if_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks/nant.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/job/tasks_tab_content.tsx
Labels: pipeline-config-spa
