Repository gocd/gocd, pull requests merged in 2020-09, with the labels that each got.

#8512 Add button to trigger material update
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/InternalMaterialsControllerV1.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/models/MaterialInfo.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/MaterialWithModificationsRepresenter.java
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/InternalMaterialsControllerV1Test.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/MaterialWithModificationsRepresenterTest.groovy
  server/src/main/java/com/thoughtworks/go/server/service/MaterialConfigService.java
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/spark_routes.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/materials.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/materials_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/materials_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_header_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/materials_widget_spec.tsx
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  server/src/test-fast/java/com/thoughtworks/go/server/service/MaterialConfigServiceTest.java
  spark/spark-base/src/main/java/com/thoughtworks/go/spark/Routes.java
Labels: SPA, materials, ui / ux

#8526 Update material check connection in case pipeline name is not provided
  api/api-abstract-material-test/src/main/java/com/thoughtworks/go/api/abstractmaterialtest/AbstractMaterialTestController.java
Labels: apis

#8518 Show warnings and errors on material spa
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/InternalMaterialsControllerV1.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/models/MaterialInfo.java
  api/api-internal-materials-v1/src/main/java/com/thoughtworks/go/apiv1/internalmaterials/representers/MaterialWithModificationsRepresenter.java
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/InternalMaterialsControllerV1Test.groovy
  api/api-internal-materials-v1/src/test/groovy/com/thoughtworks/go/apiv1/internalmaterials/representers/MaterialWithModificationsRepresenterTest.groovy
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/materials.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/spec/materials_spec.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_widget_spec.tsx
Labels: SPA, materials, ui / ux

#8529 Added support for invert filter for pluggable scm material #3962
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/serialization.ts
  server/src/main/webapp/WEB-INF/rails/webpack/models/materials/types.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/non_scm_material_fields.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/spec/non_scm_material_fields_spec.tsx
Labels: pipeline-config-spa

#8536 Added support for invertFilter for ConfigRepoMaterial type #3962
  server/src/main/java/com/thoughtworks/go/config/ConfigConverter.java
  server/src/test-fast/java/com/thoughtworks/go/config/ConfigConverterTest.java
Labels: materials

#8538 Introduce stage overview on pipeline activity page.
  server/src/main/webapp/WEB-INF/rails/webpack/models/pipeline_activity/pipeline_activity.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/models/dashboard_view_model.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/models/stage_overview_state.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/pipeline_activity_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/pipeline_run_info_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/show_force_build_action_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/spec/pipeline_activity_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/spec/pipeline_run_info_widget_spec.tsx
  spark/spark-spa/src/main/java/com/thoughtworks/go/spark/spa/PipelineActivityController.java
Labels: enhancement, pipeline-history, stage-overview, ux-enhancement

#8522 Exponential backoff material update in case of failures
  base/src/main/java/com/thoughtworks/go/util/Clock.java
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  base/src/main/java/com/thoughtworks/go/util/SystemTimeClock.java
  base/src/main/java/com/thoughtworks/go/util/TestingClock.java
  server/src/main/java/com/thoughtworks/go/server/materials/BackOffResult.java
  server/src/main/java/com/thoughtworks/go/server/materials/ExponentialBackOff.java
  server/src/main/java/com/thoughtworks/go/server/materials/ExponentialBackoffService.java
  server/src/main/java/com/thoughtworks/go/server/materials/MaterialDatabaseUpdater.java
  server/src/main/java/com/thoughtworks/go/server/materials/MaterialUpdateService.java
  server/src/test-fast/java/com/thoughtworks/go/server/materials/ExponentialBackOffTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/materials/ExponentialBackoffServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/materials/MaterialUpdateServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/materials/MaterialUpdateServiceIntegrationTest.java
Labels: materials

#8556 Fix issues related materials spa
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/material_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/modal.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/materials/spec/material_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pluggable_scms/modals.tsx
Labels: SPA, bug-fix, materials

#8539 Backing up wrapper config dir is optional now #8525
  server/src/main/java/com/thoughtworks/go/server/service/BackupService.java
  server/src/main/java/com/thoughtworks/go/server/service/backup/BackupStatusUpdater.java
  server/src/main/java/com/thoughtworks/go/server/service/backup/BackupUpdateListener.java
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/backup/progress_indicator.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/backup/spec/progress_indicator_spec.tsx
  server/src/test-fast/java/com/thoughtworks/go/server/service/backup/BackupStatusUpdaterTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/BackupServiceIntegrationTest.java
Labels: backup

#8521 Upgrade to Gradle 6
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  server/build.gradle
  server/vendor/velocity-tools-view-1.4.jar
  settings-docker.gradle
Labels: build-script, technical-debt

#8564 Remove the `branch_support` toggle. This enables new API versions.
  api/api-config-repos-v4/src/main/java/com/thoughtworks/go/apiv4/configrepos/ConfigReposControllerV4.java
  api/api-config-repos-v4/src/main/java/com/thoughtworks/go/apiv4/configrepos/ConfigReposInternalControllerV4.java
  api/api-plugin-infos-v7/src/main/java/com/thoughtworks/go/apiv7/plugininfos/PluginInfosControllerV7.java
  server/src/main/resources/available.toggles
Labels: config repo

#8563 Plugin and Package materials are updated on changes to global SCM or …
  config/config-api/src/test/java/com/thoughtworks/go/domain/scm/SCMMother.java
  config/config-api/src/test/java/com/thoughtworks/go/helper/MaterialConfigsMother.java
  server/src/main/java/com/thoughtworks/go/server/materials/SCMMaterialSource.java
  server/src/main/java/com/thoughtworks/go/server/service/PipelineConfigService.java
  server/src/main/java/com/thoughtworks/go/server/service/materials/PluggableSCMMaterialPoller.java
  server/src/test-fast/java/com/thoughtworks/go/server/materials/SCMMaterialSourceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/PipelineConfigServiceTest.java
Labels: materials, package materials

#8558 Add support for secrets in package configurations
  common/src/main/java/com/thoughtworks/go/remote/work/BuildAssignment.java
  common/src/test/java/com/thoughtworks/go/domain/packagerepository/PackageDefinitionTest.java
  common/src/test/java/com/thoughtworks/go/remote/work/BuildAssignmentTest.java
  config/config-api/src/main/java/com/thoughtworks/go/config/SecretConfig.java
  config/config-api/src/main/java/com/thoughtworks/go/config/rules/SupportedEntity.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/config/Configuration.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/packagerepository/PackageDefinition.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/packagerepository/PackageRepository.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/scm/SCM.java
  config/config-api/src/test/java/com/thoughtworks/go/config/SecretConfigTest.java
  config/config-api/src/test/java/com/thoughtworks/go/config/rules/SupportedEntityTest.java
  config/config-api/src/test/java/com/thoughtworks/go/domain/config/ConfigurationTest.java
  config/config-api/src/test/java/com/thoughtworks/go/domain/packagerepository/PackageRepositoryTest.java
  domain/src/main/java/com/thoughtworks/go/config/materials/PackageMaterial.java
  domain/src/test/java/com/thoughtworks/go/config/materials/PackageMaterialTest.java
  server/src/main/java/com/thoughtworks/go/server/service/BuildAssignmentService.java
  server/src/main/java/com/thoughtworks/go/server/service/RulesService.java
  server/src/main/java/com/thoughtworks/go/server/service/SecretParamResolver.java
  server/src/main/java/com/thoughtworks/go/server/service/materials/PackageDefinitionService.java
  server/src/main/java/com/thoughtworks/go/server/service/materials/PackageMaterialPoller.java
  server/src/main/java/com/thoughtworks/go/server/service/materials/PackageRepositoryService.java
  server/src/main/webapp/WEB-INF/rails/spec/support/java_spec_imports.rb
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/rules/configure_rules_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/package_repositories/package_repository_modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/secret_configs/modals.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/secret_configs/spec/modals_spec.tsx
  server/src/test-fast/java/com/thoughtworks/go/server/service/BuildAssignmentServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/RulesServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/SecretParamResolverTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/materials/PackageDefinitionServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/materials/PackageMaterialPollerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/materials/PackageRepositoryServiceTest.java
  server/src/test-shared/java/com/thoughtworks/go/server/service/StubPackageDefinitionService.java
Labels: package materials, secrets-management

#8571 [Stage Overview] Fix in progress stage name on disabled rerun icon on stage activity page.
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipeline_activity/pipeline_run_info_widget.tsx
Labels: bug, bug-fix, stage-overview

#8572 Fixes w.r.t. secrets support for package and plugin materials
  common/src/test/java/com/thoughtworks/go/config/materials/scm/PluggableSCMMaterialTest.java
  domain/src/main/java/com/thoughtworks/go/config/materials/PackageMaterial.java
  domain/src/main/java/com/thoughtworks/go/config/materials/PluggableSCMMaterial.java
  domain/src/test/java/com/thoughtworks/go/config/materials/PackageMaterialTest.java
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/secret_configs.tsx
Labels: bug-fix, materials, secrets-management

#8578 Deprecating ConfigRepo and PluginInfo APIs #000
  api/api-config-repos-v3/src/main/java/com/thoughtworks/go/apiv3/configrepos/ConfigReposControllerV3.java
  api/api-config-repos-v3/src/test/groovy/com/thoughtworks/go/apiv3/configrepos/ConfigReposControllerV3Test.groovy
  api/api-plugin-infos-v6/src/main/java/com/thoughtworks/go/apiv6/plugininfos/PluginInfosControllerV6.java
  api/api-plugin-infos-v6/src/test/groovy/com/thoughtworks/go/apiv6/plugininfos/PluginInfosControllerV6Test.groovy
Labels: apis

#8579 Fix stage overview caret icon positioning
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
Labels: bug, bug-fix, stage-overview

#8570 Allow users to see older stage runs from stage overview.
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/job_count_and_rerun_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/stage_instance.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/job_count_and_rerun_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/spec/stage_overview_header_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/stage_overview_header.tsx
Labels: Dashboard, enhancement, stage-overview, ui / ux, ux-enhancement

#8589 Removed Scheduled Job API deprecated in 20.6.0 #000
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/api_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/controllers/api/jobs_controller.rb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/api/jobs_controller_spec.rb
Labels: apis

#8591 Update stage overview caret when stage status changes.
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
Labels: Dashboard, bug, bug-fix, stage-overview, ui / ux

#8576 Show Stage Overview on the VSM pipelines.
  server/src/main/java/com/thoughtworks/go/domain/valuestreammap/PipelineDependencyNode.java
  server/src/main/java/com/thoughtworks/go/server/service/ValueStreamMapService.java
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/vsm_renderer.js
  server/src/main/webapp/WEB-INF/rails/app/models/value_stream_map_model.rb
  server/src/main/webapp/WEB-INF/rails/app/views/layouts/value_stream_map.html.erb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/value_stream_map_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/javascripts/value_stream_map_renderer_spec.js
  server/src/main/webapp/WEB-INF/rails/spec/views/value_stream_map/show_html_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/views/value_stream_map/show_material_html_spec.rb
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/stage_overview_shim_for_vsm.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/models/stage_overview_state.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/models/stage_overview_view_model.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/stage_overview/stage_overview_header.tsx
  server/src/test-fast/java/com/thoughtworks/go/server/service/ValueStreamMapServiceTest.java
Labels: enhancement, stage-overview, ui / ux, ux-enhancement, vsm

#8593 Start GoCD Server in maintenance mode. (#5787)
  api/api-server-maintenance-mode-v1/src/test/groovy/com/thoughtworks/go/apiv1/servermaintenancemode/representers/MaintenanceModeInfoRepresenterTest.groovy
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  server/src/main/java/com/thoughtworks/go/server/service/MaintenanceModeService.java
  server/src/main/resources/server_in_maintenance_mode.html
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/maintenance_mode/maintenance_mode_widget.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/maintenance_mode/spec/maintenance_mode_widget_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/partials/site_footer.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/partials/spec/site_footer_spec.tsx
  server/src/test-fast/java/com/thoughtworks/go/server/service/MaintenanceModeServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/TimerSchedulerQuartzIntegrationTest.java
  server/src/test-shared/java/com/thoughtworks/go/util/GoConfigFileHelper.java
Labels: enhancement, maintenance-mode

#8594 Update feeds api for scheduled jobs
  api/api-feeds-api-v1/src/main/java/com/thoughtworks/go/apiv1/feedsapi/FeedsApiControllerV1.java
  api/api-feeds-api-v1/src/test/groovy/com/thoughtworks/go/apiv1/feedsapi/FeedsApiControllerV1Test.groovy
  server/src/main/java/com/thoughtworks/go/server/service/FeedService.java
  server/src/main/java/com/thoughtworks/go/server/service/JobInstanceService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/FeedServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/JobInstanceServiceIntegrationTest.java
Labels: FeedsAPI, apis, bug-fix
