Repository gocd/gocd, pull requests merged in 2022-03, with the labels that each got.

#10240 Improve hg command building
  common/src/test/java/com/thoughtworks/go/config/materials/mercurial/HgMaterialTest.java
  common/src/test/java/com/thoughtworks/go/domain/materials/mercurial/HgCommandTest.java
  domain/src/main/java/com/thoughtworks/go/config/materials/mercurial/HgMaterial.java
  domain/src/main/java/com/thoughtworks/go/domain/materials/mercurial/HgCommand.java
Labels: java

#10241 Remove stray ;
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/clicky_pipeline_config/tabs/pipeline/general_options_tab.tsx
Labels: ui / ux, javascript

#10242 Remove unused js vendored dependencies
  buildSrc/src/main/resources/license-for-javascript-not-in-yarn.json
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/ajax_refresher.js
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/application.js
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/compare_pipelines.js
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/element_aligner.js
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/inplace-editor.js
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/lib/controls-1.8.0.js
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/lib/jquery.autocomplete-1.1.js
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/lib/jquery.treeview-1.5pre.js
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/lib/modalbox-1.6.1.js
  server/src/main/webapp/WEB-INF/rails/app/helpers/application_helper.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/value_stream_map_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/helpers/application_helper_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/javascripts/helpers/jsunitHelpersForMigratedTests.js
Labels: dependencies, javascript

#10244 Bump bundled gocd-ldap-authentication-plugin to v2.2.0-144
  tw-go-plugins/build.gradle
Labels: plugins, authentication

#10248 Bump rails from 5.2.6.2 to 5.2.6.3
  server/src/main/webapp/WEB-INF/rails/Gemfile.lock
Labels: dependencies, security, ruby

#10252 Bump ChromeDriver from v98 to v99
  server/jasmine.gradle
Labels: tests, build-script, dependencies

#10260 Bump rails from 5.2.6.3 to 5.2.7
  server/src/main/webapp/WEB-INF/rails/Gemfile.lock
Labels: dependencies, ruby

#10261 Minor cleanup to JobController
  server/src/main/java/com/thoughtworks/go/server/controller/JobController.java
  server/src/test-fast/java/com/thoughtworks/go/server/controller/JobControllerTest.java
Labels: technical-debt, java

#10263 Bump XSD versions to match Spring version
  agent/src/main/resources/applicationContext.xml
  plugin-infra/go-plugin-infra/src/main/resources/applicationContext-plugin-infra.xml
  server/src/main/resources/applicationContext-dataLocalAccess.xml
  server/src/main/resources/applicationContext-global.xml
  server/src/main/resources/propertyConfigurer.xml
  server/src/main/resources/spring-all-servlet.xml
  server/src/main/resources/spring-cruise-remoting-servlet.xml
  server/src/main/resources/velocity-config.xml
  server/src/test-integration/resources/testPropertyConfigurer.xml
  server/src/test-shared/resources/com/thoughtworks/go/agent/agent.xml
Labels: technical-debt, java

#10264 FIx Spring startup issues
  server/src/main/resources/applicationContext-global.xml
  server/src/main/resources/spring-all-servlet.xml
  server/src/test-fast/java/com/thoughtworks/go/server/search/PipelineBuilder.java
Labels: technical-debt, java

#10278 ui-dev: minor npm bumps
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, javascript

#10279 Bump Ruby and NodeJS patch versions
  .tool-versions
  scripts/.ruby-version
  scripts/.tool-versions
Labels: build-script, dependencies

#10288 Remove Alpine 3.12 agent builds
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
Labels: docker-images

#10291 Patch js dependencies
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, security, javascript

#10292 Bump jruby from 9.3.3.0 to 9.3.4.0
  .tool-versions
  dependencies.gradle
  server/src/main/webapp/WEB-INF/rails/Gemfile.lock
Labels: dependencies, java, ruby

#10301 Keep building deprecated/EOL Debian 9 until next release
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
Labels: docker-images

#10302 Bump jackson-databind to 2.13.2.2 via switching to BOM
  dependencies.gradle
  spark/spark-base/build.gradle
Labels: dependencies, security, java

#10307 Bump jackson-databind to 2.13.2.2 via switching to BOM
  agent/build.gradle
  base/build.gradle
  build.gradle
  dependencies.gradle
  server/build.gradle
  spark/spark-base/build.gradle
Labels: dependencies, security, java
