Repository gocd/gocd, pull requests merged in 2022-11, with the labels that each got.

#10973 Tweak installer builds for upcoming EOLs
  buildSrc/dependency-check-suppress.xml
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/BuildDockerImageTask.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/DistroVersion.groovy
Labels: build-script

#10977 Revert "ui-dev: bump @types/lodash from 4.14.186 to 4.14.187 in /server/src/main/webapp/WEB-INF/rails"
  server/src/main/webapp/WEB-INF/rails/package.json
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, javascript

#10978 Ensure container images are patched for openssl CVE-2022-3602
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
Labels: docker-images

#10979 Do fuller yum/dnf cleanup in CentOS images
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
Labels: docker-images

#10980 Ensure things work on CentOS 7
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
Labels: docker-images

#10983 Bump default build JDK to 17.0.5
  .tool-versions
Labels: build-script

#10982 Fix Postgres backups via pg_dump on Windows
  db-support/db-support-postgresql/src/main/java/com/thoughtworks/go/server/database/pg/PostgresqlBackupProcessor.java
Labels: bug-fix, backup

#10987 Correct misleading error message when webpack assets have been cleaned
  server/src/main/java/com/thoughtworks/go/server/service/WebpackAssetsService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/WebpackAssetsServiceTest.java
Labels: technical

#10993 [post-release] Bump up GoCD Version to 23.1.0
  build.gradle
Labels: build-script

#10992 Bump loader-utils to 2.0.3
  .gitignore
  server/src/main/webapp/WEB-INF/rails/package.json
  server/src/main/webapp/WEB-INF/rails/webpack/helpers/css_proxies.ts
  server/src/main/webapp/WEB-INF/rails/webpack/single_page_apps/stage_overview_shim_for_vsm.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/anchor/anchor.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/click_2_copy/index.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/key_value_pair/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/site_menu/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/table/spec/index_spec.tsx
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, javascript

#10996 Remove EOL Alpine 3.13
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
Labels: docker-images

#10997 Fix waiting for svnserve shutdown on Windows
  common/src/test/java/com/thoughtworks/go/helper/RandomPort.java
  common/src/test/java/com/thoughtworks/go/helper/SvnRemoteRepository.java
Labels: tests

#10998 Remove unnecessary SnakeYAML suppression
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11003 Remove twitter link from footer
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/partials/site_footer.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/partials/site_footer.scss.d.ts
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/partials/site_footer.tsx
Labels: ui / ux

#11004 Remove a dead docs link from dashboard personalization page
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/personalization_modal_widget.js.msx
Labels: Dashboard, ui / ux, bug-fix

#11005 Fix SASS 2 deprecation warnings
  server/src/main/webapp/WEB-INF/rails/app/assets/new_stylesheets/_settings.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/components/hierarchy/tree.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/config_repos/defined_structs.scss
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/new_plugins/foundation_hax.scss
Labels: technical-debt

#11010 Remove legacy Windows quoting strategy deprecated in 22.2.0
  common/src/main/java/com/thoughtworks/go/domain/builder/BaseCommandBuilder.java
  common/src/test/java/com/thoughtworks/go/domain/builder/AbstractCommandBuilderScriptRunnerTest.java
  common/src/test/java/com/thoughtworks/go/domain/builder/CommandBuilderScriptRunnerTest.java
  common/src/test/java/com/thoughtworks/go/domain/builder/CommandBuilderWithArgsListScriptRunnerTest.java
Labels: technical-debt

#11012 Bump Tanuki wrapper from 3.5.50 to 3.5.51
  dependencies.gradle
Labels: installers, docker-images, dependencies

#11011 Remove unused/old system properties
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  common/src/test/java/com/thoughtworks/go/util/SystemEnvironmentTest.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/FelixGoPluginOSGiFramework.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/DefaultPluginManagerIntegrationTest.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/FelixGoPluginOSGiFrameworkIntegrationTest.java
  server/src/main/java/com/thoughtworks/go/server/messaging/EmailMessageDrafter.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filters/ArtifactSizeEnforcementFilter.java
  server/src/main/java/com/thoughtworks/go/server/service/ArtifactsDiskSpaceFullChecker.java
  server/src/main/java/com/thoughtworks/go/server/service/ArtifactsDiskSpaceWarningChecker.java
Labels: technical-debt

#11013 Suppress another SnakeYAML false positive from OSSIndex
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11015 Fix SnakeYaml suppression
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11017 Remove suppression for OSSIndex SnakeYaml false positive
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11018 Bump loader-utils from 2.0.3 to 2.0.4
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, security, javascript

#11031 Remove unnecessary dependency check suppressions
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11033 Remove unused Java dependencies & tidy others
  config/config-api/build.gradle
  config/config-api/src/main/java/com/thoughtworks/go/config/validation/GoConfigValidator.java
  config/config-server/build.gradle
  config/config-server/src/main/java/com/thoughtworks/go/config/MagicalGoConfigXmlWriter.java
  config/config-server/src/main/java/com/thoughtworks/go/config/validation/GoConfigXMLValidator.java
  config/config-server/src/main/java/com/thoughtworks/go/config/validation/UniqueOnCancelValidator.java
  config/config-server/src/test/java/com/thoughtworks/go/config/validation/UniqueOnCancelValidatorTest.java
  dependencies.gradle
  server/build.gradle
Labels: dependencies, java

#11035 Reinstate commons fileupload + minor cleanups
  config/config-api/src/test/java/com/thoughtworks/go/security/ResetCipher.java
  config/config-server/src/main/java/com/thoughtworks/go/config/MagicalGoConfigXmlWriter.java
  config/config-server/src/test/java/com/thoughtworks/go/config/MagicalGoConfigXmlWriterTest.java
  dependencies.gradle
  domain/src/main/java/com/thoughtworks/go/server/transaction/TransactionTemplate.java
  server/build.gradle
  server/src/main/java/com/thoughtworks/go/server/cache/GoCache.java
  server/src/main/java/com/thoughtworks/go/server/dao/AccessTokenSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/EnvironmentVariableSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/JobAgentMetadataSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/JobInstanceSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/PluginSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/StageSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/UserSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/dao/VersionInfoSqlMapDao.java
  server/src/main/java/com/thoughtworks/go/server/domain/PipelineTimeline.java
  server/src/main/java/com/thoughtworks/go/server/materials/PackageMaterialUpdater.java
  server/src/main/java/com/thoughtworks/go/server/materials/PluggableSCMMaterialUpdater.java
  server/src/main/java/com/thoughtworks/go/server/persistence/AgentDao.java
  server/src/main/java/com/thoughtworks/go/server/service/ConfigDbStateRepository.java
  server/src/main/java/com/thoughtworks/go/server/service/PipelineScheduleQueue.java
  server/src/main/java/com/thoughtworks/go/server/service/PipelineService.java
  server/src/main/java/com/thoughtworks/go/server/service/ScheduleService.java
  server/src/main/java/com/thoughtworks/go/server/service/StageService.java
  server/src/main/java/com/thoughtworks/go/server/service/materials/PluggableSCMMaterialPoller.java
  server/src/test-fast/java/com/thoughtworks/go/server/cache/GoCacheTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/dao/JobInstanceSqlMapDaoTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/StubGoCache.java
Labels: dependencies, java

#11047 Improve error messages on failure to launch DB backup process
  db-support/db-support-base/src/main/java/com/thoughtworks/go/server/database/BackupProcessor.java
  db-support/db-support-mysql/src/main/java/com/thoughtworks/go/server/database/mysql/MySQLBackupProcessor.java
  db-support/db-support-postgresql/src/main/java/com/thoughtworks/go/server/database/pg/PostgresqlBackupProcessor.java
Labels: backup

#11048 Improve logging of output to assist with backup debugging
  db-support/db-support-mysql/src/main/java/com/thoughtworks/go/server/database/mysql/MySQLBackupProcessor.java
  db-support/db-support-postgresql/src/main/java/com/thoughtworks/go/server/database/pg/PostgresqlBackupProcessor.java
Labels: backup

#11051 Bump Gradle to 7.6
  build.gradle
  buildSrc/src/main/groovy/com/thoughtworks/go/build/YarnInstallTask.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/YarnRunTask.groovy
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  server/jasmine.gradle
  server/rails.gradle
  settings-docker.gradle
  settings.gradle
Labels: build-script

#11052 Partially revert Gradle upgrade
  build.gradle
  buildSrc/src/main/groovy/com/thoughtworks/go/build/YarnRunTask.groovy
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  server/jasmine.gradle
Labels: build-script

#11053 Add Alpine 3.17 agent docker images, changing server default to Alpine 3.17
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
  settings-docker.gradle
Labels: docker-images

#11054 Remove Centos 8 server builds
  settings-docker.gradle
Labels: docker-images

#11056 Bump gocd-yum-repository-poller-plugin to v2.0.6-135
  tw-go-plugins/build.gradle
Labels: plugins, installers

#11061 Suppress decode-uri-component vulnerability with commentary
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11062 Bump Ruby from 3.1.2 to 3.1.3
  .tool-versions
  scripts/.ruby-version
Labels: build-script
