Repository gocd/gocd, pull requests merged in 2022-05, with the labels that each got.

#10395 Bump web driver versions
  server/jasmine.gradle
Labels: tests, dependencies

#10394 Remove unused agent/server keystore properties
  app-server/src/main/java/com/thoughtworks/go/server/AppServer.java
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  jetty9/src/main/java/com/thoughtworks/go/server/Jetty9Server.java
  jetty9/src/test/java/com/thoughtworks/go/server/Jetty9ServerTest.java
  jetty9/src/test/java/com/thoughtworks/go/server/util/GoPlainSocketConnectorTest.java
  server/src/main/java/com/thoughtworks/go/server/GoServer.java
  server/src/test-fast/java/com/thoughtworks/go/server/AppServerStub.java
Labels: technical-debt, java

#10396 Bump vendored moment.js from 2.29.1 to 2.29.3
  buildSrc/src/main/resources/license-for-javascript-not-in-yarn.json
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/application.js
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/lib/moment-2.29.1.js
  server/src/main/webapp/WEB-INF/rails/app/assets/javascripts/lib/moment-2.29.3.js
Labels: dependencies, security, javascript

#10410 Remove unnecessary feature flag added to disable material URL validation
  config/config-api/src/main/java/com/thoughtworks/go/config/materials/ScmMaterialConfig.java
Labels: technical-debt, java

#10427 ui: Bump rails from 5.2.7.1 to 5.2.8
  server/src/main/webapp/WEB-INF/rails/Gemfile.lock
Labels: dependencies, ruby

#10429 Bump tanuki wrapper from 3.5.49 to 3.5.50
  dependencies.gradle
Labels: installers, dependencies

#10430 Remove xalan classloader hacks for TFS SDK
  build.gradle
  dependencies.gradle
  tfs-impl/tfs-impl-14/build.gradle
Labels: technical-debt, build-script

#10431 Bump BouncyCastle from 1.70 to 1.71
  agent-launcher/build.gradle
  agent/build.gradle
  dependencies.gradle
  server-launcher/build.gradle
Labels: dependencies, java

#10432 Remove direct dependency on cglib
  config/config-server/build.gradle
  dependencies.gradle
  server/build.gradle
Labels: technical-debt, dependencies, java

#10436 Fix version expectations for Jackson dependencies
  agent/build.gradle
  dependencies.gradle
  server/build.gradle
Labels: dependencies, java

#10437 Bump Ruby version from 2.7.5 to 2.7.6
  scripts/.ruby-version
  scripts/.tool-versions
Labels: build-script, dependencies, ruby

#10300 Remove RMI communications from agent to server
  agent/src/main/java/com/thoughtworks/go/agent/AgentHTTPClientController.java
  agent/src/main/java/com/thoughtworks/go/agent/GoHttpClientHttpInvokerRequestExecutor.java
  agent/src/main/java/com/thoughtworks/go/agent/service/HttpInvokerProxyFactoryWrapper.java
  agent/src/main/resources/applicationContext.xml
  agent/src/test/java/com/thoughtworks/go/agent/AgentHTTPClientControllerTest.java
  buildSrc/dependency-check-suppress.xml
  common/src/main/java/com/thoughtworks/go/util/URLService.java
  common/src/test/java/com/thoughtworks/go/util/URLServiceTest.java
  server/src/main/java/com/thoughtworks/go/remote/AgentRemoteInvokerServiceExporter.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filterchains/AuthorizeFilterChain.java
  server/src/main/resources/spring-cruise-remoting-servlet.xml
  server/src/test-fast/java/com/thoughtworks/go/remote/AgentRemoteInvokerServiceExporterTest.java
  server/src/test-shared/java/com/thoughtworks/go/agent/AgentStub.java
  server/src/test-shared/resources/com/thoughtworks/go/agent/agent.xml
Labels: technical-debt, security, java, no stalebot

#9510 Handle NullPointerException in ValueStreamMapService
  server/src/main/java/com/thoughtworks/go/server/service/ValueStreamMapService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ValueStreamMapServiceTest.java
Labels: vsm, bug-fix, no stalebot

#10441 Fix compatibility with JDK 11.0.15 and 17.0.3 by increasing the XPath Expression Operation limit
  config/config-server/src/main/java/com/thoughtworks/go/config/GoConfigMigration.java
Labels: bug-fix, java

#10442 Make increasing limit failsafe on earlier JDK versions
  config/config-server/src/main/java/com/thoughtworks/go/config/GoConfigMigration.java
Labels: bug-fix, java

#10454 Bump gocd-filebased-authentication-plugin to 2.1.1-137
  tw-go-plugins/build.gradle
Labels: plugins, documentation

#10440 Improve Windows installer
  installers/windows.gradle
  installers/windows/go-base.nsi
  installers/windows/nsis-plugins/AccessControl.dll
  installers/windows/upgrade-helpers.nsi
Labels: installers

#10459 Update Tanuki Wrapper licenses
  installers/include/wrapper-license-linux-go-agent.conf
  installers/include/wrapper-license-linux-go-server.conf
  installers/include/wrapper-license-relative-path-go-agent.conf
  installers/include/wrapper-license-relative-path-go-server.conf
Labels: installers

#10461 Revert "Bump org.apache.felix.framework from 7.0.3 to 7.0.4"
  dependencies.gradle
Labels: dependencies, java

#10475 Bump chromedriver from 100 to 102
  server/jasmine.gradle
Labels: tests, dependencies

#10478 Revert "Bump mockito-core from 4.5.1 to 4.6.0"
  dependencies.gradle
Labels: dependencies, java
