Repository gocd/gocd, pull requests merged in 2022-02, with the labels that each got.

#10137 Make P4 View a multi-line resizable TextArea
  server/src/main/webapp/WEB-INF/rails/webpack/views/pages/pipelines/scm_material_fields.tsx
Labels: ui / ux, bug-fix

#10138 Downgrade Commons IO to fix issues cleaning working dirs
  buildSrc/dependency-check-suppress.xml
  common/src/main/java/com/thoughtworks/go/remote/work/BuildWork.java
  common/src/test/java/com/thoughtworks/go/config/GuidServiceTest.java
  common/src/test/java/com/thoughtworks/go/config/IdFileServiceTestBase.java
  common/src/test/java/com/thoughtworks/go/config/TokenServiceTest.java
  common/src/test/java/com/thoughtworks/go/util/SystemEnvironmentTest.java
  dependencies.gradle
  server/src/test-fast/java/com/thoughtworks/go/remote/work/BuildWorkTest.java
Labels: bug-fix, java

#10091 Support push webhooks with multiple changes
  api/api-webhook-v1/src/main/java/com/thoughtworks/go/apiv1/webhook/controller/BaseWebhookController.java
  api/api-webhook-v1/src/main/java/com/thoughtworks/go/apiv1/webhook/controller/PushWebhookControllerV1.java
  api/api-webhook-v1/src/main/java/com/thoughtworks/go/apiv1/webhook/request/payload/push/BitbucketPush.java
  api/api-webhook-v1/src/main/java/com/thoughtworks/go/apiv1/webhook/request/payload/push/GitHubPush.java
  api/api-webhook-v1/src/main/java/com/thoughtworks/go/apiv1/webhook/request/payload/push/GitLabPush.java
  api/api-webhook-v1/src/main/java/com/thoughtworks/go/apiv1/webhook/request/payload/push/HostedBitbucketPush.java
  api/api-webhook-v1/src/main/java/com/thoughtworks/go/apiv1/webhook/request/payload/push/PushPayload.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/controller/PushWebhookControllerV1Test.groovy
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/helpers/Fixtures.groovy
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/BitbucketRequestTest.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/GitHubRequestTest.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/GitLabRequestTest.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/HostedBitbucketRequestTest.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/payload/push/BitbucketPushTest.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/payload/push/GitHubPushTest.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/payload/push/GitLabPushTest.java
  api/api-webhook-v1/src/test/groovy/com/thoughtworks/go/apiv1/webhook/request/payload/push/HostedBitbucketPushTest.java
  api/api-webhook-v1/src/test/resources/bitbucket-push-multiple-changes.json
  api/api-webhook-v1/src/test/resources/hosted-bitbucket-push-multiple-changes.json
Labels: enhancement, materials

#10140 Correct expected JARs inside server archive after Jakarta Mail upgrade
  server/build.gradle
Labels: build-script, dependencies

#10152 Downgrade Tanuki wrapper to 3.5.46 (as per last release)
  dependencies.gradle
Labels: installers, dependencies

#9818 Upgrade GoCD to run and build with Java 17
  .tool-versions
  build.gradle
  buildSrc/src/main/groovy/com/thoughtworks/go/build/AdoptiumUrlHelper.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/DownloaderTask.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/ExecuteUnderRailsTask.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/InstallerType.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/InstallerTypeAgent.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/InstallerTypeServer.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/OperatingSystem.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/DistroBehavior.groovy
  config/config-server/src/main/java/com/thoughtworks/go/config/parser/GoConfigFieldLoader.java
  gradle.properties
  installers/linux.gradle
  installers/osx.gradle
  installers/windows.gradle
  server/build.gradle
  server/jasmine.gradle
  server/rails.gradle
  server/src/main/webapp/WEB-INF/rails/Gemfile.lock
Labels: installers, build-script, docker-images, dependencies, java, no stalebot

#10154 Minor bumps to dev dependencies
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, javascript

#10155 Revert "Minor bumps to dev dependencies"
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, javascript

#10156 Fixes a memory leak in JMSMessageListenerAdapterTest
  server/build.gradle
  server/src/test-fast/java/com/thoughtworks/go/server/messaging/activemq/JMSMessageListenerAdapterTest.java
Labels: tests, java

#10157 Fix TFS usage under Java 17
  .gitignore
  util/src/main/java/com/thoughtworks/go/util/NestedJarClassLoader.java
  util/src/test/java/com/thoughtworks/go/util/NestedJarClassLoaderTest.java
  util/src/test/resources/helloworld.jar
Labels: materials, java

#10158 Minor cleanup of dead code
  server/src/main/java/com/thoughtworks/go/server/controller/actions/CsvAction.java
  server/src/test-shared/java/com/thoughtworks/go/server/perf/AgentPerformanceVerifier.java
  server/src/test-shared/java/com/thoughtworks/go/server/perf/commands/AgentPerformanceCommandResult.java
  util/src/main/java/com/thoughtworks/go/util/Csv.java
  util/src/main/java/com/thoughtworks/go/util/CsvRow.java
  util/src/main/java/com/thoughtworks/go/util/LogFixture.java
  util/src/main/java/com/thoughtworks/go/util/MapBuilder.java
  util/src/main/java/com/thoughtworks/go/util/UrlUtil.java
  util/src/test/java/com/thoughtworks/go/util/CsvTest.java
  util/src/test/java/com/thoughtworks/go/util/MapBuilderTest.java
  util/src/test/java/com/thoughtworks/go/util/UrlUtilTest.java
Labels: technical-debt, java

#10153 Drop source/target compatibility back to Java 11 LTS
  build.gradle
Labels: build-script, java

#10165 Upgrade to Gradle 7.4
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: build-script, dependencies

#10166 Bump file-based-secret-plugin version to 1.1.0-80
  tw-go-plugins/build.gradle
Labels: plugins, dependencies

#10169 Correct message displayed when agents are stuck cancelling jobs
  server/src/main/java/com/thoughtworks/go/server/service/AgentService.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/AgentServiceTest.java
Labels: ui / ux, agents, bug-fix, java

#10183 Force upgrade ajv transitive dependency within sass-lint
  server/src/main/webapp/WEB-INF/rails/package.json
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: build-script, dependencies, javascript

#10184 Bump rails from 5.2.6 to 5.2.6.2
  dependencies.gradle
  server/build.gradle
  server/rails.gradle
  server/src/main/webapp/WEB-INF/rails/Gemfile
  server/src/main/webapp/WEB-INF/rails/Gemfile.lock
Labels: dependencies, security, ruby

#10188 Bump yum repo poller plugin to latest patched version
  tw-go-plugins/build.gradle
Labels: plugins, installers

#10189 Bump bundled file-based authentication to latest patched version
  tw-go-plugins/build.gradle
Labels: plugins, installers

#10190 Validation tweak on stage details graphs/stats tab
  server/src/main/webapp/WEB-INF/rails/app/views/stages/stage.html.erb
Labels: stage

#10191 Remove unused AdminService
  server/src/main/java/com/thoughtworks/go/server/service/AdminService.java
  server/src/main/webapp/WEB-INF/rails/spec/support/java_spec_imports.rb
  server/src/test-fast/java/com/thoughtworks/go/server/service/AdminServiceTest.java
Labels: technical-debt, java

#10192 Revert "Remove unused AdminService"
  server/src/main/java/com/thoughtworks/go/server/service/AdminService.java
  server/src/main/webapp/WEB-INF/rails/spec/support/java_spec_imports.rb
  server/src/test-fast/java/com/thoughtworks/go/server/service/AdminServiceTest.java
Labels: technical-debt, java

#10194 Bump Chrome driver to 98
  buildSrc/src/main/groovy/com/thoughtworks/go/build/ExecuteUnderRailsTask.groovy
  server/jasmine.gradle
Labels: tests, build-script, dependencies

#10197 Reinstate Gradle Daemon JVM arg defaults that were being accidentally overridden
  gradle.properties
Labels: build-script

#10210 Suppress OWASP vuln noise from OSSINDEX against H2 DB
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#10211 Avoid logging massive stack traces when cookie is not set for agent
  server/src/main/java/com/thoughtworks/go/remote/BuildRepositoryRemoteImpl.java
Labels: technical-debt, java

#10212 Bump bundled gocd-ldap-authentication-plugin to v2.1.0-139
  tw-go-plugins/build.gradle
Labels: plugins, installers

#10228 Bump local NodeJS from 16.13 to 16.14
  .tool-versions
Labels: dependencies

#10229 Bump chromedriver from 98.0.4758.80 to 98.0.4758.102
  server/jasmine.gradle
Labels: tests, dependencies
