Repository gocd/gocd, pull requests merged in 2023-01, with the labels that each got.

#11157 Extend commons-io suppression
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11155 Supported building aarch64 images locally
  buildSrc/src/main/groovy/com/thoughtworks/go/build/AdoptiumVersion.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/Architecture.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/BuildDockerImageTask.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/DistroBehavior.groovy
  buildSrc/src/main/resources/gocd-docker-agent/Dockerfile.agent.ftl
  buildSrc/src/main/resources/gocd-docker-server/Dockerfile.server.ftl
  docker/gocd-agent/build.gradle
  docker/gocd-server/build.gradle
  installers/generic.gradle
  installers/linux.gradle
  installers/osx.gradle
  installers/windows.gradle
Labels: build-script, docker-images

#11158 Enable fastestmirror plugin for CentOS image builds
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
Labels: build-script, docker-images

#11126 Improve liquibase logging via SLF4J
  db-support/db-migration/build.gradle
  db-support/db-migration/src/main/java/com/thoughtworks/go/server/database/migration/DatabaseMigrator.java
  dependencies.gradle
  server/build.gradle
  server/src/main/resources/config/logback.xml
  test/test-utils/resource-include-in-all-projects/logback-test.xml
Labels: technical, dependencies, java

#11161 Suppress false positive match to unrelated product CPE
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11162 Remove some unused test resources
  common/src/test/resources/com/thoughtworks/go/config/no-tracking-tool-group-holder-config.xml
  common/src/test/resources/com/thoughtworks/go/config/some-big-cruise-config.xml
  common/src/test/resources/com/thoughtworks/go/util/task-extension.xsd
  common/src/test/resources/data/config/version4/cruise-config-dependency-migration.xml
  common/src/test/resources/data/config/version4/cruise-config.xsd
  server/src/test-fast/java/com/thoughtworks/go/server/JUnitReportGenerator.java
  server/src/test-shared/resources/com/thoughtworks/go/server/dao/all_dep_mods.page.1.xml
  server/src/test-shared/resources/com/thoughtworks/go/server/dao/all_dep_mods.page.2.xml
  server/src/test-shared/resources/com/thoughtworks/go/server/dao/all_dep_mods.page.3.xml
  server/src/test-shared/resources/cruise/artifacts/job2/junit-reports/junit-report-failed.xml
  server/src/test-shared/resources/cruise/artifacts/job2/junit-reports/junit-report-passed-with-capitalcase-extension.XML
  server/src/test-shared/resources/cruise/artifacts/job2/junit-reports/junit-report-passed-with-mixedcase-extension.Xml
  server/src/test-shared/resources/cruise/artifacts/job2/junit-reports/junit-report-passed.xml
  server/src/test-shared/resources/cruise/artifacts/job4/junit-reports/junit-report-passed.xml
  server/src/test-shared/resources/cruise/artifacts/job4/junit-reports/nunit-report-failed.xml
Labels: tests, technical-debt

#11175 Suppress false positive on SnakeYAML library
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11125 Remove bundling of the yum-repo-poller plugin
  server/build.gradle
  tw-go-plugins/build.gradle
Labels: plugins, installers

#11176 Fix minor nitpicks during build and startup
  build.gradle
  docker/gocd-agent/build.gradle
  docker/gocd-server/build.gradle
  server/src/main/resources/applicationContext-global.xml
Labels: build-script

#11181 Reinstate tests for unit test reports
  common/src/main/java/com/thoughtworks/go/dto/DurationBeans.java
  common/src/test/java/com/thoughtworks/go/domain/UnitTestReportGeneratorTest.java
  common/src/test/resources/data/AgentTest.xml
  common/src/test/resources/data/NunitTestResultWithByteOrderMark.xml
  common/src/test/resources/data/test-results/empty.xml
  common/src/test/resources/data/test-results/invalid-nunit.xml
  common/src/test/resources/data/test-results/junit-result-four-tests.xml
  common/src/test/resources/data/test-results/junit-result-single-test.xml
  common/src/test/resources/data/test-results/ncover-report.xml
  common/src/test/resources/data/test-results/nunit-result-204.xml
  common/src/test/resources/data/test-results/nunit-result-206.xml
  common/src/test/resources/data/test-results/nunit-result-integration.xml
  common/src/test/resources/data/test-results/nunit-result-unit.xml
Labels: tests

#11182 Re-arrange unit rest report tests for maintainability
  common/src/test/java/com/thoughtworks/go/domain/UnitTestReportGeneratorTest.java
  common/src/test/resources/data/test-results/junit-result-no-decl.xml
  config/config-api/src/main/java/com/thoughtworks/go/domain/TestReportGenerator.java
  config/config-api/src/main/java/com/thoughtworks/go/domain/UnitTestReportGenerator.java
Labels: tests, technical-debt

#11183 Update jquery suppressions for new NPM identifiers
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11184 Remove business continuity add-on
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  common/src/test/java/com/thoughtworks/go/helper/AgentInstanceMother.java
  common/src/test/java/com/thoughtworks/go/server/transaction/TestTransactionSynchronizationManager.java
  common/src/test/java/com/thoughtworks/go/util/SystemEnvironmentTest.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/AddOnConfiguration.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/AuthToken.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/AuthTokenException.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/ConfigFileType.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/Configuration.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/DatabaseStatusProvider.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/FileDetails.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/PluginsList.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/ViewResolver.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/primary/ServerStatusResponse.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/primary/controller/PrimaryStatusProviderController.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/primary/service/GoFilesStatusProvider.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/standby/controller/DashBoardController.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/standby/service/PrimaryServerCommunicationService.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/standby/service/PrimaryServerEndPoint.java
  server/src/main/java/com/thoughtworks/go/addon/businesscontinuity/standby/service/StandbyFileSyncService.java
  server/src/main/java/com/thoughtworks/go/server/database/Database.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filterchains/AuthenticationFilterChain.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filterchains/AuthorizeFilterChain.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filterchains/CreateSessionFilterChain.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filters/helpers/ServerUnavailabilityResponse.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/handlers/RequestRejectedExceptionHandler.java
  server/src/main/java/com/thoughtworks/go/server/service/BackupService.java
  server/src/main/java/com/thoughtworks/go/server/service/TimerScheduler.java
  server/src/main/resources/bc-addon/views/error.html
  server/src/main/resources/bc-addon/views/standby_dashboard.html
  server/src/main/resources/spring-all-servlet.xml
  server/src/test-fast/java/com/thoughtworks/go/addon/businesscontinuity/AuthTokenTest.java
  server/src/test-fast/java/com/thoughtworks/go/addon/businesscontinuity/FileDetailsTest.java
  server/src/test-fast/java/com/thoughtworks/go/addon/businesscontinuity/MockScheduledExecutorService.java
  server/src/test-fast/java/com/thoughtworks/go/addon/businesscontinuity/PluginsListTest.java
  server/src/test-fast/java/com/thoughtworks/go/addon/businesscontinuity/ViewResolverTest.java
  server/src/test-fast/java/com/thoughtworks/go/addon/businesscontinuity/primary/controller/PrimaryStatusProviderControllerTest.java
  server/src/test-fast/java/com/thoughtworks/go/addon/businesscontinuity/primary/service/GoFilesStatusProviderTest.java
  server/src/test-fast/java/com/thoughtworks/go/addon/businesscontinuity/standby/controller/DashBoardControllerTest.java
  server/src/test-fast/java/com/thoughtworks/go/addon/businesscontinuity/standby/service/PrimaryServerCommunicationServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/addon/businesscontinuity/standby/service/PrimaryServerEndPointTest.java
  server/src/test-fast/java/com/thoughtworks/go/addon/businesscontinuity/standby/service/StandbyFileSyncServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/database/DatabaseTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/filterchains/AuthenticationFilterChainTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/handlers/RequestRejectedExceptionHandlerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/BackupServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/TimerSchedulerQuartzIntegrationTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/TimerSchedulerTest.java
Labels: technical-debt

#11185 Remove unused test resource cruft
  api/api-version-infos-v1/src/main/java/com/thoughtworks/go/apiv1/versioninfos/models/GoLatestVersion.java
  dependencies.gradle
  server/build.gradle
  server/src/test-fast/resources/config_directory_1/cipher
  server/src/test-fast/resources/config_directory_1/cipher.aes
  server/src/test-fast/resources/config_directory_1/cruise-config.xml
  server/src/test-fast/resources/config_directory_1/go.feature.toggles
  server/src/test-fast/resources/config_directory_1/jetty.xml
  server/src/test-fast/resources/plugins_directory_1/plugin-1.jar
  server/src/test-fast/resources/rsa/master-private.pem
  server/src/test-fast/resources/rsa/subordinate-private.pem
Labels: tests, technical-debt

#11186 Trivial cleanup of leftover files
  server/build.gradle
  server/messages/message.properties
  server/src/main/java/com/thoughtworks/go/server/util/EscapeUtils.java
  server/src/main/webapp/WEB-INF/toolbox.xml
  server/src/test-fast/java/com/thoughtworks/go/server/util/EscapeUtilsTest.java
Labels: technical-debt

#11187 Clean-up exception handling in Command/CommandLine
  base/src/main/java/com/thoughtworks/go/util/command/ConsoleOutputStreamConsumer.java
  base/src/main/java/com/thoughtworks/go/util/command/ProcessOutputStreamConsumer.java
  base/src/main/java/com/thoughtworks/go/util/command/StreamConsumer.java
  base/src/main/java/com/thoughtworks/go/util/command/StringArgument.java
  build.gradle
  commandline/src/main/java/com/thoughtworks/go/util/ProcessWrapper.java
  commandline/src/main/java/com/thoughtworks/go/util/command/CommandLine.java
  commandline/src/main/java/com/thoughtworks/go/util/command/CommandLineException.java
  commandline/src/main/java/com/thoughtworks/go/util/command/ConsoleResult.java
  commandline/src/test/java/com/thoughtworks/go/util/command/CommandLineScriptRunnerTest.java
  common/src/main/java/com/thoughtworks/go/domain/builder/BaseCommandBuilder.java
  common/src/main/java/com/thoughtworks/go/domain/builder/Builder.java
  common/src/main/java/com/thoughtworks/go/domain/builder/pluggableTask/PluggableTaskBuilder.java
  common/src/test/java/com/thoughtworks/go/domain/builder/AbstractCommandBuilderScriptRunnerTest.java
  common/src/test/java/com/thoughtworks/go/domain/builder/StubBuilder.java
  common/src/test/java/com/thoughtworks/go/domain/builder/pluggableTask/PluggableTaskBuilderTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/builders/AntTaskBuilderTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/builders/BuilderFactoryTest.java
  util/src/main/java/com/thoughtworks/go/util/command/CheckedCommandLineException.java
  util/src/main/java/com/thoughtworks/go/util/command/CruiseControlException.java
  util/src/main/java/com/thoughtworks/go/util/command/StreamPumper.java
Labels: technical-debt

#11188 Correct test failure
  commandline/src/main/java/com/thoughtworks/go/util/command/StreamPumper.java
  commandline/src/test/java/com/thoughtworks/go/util/command/StreamPumperTest.java
  common/src/test/java/com/thoughtworks/go/domain/builder/pluggableTask/PluggableTaskBuilderTest.java
  plugin-infra/go-plugin-config-repo/build.gradle
Labels: tests, technical-debt

#11192 False positive security suppression
  buildSrc/dependency-check-suppress.xml
  server/templates/macros.ftl
Labels: build-script

#11193 Rationalise suppressions after NPM audit renumbering
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11198 Fix expectations/suppressions after Jakarta/Angus bumps
  buildSrc/dependency-check-suppress.xml
  server/build.gradle
Labels: dependencies, java

#11204 Remove unused notion of server state
  base/build.gradle
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  base/src/test/java/com/thoughtworks/go/util/SystemEnvironmentTest.java
  common/src/main/java/com/thoughtworks/go/server/service/result/HttpLocalizedOperationResult.java
  jetty9/build.gradle
  jetty9/src/test/java/com/thoughtworks/go/server/AssetsContextHandlerTest.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filters/ModeAwareFilter.java
  server/src/main/java/com/thoughtworks/go/server/service/MaintenanceModeService.java
  server/src/main/java/com/thoughtworks/go/server/service/ModeAwareRunnable.java
  server/src/main/java/com/thoughtworks/go/server/service/ModeAwareThreadPoolTaskScheduler.java
  server/src/main/resources/spring-cruise-remoting-servlet.xml
  server/src/main/webapp/WEB-INF/rails/app/controllers/go_errors_controller.rb
  server/src/main/webapp/WEB-INF/rails/app/helpers/application_helper.rb
  server/src/main/webapp/WEB-INF/rails/config/routes.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/application_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/application_controller_view_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/controllers/go_errors_controller_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/helpers/application_helper_spec.rb
  server/src/main/webapp/WEB-INF/rails/spec/rspec_config.rb
  server/src/main/webapp/WEB-INF/rails/spec/support/authentication_spec_helper.rb
  server/src/main/webapp/WEB-INF/rails/spec/support/util/test_controller.rb
  server/src/main/webapp/WEB-INF/urlrewrite.xml
  server/src/test-fast/java/com/thoughtworks/go/server/newsecurity/filters/ModeAwareFilterTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ModeAwareRunnableTest.java
Labels: technical-debt, java

#11160 Correct aggregation of test results with minified XML
  common/src/test/java/com/thoughtworks/go/domain/UnitTestReportGeneratorTest.java
  common/src/test/resources/data/test-results/junit-minified-from-pytest-no-decl.xml
  common/src/test/resources/data/test-results/junit-minified-from-pytest.xml
  config/config-api/src/main/java/com/thoughtworks/go/domain/UnitTestReportGenerator.java
Labels: artifacts, tests, bug-fix

#11205 Simplify OS completeName determination
  agent/build.gradle
  agent/src/main/java/com/thoughtworks/go/agent/AgentController.java
  agent/src/main/java/com/thoughtworks/go/agent/service/SslInfrastructureService.java
  agent/src/main/java/com/thoughtworks/go/agent/service/SystemInfo.java
  agent/src/test/java/com/thoughtworks/go/agent/service/SystemInfoTest.java
  api/api-internal-agent-v1/src/test/groovy/com/thoughtworks/go/apiv1/templateauthorization/InternalAgentControllerV1Test.groovy
  api/api-internal-agent-v1/src/test/groovy/com/thoughtworks/go/apiv1/templateauthorization/representers/GetCookieRequestRepresenterTest.groovy
  api/api-internal-agent-v1/src/test/groovy/com/thoughtworks/go/apiv1/templateauthorization/representers/GetWorkRequestRepresenterTest.groovy
  api/api-internal-agent-v1/src/test/groovy/com/thoughtworks/go/apiv1/templateauthorization/representers/IsIgnoredRequestRepresenterTest.groovy
  api/api-internal-agent-v1/src/test/groovy/com/thoughtworks/go/apiv1/templateauthorization/representers/PingRequestRepresenterTest.groovy
  api/api-internal-agent-v1/src/test/groovy/com/thoughtworks/go/apiv1/templateauthorization/representers/ReportCompleteStatusRequestRepresenterTest.groovy
  api/api-internal-agent-v1/src/test/groovy/com/thoughtworks/go/apiv1/templateauthorization/representers/ReportCurrentStatusRequestRepresenterTest.groovy
  base/src/main/java/com/thoughtworks/go/util/OperatingSystem.java
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  base/src/main/java/com/thoughtworks/go/util/SystemUtil.java
  base/src/test/java/com/thoughtworks/go/util/SystemEnvironmentTest.java
  build-platform/build.gradle
  common/src/main/java/com/thoughtworks/go/server/service/AgentRuntimeInfo.java
  common/src/main/java/com/thoughtworks/go/server/service/ElasticAgentRuntimeInfo.java
  common/src/test/java/com/thoughtworks/go/remote/work/artifact/ArtifactsPublisherTest.java
  common/src/test/java/com/thoughtworks/go/server/service/AgentRuntimeInfoTest.java
  common/src/test/java/com/thoughtworks/go/server/service/ElasticAgentRuntimeInfoTest.java
  dependencies.gradle
  jetty9/src/test/java/com/thoughtworks/go/server/AssetsContextHandlerTest.java
  plugin-infra/go-plugin-infra/src/main/java/com/thoughtworks/go/plugin/infra/listeners/DefaultPluginJarChangeListener.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/listeners/DefaultPluginJarChangeListenerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/AgentServiceTest.java
Labels: agents, java

#11214 Minor dependency bumps & de-duplicate
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, javascript

#11222 Fix issues with wrapper stalling or crashing on container starts
  installers/generic.gradle
  installers/linux.gradle
Labels: installers, docker-images

#11223 Bump chromedriver to 109
  server/jasmine.gradle
Labels: tests, build-script

#11230 Allow Plexus Classworlds license
  buildSrc/src/main/groovy/com/thoughtworks/go/build/LicenseReport.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/SpdxLicense.groovy
Labels: build-script, dependencies

#11228 Bump packaged JRE from 17.0.5 to 17.0.6
  build.gradle
Labels: installers, dependencies

#11233 Revert Gradle to 7.5.1
  gradle/wrapper/gradle-wrapper.properties
Labels: build-script, dependencies

#11234 Include identifiers for licenses with bad URLs
  buildSrc/src/main/groovy/com/thoughtworks/go/build/LicenseReport.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/NonSpdxLicense.groovy
  buildSrc/src/main/resources/license-for-javascript-not-in-yarn.json
  buildSrc/src/main/resources/license-report.css
Labels: build-script

#11236 Use build platform to constrain transitive versions
  build-platform/build.gradle
  dependencies.gradle
  server/build.gradle
  test/test-utils/build.gradle
Labels: build-script, dependencies, java

#11238 Bump ua-parser-js to 0.7.33
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, javascript

#11240 Bump rails to 6.1.7.2 (and related dependencies)
  server/src/main/webapp/WEB-INF/rails/Gemfile.lock
Labels: dependencies, ruby

#11248 Version lock angus-activation independently of angusMail/angusCore
  agent/build.gradle
  dependencies.gradle
  server/build.gradle
Labels: dependencies, java

#11249 Minor bumps to JS transitive dependencies
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, javascript

#11250 Fix suppressions after more NPM audit renumbering?
  buildSrc/dependency-check-suppress.xml
Labels: build-script

#11231 Crop overly long log lines
  base/src/main/java/com/thoughtworks/go/util/SystemEnvironment.java
  commandline/src/main/java/com/thoughtworks/go/util/command/CommandLine.java
  commandline/src/test/java/com/thoughtworks/go/util/command/CommandLineScriptRunnerTest.java
  util/src/main/java/com/thoughtworks/go/util/command/BoundedOutputStreamConsumer.java
  util/src/test/java/com/thoughtworks/go/util/command/BoundedOutputStreamConsumerTest.java
Labels: agents, console-log, java

#11251 Minor tidies to test code
  api/api-api-info-v2/src/test/groovy/com/thoughtworks/go/apiv2/apiinfo/ApiInfoControllerV2Test.groovy
  api/api-feeds-api-v1/src/test/groovy/com/thoughtworks/go/apiv1/feedsapi/FeedsApiControllerV1Test.groovy
  api/api-security-auth-config-v2/src/test/groovy/com/thoughtworks/go/apiv2/securityauthconfig/SecurityAuthConfigControllerV2Test.groovy
  commandline/src/test/java/com/thoughtworks/go/util/command/CommandLineScriptRunnerTest.java
  common/src/test/java/com/thoughtworks/go/domain/materials/perforce/P4CommandTestBase.java
  common/src/test/java/com/thoughtworks/go/server/domain/AgentInstancesTest.java
  domain/src/test/java/com/thoughtworks/go/domain/ArtifactPlanTest.java
  jetty9/src/test/java/com/thoughtworks/go/server/Jetty9ServerTest.java
  plugin-infra/go-plugin-config-repo/src/test/java/com/thoughtworks/go/plugin/configrepo/codec/ArtifactTypeAdapterTest.java
  plugin-infra/go-plugin-config-repo/src/test/java/com/thoughtworks/go/plugin/configrepo/codec/MaterialTypeAdapterTest.java
  plugin-infra/go-plugin-config-repo/src/test/java/com/thoughtworks/go/plugin/configrepo/codec/TaskTypeAdapterTest.java
  plugin-infra/go-plugin-infra/src/test/java/com/thoughtworks/go/plugin/infra/service/DefaultPluginLoggingServiceIntegrationTest.java
  server/src/test-fast/java/com/thoughtworks/go/helper/MaterialUpdateMessageMatcher.java
  server/src/test-fast/java/com/thoughtworks/go/server/materials/MaterialCheckerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/materials/MaterialUpdateServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/materials/MaterialUpdateStatusNotifierTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/messaging/activemq/JMSMessageListenerAdapterTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/AgentServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ArtifactsDiskSpaceFullCheckerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/ArtifactsServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/EnvironmentConfigServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/JobInstanceServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/PipelineLockCheckerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/PipelineUnlockApiServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/PluginProfilesServiceTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/StageLockCheckerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/service/TimerSchedulerTest.java
  server/src/test-fast/java/com/thoughtworks/go/server/web/FileViewTest.java
  server/src/test-integration/java/com/thoughtworks/go/domain/activity/JobStatusCacheTest.java
  server/src/test-integration/java/com/thoughtworks/go/domain/activity/StageStatusCacheTest.java
  server/src/test-integration/java/com/thoughtworks/go/fixture/ConfigWithFreeEditionLicense.java
  server/src/test-integration/java/com/thoughtworks/go/fixture/DatabaseDiskIsFull.java
  server/src/test-integration/java/com/thoughtworks/go/fixture/DatabaseDiskIsLow.java
  server/src/test-integration/java/com/thoughtworks/go/fixture/PipelineWithTwoStages.java
  server/src/test-integration/java/com/thoughtworks/go/fixture/PreCondition.java
  server/src/test-integration/java/com/thoughtworks/go/fixture/TwoPipelineGroups.java
  server/src/test-integration/java/com/thoughtworks/go/server/cronjob/GoDiskSpaceMonitorTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/functional/helpers/MaterialRevisionBuilder.java
  server/src/test-integration/java/com/thoughtworks/go/server/materials/ConfigMaterialUpdateListenerIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/materials/MaterialDatabaseDependencyUpdaterTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/materials/PackageMaterialUpdaterIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/persistence/MaterialRepositoryIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/AutoSchedulerIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/BuildCauseProducerServiceConfigRepoIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/DatabaseDiskSpaceFullTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineHistoryServiceIntegrationTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineServiceTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineServiceTriangleDependencyTest.java
  server/src/test-integration/java/com/thoughtworks/go/server/service/ScheduleServiceStageTriggerTest.java
  server/src/test-shared/java/com/thoughtworks/go/fixture/ArtifactsDiskIsFull.java
  server/src/test-shared/java/com/thoughtworks/go/fixture/ArtifactsDiskIsLow.java
  server/src/test-shared/java/com/thoughtworks/go/util/GoConfigFileHelper.java
Labels: tests, technical-debt, java

#11252 Fix failing integration test
  server/src/test-integration/java/com/thoughtworks/go/server/service/PipelineServiceTriangleDependencyTest.java
Labels: tests, technical-debt

#11254 Fix failing test
  plugin-infra/go-plugin-access/src/test/java/com/thoughtworks/go/plugin/access/notification/NotificationPluginRegistrarTest.java
  server/src/main/java/com/thoughtworks/go/server/persistence/MaterialQueries.java
Labels: tests, technical-debt

#11255 Fix rspec test expectations
  server/src/main/webapp/WEB-INF/rails/spec/controllers/stages_controller_spec.rb
Labels: tests, technical-debt

#11262 Correct loading of materials page under MySQL
  server/src/main/java/com/thoughtworks/go/server/persistence/MaterialRepository.java
Labels: materials, bug-fix
