Repository gocd/gocd, pull requests merged in 2023-03, with the labels that each got.

#11317 Fix agent upgrade check md5Header NullPointerExceptions
  agent/src/main/java/com/thoughtworks/go/agent/service/AgentUpgradeService.java
  server/src/main/java/com/thoughtworks/go/server/controller/AgentRegistrationController.java
  server/src/main/java/com/thoughtworks/go/server/newsecurity/filterchains/AuthenticationFilterChain.java
Labels: agents, authentication

#11341 Build most linux container images as multi-arch including arm64
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/BuildDockerImageTask.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/DistroBehavior.groovy
  docker/build.gradle
  docker/gocd-agent/build.gradle
  docker/gocd-server/build.gradle
Labels: docker-images

#11353 Include arm64 wrapper binaries in deb and rpm packages
  installers/linux.gradle
Labels: installers

#11358 Bump minor JS dependencies
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, javascript

#11359 Minor cleanups to server side cruft
  agent-launcher/src/main/java/com/thoughtworks/go/agent/launcher/Lockfile.java
  agent-launcher/src/test/java/com/thoughtworks/go/agent/launcher/LockfileTest.java
  server/src/main/java/com/thoughtworks/go/server/GoServer.java
  server/src/main/java/com/thoughtworks/go/server/controller/AgentRegistrationController.java
  server/src/test-fast/java/com/thoughtworks/go/server/GoServerTest.java
Labels: technical-debt, java

#11360 Upgrade Tanuki wrapper to 3.5.52
  dependencies.gradle
  installers/generic.gradle
  installers/linux.gradle
Labels: installers, dependencies

#11323 Allow including paused or cancelled pipelines/stages in user dashboard filters
  server/src/main/java/com/thoughtworks/go/server/domain/user/DashboardFilter.java
  server/src/main/java/com/thoughtworks/go/server/domain/user/FilterValidator.java
  server/src/main/webapp/WEB-INF/rails/app/assets/new_stylesheets/single_page_apps/pipeline_configs/_personalize_views_editor.scss
  server/src/main/webapp/WEB-INF/rails/spec/webpack/models/dashboard/dashboard_filter_spec.js
  server/src/main/webapp/WEB-INF/rails/spec/webpack/views/dashboard/model/personalize_editor_vm_spec.js
  server/src/main/webapp/WEB-INF/rails/webpack/models/dashboard/dashboard_filter.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/models/personalize_editor_vm.js
  server/src/main/webapp/WEB-INF/rails/webpack/views/dashboard/personalization_modal_widget.js.msx
Labels: enhancement, Dashboard, ui / ux

#11361 Revert "Upgrade Tanuki wrapper to 3.5.52"
  dependencies.gradle
  installers/generic.gradle
  installers/linux.gradle
Labels: installers, dependencies

#11365 Bump jruby-complete from 9.4.1.0 to 9.4.2.0
  dependencies.gradle
  server/src/main/webapp/WEB-INF/rails/.tool-versions
Labels: dependencies, java, ruby

#11366 Revert "Bump jruby-complete from 9.4.1.0 to 9.4.2.0"
  dependencies.gradle
  server/src/main/webapp/WEB-INF/rails/.tool-versions
Labels: dependencies, java, ruby

#11373 Fix docker repo publishing when not building images
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/BuildDockerImageTask.groovy
  docker/build.gradle
Labels: docker-images

#11372 [post-release] Bump up GoCD Version to 23.2.0
  build.gradle
Labels: technical

#11374 Upgrade Tanuki wrapper to 3.5.53
  dependencies.gradle
  installers/generic.gradle
  installers/linux.gradle
Labels: installers, dependencies

#11375 Remove deprecated backup v2 and dashboard v3 APIs
  .gitignore
  api/api-backups-v1/build.gradle
  api/api-backups-v1/src/main/java/com/thoughtworks/go/apiv1/admin/backups/BackupsController.java
  api/api-backups-v1/src/main/java/com/thoughtworks/go/apiv1/admin/backups/representers/BackupRepresenter.java
  api/api-backups-v1/src/test/groovy/com/thoughtworks/go/apiv1/admin/backups/BackupsControllerTest.groovy
  api/api-backups-v1/src/test/groovy/com/thoughtworks/go/apiv1/admin/backups/representers/BackupRepresenterTest.groovy
  api/api-dashboard-v3/build.gradle
  api/api-dashboard-v3/src/main/java/com/thoughtworks/go/apiv3/dashboard/DashboardControllerV3.java
  api/api-dashboard-v3/src/main/java/com/thoughtworks/go/apiv3/dashboard/representers/DashboardFor.java
  api/api-dashboard-v3/src/main/java/com/thoughtworks/go/apiv3/dashboard/representers/DashboardGroupRepresenter.java
  api/api-dashboard-v3/src/main/java/com/thoughtworks/go/apiv3/dashboard/representers/DashboardRepresenter.java
  api/api-dashboard-v3/src/main/java/com/thoughtworks/go/apiv3/dashboard/representers/PipelineInstanceRepresenter.java
  api/api-dashboard-v3/src/main/java/com/thoughtworks/go/apiv3/dashboard/representers/PipelineRepresenter.java
  api/api-dashboard-v3/src/main/java/com/thoughtworks/go/apiv3/dashboard/representers/StageRepresenter.java
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/DashboardControllerV3Test.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/GoDashboardPipelineMother.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/StageModelMother.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/representers/DashboardGroupRepresenterTest.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/representers/DashboardRepresenterTest.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/representers/PipelineInstanceRepresenterTest.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/representers/PipelineRepresenterTest.groovy
  api/api-dashboard-v3/src/test/groovy/com/thoughtworks/go/apiv3/dashboard/representers/StageRepresenterTest.groovy
  settings.gradle
Labels: Dashboard, apis, backup

#11376 Remove core files hanging around bloating CentOS 7 arm64 container image
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
Labels: docker-images

#11377 Fix mess in CentOS 7 images on arm64
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
Labels: docker-images

#11395 Bump transitive dependencies incl webpack 5
  server/src/main/webapp/WEB-INF/rails/yarn.lock
Labels: dependencies, javascript

#11396 Remove Ubuntu Bionic 18.04 image
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
Labels: docker-images

#11405 Minimise further size of CentOS Stream 9 images
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/Distro.groovy
  buildSrc/src/main/groovy/com/thoughtworks/go/build/docker/DistroBehavior.groovy
  buildSrc/src/main/resources/gocd-docker-agent/Dockerfile.agent.ftl
  buildSrc/src/main/resources/gocd-docker-server/Dockerfile.server.ftl
Labels: docker-images, dependencies

#11406 Tell dockerd to only bind TCP/HTTP API to localhost
  buildSrc/src/main/resources/gocd-docker-agent/docker-entrypoint.sh
  buildSrc/src/main/resources/gocd-docker-agent/run-docker-daemon.sh
Labels: docker-images

#11407 Correct ability to override env vars for dockerd in dind image
  buildSrc/src/main/resources/gocd-docker-agent/dockerd-sudo
  buildSrc/src/main/resources/gocd-docker-agent/run-docker-daemon.sh
Labels: docker-images

#11408 Allow dind image to be correctly verified
  docker/gocd-agent/build.gradle
Labels: docker-images

#11409 Disable rake task test on Windows
  server/src/test-fast/java/com/thoughtworks/go/remote/work/BuildWorkTest.java
Labels: tests

#11439 Tidy some warnings in artifact serving/cache code
  server/src/main/java/com/thoughtworks/go/server/cache/ArtifactCache.java
  server/src/main/java/com/thoughtworks/go/server/cache/ZipArtifactCache.java
  server/src/main/java/com/thoughtworks/go/server/web/ArtifactFolder.java
Labels: technical-debt
